@font-face {
  font-family: 'proxi-bold';
  src: url('../fonts/proxima-nova/proximanova-bold-webfont.eot');
  src: url('../fonts/proxima-nova/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxi-thin';
  src: url('../fonts/proxima-nova/proximanova-thin-webfont.eot');
  src: url('../fonts/proxima-nova/proximanova-thin-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-thin-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-thin-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxi-light';
  src: url('../fonts/proxima-nova/proximanova-light-webfont.eot');
  src: url('../fonts/proxima-nova/proximanova-light-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-light-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxi-regular';
  src: url('../fonts/proxima-nova/proximanova-regular-webfont.eot');
  src: url('../fonts/proxima-nova/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxi-regularitalic';
  src: url('../fonts/proxima-nova/proximanova-regularitalic-webfont.eot');
  src: url('../fonts/proxima-nova/proximanova-regularitalic-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-regularitalic-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-regularitalic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxi-semibold';
  src: url('../fonts/proxima-nova/proximanova-semibold-webfont.eot');
  src: url('../fonts/proxima-nova/proximanova-semibold-webfont.woff') format('woff'), url('../fonts/proxima-nova/proximanova-semibold-webfont.ttf') format('truetype'), url('../fonts/proxima-nova/proximanova-semibold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
