{%load staticfiles %}

<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="msvalidate.01" content="CE62852AD85E08A8AF201E0C275F649D" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - PropertyShare</title>
    <meta description ="Our aim is to make real estate investment in India affordable and accessible to everyone">
    <meta keywords ="Fractional Property Ownership, Real Estate, Real Estate in India, Invest Online, Investment, Property Investment in India, Commercial Property Investment in India, Real Estate Investing Online, Investment Properties India, High Yield Returns, Commercial Property Yields">
    <link rel="shortcut icon" type="image/png" href="{%static 'assets/media/fav-1.png' %}">
    <script src="{%static 'themes/flatly/js/libs/vue.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/modernizr.js' %}"></script>

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/font.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/select2.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/font-awesome/css/font-awesome.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/maine545.css' %}">

    <script src="{%static 'themes/flatly/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{%static 'themes/flatly/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{%static 'themes/flatly/bower_components/underscore/underscore-min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/ejs.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAnhnTgs34fO2OTnq4Fg7DLEt5gjxln8"></script>
    <script src="{%static 'themes/flatly/js/libs/jquery.googlemap.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/jquery.animateNumber.min.js' %}"></script>

    <script src="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/carousel.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/bxslider.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/select2.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/piechart.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/intlTelInput.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/mmenu.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/main632b.js' %}"></script>

    <script src="{%static 'modules/blog/js/socialShare.min.js' %}"></script>
</head>
<body ng-app="propertyshare">
    <div id="page-content-wrapper">
        <div class="container-fluid no-padding">
            <div class="webpage">
<header class="header white-brgd">
    <div class="header-content wrapper">
        <div class="container no-padding">
            <div class="logo header-child no-padding col-xs-8 col-lg-3 col-md-3 col-sm-2">
                <a class="display-block col-xs-12 col-lg-3 col-md-3 col-sm-3" href="{%url 'index'%}">
                    <img src="{%static 'assets/media/logo-blue.png'%}" alt="Property Share logo">
                </a>
            </div>
            <div class="links hidden-xs header-child no-padding col-xs-4 col-lg-6 col-md-6 col-sm-6">
                <div class="for-white-space">
                    <ul class="main-links-ul text-center">
                        <li class="main-links-li"><a class="white-text" href="{%url 'property-listing'%}">PROPERTIES</a></li>
                        <li class="main-links-li"><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                            <li class="dropdown main-links-li" style="cursor:pointer">
                                <a class="dropdown-toggle white-text" data-toggle="dropdown">RESOURCE CENTER
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="left: 0px;min-width: 182px;">
                                  <li><a href="{%url 'faq'%}"><span class="fa fa-question-circle" aria-hidden="true"></span>FAQs</a></li>
                                  <li><a href="{%url 'articles'%}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>ARTICLES</a></li>
                                  <li><a href="{%url 'investor-profile'%}"><span class="fa fa-users" aria-hidden="true"></span>INVESTOR PROFILE</a></li>
                                  <li><a href="{%url 'webinars'%}"><span class="fa fa-podcast" aria-hidden="true"></span>WEBINARS</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>

            <div class="links login-links hidden-xs header-child no-padding col-xs-4 col-lg-3 col-md-3 col-sm-4">
              <div class="for-white-space">
                <ul class="main-links-ul text-right">
                  {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'dashboard'%}>DASHBOARD</a></li>
                  {% endif %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'logout'%}>LOGOUT</a></li>
                  {% else %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'login'%}>LOGIN</a></li>
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn signup-modal-trigger" data-role="button" href={% url 'register'%}>SIGN UP</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>

            <a class="menu-mobile visible-xs" href="#menu"><span></span></a>
            <nav id="menu" class="visible-xs visibility-hidden">
                <ul>
                    <li class="cross"><span class="white-text">X</span></li>
                    <li><span class="main heading white-text-thirty">MAIN</span></li>
                    <li><a class="white-text" href="{%url 'index'%}">HOME</a></li>
                    <li><a class="white-text" href="{%url 'property-listing'%}">PROPERTIES</a></li>
                    <li><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                    <li><a class="white-text" href="{%url 'about-us'%}">ABOUT US</a></li>
                    <li><a class="white-text" href="{%url 'contact-us'%}">CONTACT US</a></li>
                    <li><a class="white-text" onclick="mobileLogin()">LOGIN</a></li>
                    <li><a class="white-text" href="{%url 'faq'%}">FAQs</a></li>
                    <li><a class="white-text" href="{%url 'articles'%}">ARTICLES</a></li>
                    <li><a class="white-text" href="{%url 'investor-profile'%}">INVESTOR PROFILE</a></li>
                    <li><a class="white-text" href="{%url 'webinars'%}">WEBINARS</a></li>
                    <li><span class="legal heading white-text-thirty">LEGAL</span></li>
                    <li><a class="white-text">TERMS &amp; CONDITIONS</a></li>
                    <li><a class="white-text">PRIVACY POLICY</a></li>
                    <li><span class="social heading white-text-thirty">SOCIAL</span></li>
                    <ul class="social">
                        <!-- <li class="icon-li"><a class="white-text"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                        <li class="icon-li"><a href="https://www.facebook.com/propertyshareindia/" class="white-text" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                </ul>
            </nav>
        </div>
    </div>
</header>



    <!-- signin model  -->
<div class="modal fade login-credentials" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="signinModalLabel">Welcome Back!</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                                        <label class="errMsg"></label>
                    <div id="activation_email_button_login" class="having_account text-center bottom-line" style="display: none">
                        <form name="resend-activation-email-form-login" action="https://www.propertyshare.in/api/resend-activation-email">
                            <input type="hidden" id="activation_email_link_login">
                        </form>
                        <span><a id="trigger_activation_email_login" data-role="button" data-email=''>Resend Activation Email</a></span>
                    </div>
                    <form name="signin" action="https://www.propertyshare.in/api/login">
          			   <div class="mat-div form-group ">
        					<label class="label mat-label">User Name</label>
        				    <input type="email" name="email" autocomplete="off" class="form-control mat-input user-icon" placeholder="">

          			    </div>
                        <div class="mat-div form-group ">
        					<label class="label mat-label">Password</label>
        				    <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">

                        </div>
                        <div class="forget-password form-group no-border-important">
                            <span class="cursor-pointer" data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#fp-popup">Forgot Password?</span>
                        </div>
                        <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_login">
                        <input type="hidden" name="city" class="user_city">
                        <input type="hidden" name="state" class="user_state">
                        <input type="hidden" name="country" class="user_country">
                        <input type="hidden" value="">
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Sign In">Sign In</i></button>
                        </div>
          		    </form>

          		    <div class="form-group text-center bottom-line">
          			   <span>Haven’t registered yet? <a data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#signup" class="cursor-pointer">Register</a></span>
          		    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signin model close -->

<!-- signup model -->
<div class="modal fade login-credentials" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <img src="https://www.propertyshare.in/assets/media/signup-back.png" alt="" class="pull-left back cursor-pointer" data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin"> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="signupModalLabel">Register Now!</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                    <label class="errMsg"></label>
                    <div id="activation_email_button_signup" class="having_account text-center bottom-line" style="display: none">
                        <form name="resend-activation-email-form-signup" action="https://www.propertyshare.in/api/resend-activation-email">
                            <input type="hidden" id="activation_email_link_signup">
                        </form>
                        <span><a id="trigger_activation_email_signup" data-role="button" data-email=''>Resend Activation Email</a></span>
                    </div>
                    <form name="signup" action="https://www.propertyshare.in/api/register">
                        <div class="mat-div form-group ">
                            <label class="label mat-label">Email</label>
                            <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">

                        </div>
                        <div class="mat-div form-group ">
                            <label class="label mat-label">Password</label>
                            <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">
                        </div>
                        <div class="mat-div form-group form-group overflow-hidden no-border-important">
                            <div class="form-group col-xs-6 no-padding ">
                                <label class="label mat-label">First Name</label>
                                <input type="name" name="first_name" autocomplete="off" class="form-control mat-input user-icon" placeholder="">
                            </div>
                            <div class="mat-div form-group col-xs-6 no-padding ">
                                <label class="label mat-label">Last Name</label>
                                <input type="name" name="last_name" autocomplete="off" class="form-control mat-input" placeholder="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="label">Phone</label>
                            <input type="text" name="phone_number" autocomplete="off" class="form-control onlyNumber user-phone" placeholder="">
                        </div>
                        <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_signup">
                        <input type="hidden" name="city" class="user_city">
                        <input type="hidden" name="state" class="user_state">
                        <input type="hidden" name="country" class="user_country">
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Register">Register</i></button>
                        </div>
                    </form>
                    <div class="having_account text-center bottom-line">
                        <span>Have an account? <a data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin">Sign In</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signup model close -->


<!-- forget password -->
<div class="modal fade login-credentials" id="fp-popup" tabindex="-1" role="dialog" aria-labelledby="fp-popup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="fp-popup-ModalLabel">Forgot Password?</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                    <div class="title text-center">
                       <span>Enter valid email id to reset your password</span>
                    </div>
                    <label class="errMsg"></label>
                    <form name="forgotPassword" action="https://www.propertyshare.in/api/resetPassword" style="padding-bottom: 25%;">
                        <div class="mat-div form-group">
                            <label class="label mat-label">Email</label>
                            <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">
                        </div>
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Submit">Submit</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forget password -->

<div class="static-page about-us">
	<div class="wrapper-sub">
		<div class="founder-words">
			<div class="founder-content section-padding container">
				<div class="title">
					<h1>Our aim is to make commercial properties in India affordable and accessible to everyone</h1>
					<span>- Founders</span>
				</div>
				<div class="sky">
					<img class="img-responsive" src="{%static 'assets/media/sky-white.png'%}" alt="">
				</div>
			</div>
		</div>
		<div class="our-vision">
			<div class="container">
				<div class="title">
					<h1>OUR VISION</h1>
				</div>
				<div class="vision-content">
					<div class="paras">
						<ul class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
							<li>
								<p>With ticket sizes getting larger by the day, the common investor is increasingly getting crowded out of the commercial property market. Lower investible funds also means gravitating towards under construction and early stage projects where payments are spread-out over time. This in turn leads to the common risks of real estate investing - rogue developers, unending construction delays, lack of proper approvals and a clear title.</p>

							</li>
							<li>
								<p>At Property Share, we believe the best risk-adjusted returns are actually available in buying completed Grade A properties at city-centre locations with a monthly rental yield.</p>
							</li>
						</ul>
						<ul class="col-xs-12 col-sm-12 col-lg-6 col-md-6">
							<li>
								<p>As social infrastructure improves within neighbourhoods (opening of new schools, malls, office complexes, restaurants and bars), increase in property prices inevitably follow. How can one benefit from these rising prices without making large capital outlays?</p>
							</li>
							<li>
								<p>Property Share was the answer to this question - a technological platform that allows fractional ownership of real estate among like-minded investors.</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="bottom-text">
					<span>Welcome to a new way of property ownership!</span>
				</div>
			</div>
		</div>
		<div class="behind-us">
			<div class="container">
				<div class="title">
					<h1>PEOPLE BEHIND US</h1>
				</div>
				<div class="people">
					<ul>
						<li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 text-right">
							<div class="people-box">
								<div class="image">
									<img data-toggle="modal" data-target="#kunal" src="{%static 'assets/media/kunal-new.jpg'%}" alt="" class="people-dp cursor-pointer">
									<div class="people-linkedin">
										<img src="{%static 'assets/media/people-ln.png'%}" alt="">
									</div>
								</div>
								<div class="people-text pull-right">
									<div class="people-name">
										<span>Kunal Moktan</span>
									</div>
									<div class="people-designation">
										<span>Founder and CEO at Property Share</span>
									</div>
								</div>
							</div>
						</li>
						<li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 text-left">
							<div class="people-box">
								<div class="image">
									<img data-toggle="modal" data-target="#hashim" src="{%static 'assets/media/hashim-new.png'%}" alt="" class="people-dp cursor-pointer">
									<div class="people-linkedin">
										<img src="{%static 'assets/media/people-ln.png'%}" alt="">
									</div>
								</div>
								<div class="people-text pull-left">
									<div class="people-name">
										<span>Hashim Khan</span>
									</div>
									<div class="people-designation">
										<span>Founder and CTO at Property Share</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Modal Kunal -->
		<div class="modal fade" id="kunal" tabindex="-1" role="dialog" aria-labelledby="kunalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <div class="modal-title" id="kunalLabel">
		        	<div class="image-box child col-xs-4">
		        		<div class="image">
							<img class="img-responsive" src="{%static 'assets/media/kunal-new.jpg'%}" alt="">
							<div class="people-linkedin">
								<img src="{%static 'assets/media/people-ln.png'%}" alt="">
							</div>
						</div>
		        	</div>
		        	<div class="title-box child col-xs-8">
		        		<div class="people-text">
							<div class="people-name">
								<span>Kunal Moktan</span>
							</div>
							<div class="people-designation">
								<span>Founder and CEO at Property Share</span>
							</div>
						</div>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-body">
		        <div class="text">
		        	<p>Kunal has over 8 years of experience of which more than 7 years have been at Blackstone Real Estate Partners, the world’s largest real estate fund with $93 billion of assets under management.</p>
		        	<p>At Blackstone, Kunal was a founder member of the India real estate team and was directly involved in investing c. $1 billion of equity into real estate assets in India. By the time Kunal left, Blackstone had become the single largest office landlord in India through ownership of marquee properties like the Manyata Tech Park and Embassy Golf Links (Bangalore), EON Business Park (Pune), Express Towers (Mumbai) among others.</p>
		        	<p>Kunal brings with him strong investing and asset management skills.</p>
		        	<p>Kunal completed his MBA from the Indian Institute of Management, Ahmedabad.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Modal Kunal close -->
		<!-- Modal hashim -->
		<div class="modal fade" id="hashim" tabindex="-1" role="dialog" aria-labelledby="hashimLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <div class="modal-title" id="hashimLabel">
		        	<div class="image-box child col-xs-4">
		        		<div class="image">
							<img class="img-responsive" src="{%static 'assets/media/hashim-new.png'%}" alt="">
							<div class="people-linkedin">
								<img src="{%static 'assets/media/people-ln.png'%}" alt="">
							</div>
						</div>
		        	</div>
		        	<div class="title-box child col-xs-8">
		        		<div class="people-text">
							<div class="people-name">
								<span>Hashim Khan</span>
							</div>
							<div class="people-designation">
								<span>Co Founder and CTO at Property Share</span>
							</div>
						</div>
		        	</div>
		        </div>
		      </div>
		      <div class="modal-body">
		        <div class="text">
		        	<p>Hashim has over 13 years of experience working in various IT roles - Development, Project Management, Business Solutions and General Management.</p>
		        	<p>Prior to Property Share, Hashim was the Head of IT of a large Middle Eastern conglomerate with multi-billion dollar businesses spanning Retail, Trading and Real Estate. In this role, he sponsored and headed various IT projects including enterprise application implementation, web application design and development and business process optimization.</p>
		        	<p>Hashim started his career as a Developer, using reverse-engineering/hacking to write translators for various encrypted design file formats. He has also been part of teams working on very large application development and is well versed with Enterprise Architecture, Security and Design considerations.</p>
		        	<p>Hashim is a B. Tech in Aerospace Engineering from IIT Kanpur and an MBA from IIM Ahmedabad.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Modal hashim close -->
	</div>
</div>

<!-- footer -->
<footer class="footer blue-brgd">
    <div class="wrapper-sub">
        <div class="wrapper section-padding foo">
            <div class="container">
                <div class="footer-main">
                    <div class="col-lg-4 col-md-4 col-sm-4 left text-center">
                        <div class="content">
                            <div class="logo">
                                <img src="{%static 'assets/media/logo-new-2.png'%}" alt="">
                            </div>
                            <!-- <div class="text visibility-hidden">
                                <span>Application of game elements and digital game design techniques to non-game problems, such as business and social impact challenges. This course will teach you the mechanisms of gamification, why </span>
                            </div> -->
                            <div class="social-icons hidden-xs">
                                <ul>
                                    <!-- <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                                        <a href="" target="_blank">
                                            <div class="icon linkedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </li> -->
                                    <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                                        <a href="https://www.facebook.com/propertyshareindia/" target="_blank">
                                            <div class="icon facebook">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 right text-center hidden-xs">
                        <div class="main col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="content">
                                <div class="title">
                                    <span>MAIN</span>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span>
                                                <a href="{%url 'property-listing'%}">properties</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'about-us'%}">about us</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'contact-us'%}">contact us</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'faq'%}">FAQs</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="legal col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="content">
                                <div class="title">
                                    <span>LEGAL</span>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span>
                                                <a>terms &amp; conditions</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a>privacy policy</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower text-center">
            <div class="wrapper wrapper-sub">
                <div class="container">
                        <div class="text">
                            <span>Investment in real estate involves a degree of risk and investors should not invest any funds unless they can afford to take the risk of losing their investment. For taking an investment decision, investors must rely on their own examination of the property including the risks involved.</span>
                        </div>
                    <div class="copy-right">
                        <span>Copyright © Hostmud</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
            <!-- footer close -->
            </div>
        </div>
    </div>
    <div class="modal fade request-confirmation-modal" id="request-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="request-confirmation-modal" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <h4 class="modal-title text-center">CONFIRMATION</h4>
        </div>
        <div class="modal-body">
            <div class="cnfm-content">
                <div class="image text-center">
                    <img style="padding-top: 10px;width: 60px;" src="{%static 'assets/media/details-cal-confirm.png'%}" alt="">
                </div>
                <div class="cnfm-text" style="text-align: center;margin-top: 30px;">
                    <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">Thank you for your interest</span>
                  <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">We will get in touch with you shortly!</span>
                </div>
            </div>
        </div>
      </div>
    </div>
</div></body>

</html>
