{%load staticfiles %}

<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="msvalidate.01" content="CE62852AD85E08A8AF201E0C275F649D" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Share</title>
    <meta description ="Property Share">
    <meta keywords ="Fractional Property Ownership, Real Estate, Real Estate in India, Invest Online, Investment, Property Investment in India, Commercial Property Investment in India, Real Estate Investing Online, Investment Properties India, High Yield Returns, Commercial Property Yields">
    <link rel="shortcut icon" type="image/png" href="{%static 'assets/media/fav-1.png' %}">
    <script src="{%static 'themes/flatly/js/libs/vue.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/modernizr.js' %}"></script>

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/font.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/select2.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/font-awesome/css/font-awesome.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/maine545.css' %}">

    <script src="{%static 'themes/flatly/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{%static 'themes/flatly/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{%static 'themes/flatly/bower_components/underscore/underscore-min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/ejs.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAnhnTgs34fO2OTnq4Fg7DLEt5gjxln8"></script>
    <script src="{%static 'themes/flatly/js/libs/jquery.googlemap.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/jquery.animateNumber.min.js' %}"></script>

    <script src="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/carousel.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/bxslider.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/select2.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/piechart.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/intlTelInput.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/mmenu.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/main632b.js' %}"></script>

    <script src="{%static 'modules/blog/js/socialShare.min.js' %}"></script>
</head>
<body ng-app="propertyshare">
    <div id="page-content-wrapper">
        <div class="container-fluid no-padding">
            <div class="webpage">
<header class="header white-brgd">
    <div class="header-content wrapper">
        <div class="container no-padding">
            <div class="logo header-child no-padding col-xs-8 col-lg-3 col-md-3 col-sm-2">
                <a class="display-block col-xs-12 col-lg-3 col-md-3 col-sm-3" href="{%url 'index'%}">
                    <img src="{%static 'assets/media/logo-blue.png'%}" alt="Property Share logo">
                </a>
            </div>
            <div class="links hidden-xs header-child no-padding col-xs-4 col-lg-6 col-md-6 col-sm-6">
                <div class="for-white-space">
                    <ul class="main-links-ul text-center">
                        <li class="main-links-li"><a class="white-text" href="{%url 'property-listing'%}">PROPERTIES</a></li>
                        <li class="main-links-li"><a class="white-text" href="how-it-works.html">HOW IT WORKS</a></li>
                            <li class="dropdown main-links-li" style="cursor:pointer">
                                <a class="dropdown-toggle white-text" data-toggle="dropdown">RESOURCE CENTER
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="left: 0px;min-width: 182px;">
                                  <li><a href="{%url 'faq'%}"><span class="fa fa-question-circle" aria-hidden="true"></span>FAQs</a></li>
                                  <li><a href="{%url 'articles'%}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>ARTICLES</a></li>
                                  <li><a href="{%url 'investor-profile'%}"><span class="fa fa-users" aria-hidden="true"></span>INVESTOR PROFILE</a></li>
                                  <li><a href="{%url 'webinars'%}"><span class="fa fa-podcast" aria-hidden="true"></span>WEBINARS</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>

            <div class="links login-links hidden-xs header-child no-padding col-xs-4 col-lg-3 col-md-3 col-sm-4">
              <div class="for-white-space">
                <ul class="main-links-ul text-right">
                  {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'dashboard'%}>DASHBOARD</a></li>
                  {% endif %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'logout'%}>LOGOUT</a></li>
                  {% else %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'login'%}>LOGIN</a></li>
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn signup-modal-trigger" data-role="button" href={% url 'register'%}>SIGN UP</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>

            <a class="menu-mobile visible-xs" href="#menu"><span></span></a>
            <nav id="menu" class="visible-xs visibility-hidden">
                <ul>
                    <li class="cross"><span class="white-text">X</span></li>
                    <li><span class="main heading white-text-thirty">MAIN</span></li>
                    <li><a class="white-text" href="{%url 'index'%}">HOME</a></li>
                    <li><a class="white-text" href="{%url 'property-listing'%}">PROPERTIES</a></li>
                    <li><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                    <li><a class="white-text" href="{%url 'about-us'%}">ABOUT US</a></li>
                    <li><a class="white-text" href="{%url 'contact-us'%}">CONTACT US</a></li>
                                            <li><a class="white-text" onclick="mobileLogin()">LOGIN</a></li>
                                        <li><a class="white-text" href="{%url 'faq'%}">FAQs</a></li>
                    <li><a class="white-text" href="{%url 'articles'%}">ARTICLES</a></li>
                    <li><a class="white-text" href="{%url 'investor-profile'%}">INVESTOR PROFILE</a></li>
                    <li><a class="white-text" href="{%url 'webinars'%}">WEBINARS</a></li>
                    <li><span class="legal heading white-text-thirty">LEGAL</span></li>
                    <li><a class="white-text">TERMS &amp; CONDITIONS</a></li>
                    <li><a class="white-text">PRIVACY POLICY</a></li>
                    <li><span class="social heading white-text-thirty">SOCIAL</span></li>
                    <ul class="social">
                        <!-- <li class="icon-li"><a class="white-text"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                        <li class="icon-li"><a href="https://www.facebook.com/propertyshareindia/" class="white-text" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                </ul>
            </nav>
        </div>
    </div>
</header>

    <script type="text/javascript" src="../web.mxradon.com/t/Tracker.js"></script>
    <script type="text/javascript">
        pidTracker('13881');
    </script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFCV59J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 923832581;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/923832581/?guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript">
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFCV59J');
</script>

    <!-- signin model  -->
<div class="modal fade login-credentials" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="signinModalLabel">Welcome Back!</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                                        <label class="errMsg"></label>
                    <div id="activation_email_button_login" class="having_account text-center bottom-line" style="display: none">
                        <form name="resend-activation-email-form-login" action="https://www.propertyshare.in/api/resend-activation-email">
                            <input type="hidden" id="activation_email_link_login">
                        </form>
                        <span><a id="trigger_activation_email_login" data-role="button" data-email=''>Resend Activation Email</a></span>
                    </div>
                    <form name="signin" action="https://www.propertyshare.in/api/login">
          			   <div class="mat-div form-group ">
        					<label class="label mat-label">User Name</label>
        				    <input type="email" name="email" autocomplete="off" class="form-control mat-input user-icon" placeholder="">

          			    </div>
                        <div class="mat-div form-group ">
        					<label class="label mat-label">Password</label>
        				    <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">

                        </div>
                        <div class="forget-password form-group no-border-important">
                            <span class="cursor-pointer" data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#fp-popup">Forgot Password?</span>
                        </div>
                        <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_login">
                        <input type="hidden" name="city" class="user_city">
                        <input type="hidden" name="state" class="user_state">
                        <input type="hidden" name="country" class="user_country">
                        <input type="hidden" value="">
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Sign In">Sign In</i></button>
                        </div>
          		    </form>

          		    <div class="form-group text-center bottom-line">
          			   <span>Haven’t registered yet? <a data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#signup" class="cursor-pointer">Register</a></span>
          		    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signin model close -->

<!-- signup model -->
<div class="modal fade login-credentials" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <img src="https://www.propertyshare.in/assets/media/signup-back.png" alt="" class="pull-left back cursor-pointer" data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin"> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="signupModalLabel">Register Now!</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                    <label class="errMsg"></label>
                    <div id="activation_email_button_signup" class="having_account text-center bottom-line" style="display: none">
                        <form name="resend-activation-email-form-signup" action="https://www.propertyshare.in/api/resend-activation-email">
                            <input type="hidden" id="activation_email_link_signup">
                        </form>
                        <span><a id="trigger_activation_email_signup" data-role="button" data-email=''>Resend Activation Email</a></span>
                    </div>
                    <form name="signup" action="https://www.propertyshare.in/api/register">
                        <div class="mat-div form-group ">
                            <label class="label mat-label">Email</label>
                            <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">

                        </div>
                        <div class="mat-div form-group ">
                            <label class="label mat-label">Password</label>
                            <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">
                        </div>
                        <div class="mat-div form-group form-group overflow-hidden no-border-important">
                            <div class="form-group col-xs-6 no-padding ">
                                <label class="label mat-label">First Name</label>
                                <input type="name" name="first_name" autocomplete="off" class="form-control mat-input user-icon" placeholder="">
                            </div>
                            <div class="mat-div form-group col-xs-6 no-padding ">
                                <label class="label mat-label">Last Name</label>
                                <input type="name" name="last_name" autocomplete="off" class="form-control mat-input" placeholder="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="label">Phone</label>
                            <input type="text" name="phone_number" autocomplete="off" class="form-control onlyNumber user-phone" placeholder="">
                        </div>
                        <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_signup">
                        <input type="hidden" name="city" class="user_city">
                        <input type="hidden" name="state" class="user_state">
                        <input type="hidden" name="country" class="user_country">
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Register">Register</i></button>
                        </div>
                    </form>
                    <div class="having_account text-center bottom-line">
                        <span>Have an account? <a data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin">Sign In</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signup model close -->


<!-- forget password -->
<div class="modal fade login-credentials" id="fp-popup" tabindex="-1" role="dialog" aria-labelledby="fp-popup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="fp-popup-ModalLabel">Forgot Password?</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                    <div class="title text-center">
                       <span>Enter valid email id to reset your password</span>
                    </div>
                    <label class="errMsg"></label>
                    <form name="forgotPassword" action="https://www.propertyshare.in/api/resetPassword" style="padding-bottom: 25%;">
                        <div class="mat-div form-group">
                            <label class="label mat-label">Email</label>
                            <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">
                        </div>
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Submit">Submit</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forget password -->

<div class="static-page">
    <div class="wrapper-sub">
        <div class="blogs-container static-checks-box section-padding-semi">
            <div class="title-heading">
                <h1>ARTICLES</h1>
            </div>
        </div>
    </div>
</div>

<div class="light-grey-brgd blog-index-container">
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="blog-section-head">FEATURED</h1>
			</div>
			<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">

  <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {{form.as_p}}
      <input type="submit">

  </form>
		</div>
	</div>
</div>
	 	</div>
	 </div>
			<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<hr>
				<h1 class="blog-section-head"> LATEST</h1>
			</div>
							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/how-real-estate-investment-can-help-millennials-secure-their-future.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/how-real-estate-investment-can-help-millennials-secure-their-future-banner.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/how-real-estate-investment-can-help-millennials-secure-their-future.html"><h1 class="blog-title-preview"> How real estate investment can help millennials secure their future</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 27 Feb 2018 </h2>
			<p class="blog-content-preview" align="justify"> Featured in Financial Express on 26th February 2018.

&nbsp;

Millennials have their own criteria for making investments, and are always on the lookout for tech-based solutions that can help them maximise their hard-earned incomes with minimal risks.

&nbsp;

Game changers, disruptors, early... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/how-real-estate-investment-can-help-millennials-secure-their-future.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/propertyshare-aims-to-cross-rs-500-crore-in-aum-in-2018.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/propertyshare-aims-to-cross-rs-500-crore-in-aum-in-2018-banner.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/propertyshare-aims-to-cross-rs-500-crore-in-aum-in-2018.html"><h1 class="blog-title-preview"> Propertyshare aims to cross Rs 500 crore in AUM in 2018</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 16 Jan 2018 </h2>
			<p class="blog-content-preview" align="justify"> Featured in Economic Times on 3rd January 2018.

&nbsp;

Propertyshare is eyeing expansion into multiple geographies, countries and asset classes including commercial, residential, retail, industrial (warehousing) and hospitality.

&nbsp;

Fractional property ownership platform Propertyshare... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/propertyshare-aims-to-cross-rs-500-crore-in-aum-in-2018.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/why-india-needs-to-implement-blockchain-in-real-estate.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/why-india-needs-to-implement-blockchain-in-real-estate-banner.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/why-india-needs-to-implement-blockchain-in-real-estate.html"><h1 class="blog-title-preview"> Why India needs to implement blockchain in real estate</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 15 Jan 2018 </h2>
			<p class="blog-content-preview" align="justify">
Why India needs to implement blockchain in real estate


&nbsp;

Rahul and his wife have been in the market for a three-bedroom flat in Bangalore for over a year but they are yet to find one that suits their needs. While browsing for properties on one of the online platforms, they finally thi... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/why-india-needs-to-implement-blockchain-in-real-estate.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/real-estate-tax-structure.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/real-estate-tax-structure-banner.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/real-estate-tax-structure.html"><h1 class="blog-title-preview"> Real Estate Tax Structure</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 15 Jan 2018 </h2>
			<p class="blog-content-preview" align="justify">
REAL ESTATE TAX STRUCTURE


&nbsp;

Real estate assets in India attract three kinds of taxes:

&nbsp;

1. Rental Income Tax

2. Capital Gains Tax

3. Property Tax

&nbsp;

1. Rental Income Tax

&nbsp;

All rent generating real estate assets are subject to rental income tax. A ... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/real-estate-tax-structure.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/10-commandments-of-real-estate-investing.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/10-commandments-of-real-estate-investing-banner.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/10-commandments-of-real-estate-investing.html"><h1 class="blog-title-preview"> 10 Commandments of Real Estate Investing</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 21 Nov 2017 </h2>
			<p class="blog-content-preview" align="justify"> Featured in Economic Times Wealth on 10th December 2017.

&nbsp;

Commercial real estate investing is not as difficult as it may appear. If you follow the basic principles of long term investing, you can earn much higher returns compared to fixed deposits and other debt mutual funds. But there a... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/10-commandments-of-real-estate-investing.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/how-commercial-leases-are-structured.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/how-commercial-leases-are-structured-main.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/how-commercial-leases-are-structured.html"><h1 class="blog-title-preview"> How Commercial Leases Are Structured</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 09 Nov 2017 </h2>
			<p class="blog-content-preview" align="justify"> Commercial leases are very different from residential leases, which tend to be structured with a standard 11-month tenure and an escalation at the end of the term. Residential leases are C2C meaning between two individuals &ndash; the landlord and the tenant and therefore tend to be less professiona... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/how-commercial-leases-are-structured.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/millennials-eye-innovative-investment-options.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/millennials-eye-innovative-investment-options-blog-banner.png'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/millennials-eye-innovative-investment-options.html"><h1 class="blog-title-preview"> Millennials Eye Innovative Investment Options</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 23 Oct 2017 </h2>
			<p class="blog-content-preview" align="justify"> Featured in Financial Chronicle on 23rd October 2017.

&nbsp;

Grade &#39;A&#39; rent-yielding commercial real estate provides the fixed returns of an FD with the opportunity of an equity upside

&nbsp;

For the longest time retail investors &nbsp;have seen their investment options limited t... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/millennials-eye-innovative-investment-options.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/making-investment-in-commercial-real-estate-easy.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/making-investment-in-commercial-real-estate-blog-banner-1.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/making-investment-in-commercial-real-estate-easy.html"><h1 class="blog-title-preview"> Making Investment in Commercial Real Estate Easy</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 22 Oct 2017 </h2>
			<p class="blog-content-preview" align="justify"> Kunal Moktan is co-founder and Chief Investment Officer at Property Share, India&rsquo;s first and leading fractional property ownership platform. He spearheads the investment team which sources, analyses, negotiates and executes property transactions for the platform.&nbsp; Kunal completed his MBA ... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/making-investment-in-commercial-real-estate-easy.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/how-digital-platforms-are-helping-real-estate.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/how-digital-platform-helping-blog-banner.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/how-digital-platforms-are-helping-real-estate.html"><h1 class="blog-title-preview"> How Digital Platforms Are Helping Real Estate</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 18 Oct 2017 </h2>
			<p class="blog-content-preview" align="justify"> Technology has helped the consumer change the way they go about their daily lives, be it hailing a cab, renting a bread and breakfast or buying phones and groceries. With smart phones and tablets and a faster internet connection came a new wave of platforms that drove people away from brick and mort... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/how-digital-platforms-are-helping-real-estate.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/where-should-you-invest-your-capital.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/wheretoinvest-1.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/where-should-you-invest-your-capital.html"><h1 class="blog-title-preview"> Where Should You Invest Your Capital</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 13 Sep 2017 </h2>
			<p class="blog-content-preview" align="justify"> As an investment management start-up we constantly get asked the question &ndash; How does investment in commercial real estate compare to other investment avenues? In this blog I am going to address that question by analyzing returns from various investment options.

&nbsp;

Let&rsquo;s start b... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/where-should-you-invest-your-capital.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/how-debt-affects-investment-returns.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/debt-1.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/how-debt-affects-investment-returns.html"><h1 class="blog-title-preview"> How Debt Affects Investment Returns</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 22 Jun 2017 </h2>
			<p class="blog-content-preview" align="justify"> In this blog we are going to look at an important aspect in any form of investing &ndash; Debt, also called Leverage, Gearing or simply a Loan.

&nbsp;

Any investment asset&nbsp;be it a Property, Stock or Bond generates returns. Property in the form of rent and capital appreciation, stock in th... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/how-debt-affects-investment-returns.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>							<div class="col-lg-12">
	<hr>
	<div class="go-bottom-30">
		<div class="blog-image-preview col-lg-4">
							<a href="article/choosing-the-right-property-to-invest.html"><img class="image-responsive blog-image" src="{%static 'assets/blogs/brigade-thumbnail_1.jpg'%}"></a>
						</div>
		<div class="col-lg-8 no-padding-mobile">
			<div class="blog-preview-section">
			<a href="article/choosing-the-right-property-to-invest.html"><h1 class="blog-title-preview"> Choosing the Right Property to Invest</h1></a>
						<h2 class="blog-details-preview">Kunal Moktan - 22 Jun 2017 </h2>
			<p class="blog-content-preview" align="justify"> Investing in property can be a stressful and time-consuming process. However, if you know what to look for it can be surprisingly easy and profitable. Over 8 years of investing at Blackstone (world&rsquo;s largest real estate fund) I visited hundreds of properties throughout the country met the CEOs... </p>
			</div>
			<div class="read-more-btn section-padding">
				<a href="article/choosing-the-right-property-to-invest.html">
					<button class="form-control blue read-more-blog-btn">Read More</button>
				</a>
			</div>
		</div>
	</div>
</div>					</div>
	</div>
	</div>
<!-- footer -->
<footer class="footer blue-brgd">
    <div class="wrapper-sub">
        <div class="wrapper section-padding foo">
            <div class="container">
                <div class="footer-main">
                    <div class="col-lg-4 col-md-4 col-sm-4 left text-center">
                        <div class="content">
                            <div class="logo">
                                <img src="{%static 'assets/media/logo-new-2.png'%}" alt="">
                            </div>
                            <!-- <div class="text visibility-hidden">
                                <span>Application of game elements and digital game design techniques to non-game problems, such as business and social impact challenges. This course will teach you the mechanisms of gamification, why </span>
                            </div> -->
                            <div class="social-icons hidden-xs">
                                <ul>
                                    <!-- <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                                        <a href="" target="_blank">
                                            <div class="icon linkedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </li> -->
                                    <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                                        <a href="https://www.facebook.com/propertyshareindia/" target="_blank">
                                            <div class="icon facebook">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 right text-center hidden-xs">
                        <div class="main col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="content">
                                <div class="title">
                                    <span>MAIN</span>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span>
                                                <a href="{%url 'property-listing'%}">properties</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'about-us'%}">about us</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'contact-us'%}">contact us</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'faq'%}">FAQs</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="legal col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="content">
                                <div class="title">
                                    <span>LEGAL</span>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span>
                                                <a>terms &amp; conditions</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a>privacy policy</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower text-center">
            <div class="wrapper wrapper-sub">
                <div class="container">
                        <div class="text">
                            <span>Investment in real estate involves a degree of risk and investors should not invest any funds unless they can afford to take the risk of losing their investment. For taking an investment decision, investors must rely on their own examination of the property including the risks involved.</span>
                        </div>
                    <div class="copy-right">
                        <span>Copyright © Hostmud</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
            <!-- footer close -->
            </div>
        </div>
    </div>
    <div class="modal fade request-confirmation-modal" id="request-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="request-confirmation-modal" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <h4 class="modal-title text-center">CONFIRMATION</h4>
        </div>
        <div class="modal-body">
            <div class="cnfm-content">
                <div class="image text-center">
                    <img style="padding-top: 10px;width: 60px;" src="{%static 'assets/media/details-cal-confirm.png'%}" alt="">
                </div>
                <div class="cnfm-text" style="text-align: center;margin-top: 30px;">
                    <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">Thank you for your interest</span>
                  <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">We will get in touch with you shortly!</span>
                </div>
            </div>
        </div>
      </div>
    </div>
</div></body>

</html>
