{%load crispy_forms_tags %}
{% load staticfiles%}

<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <title>Propshare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Hostmud" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static "images/favicon.jpg" %}">
        <!-- Plugins css -->
        <link href="http://coderthemes.com/highdmin/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
        <link href="http://coderthemes.com/highdmin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
        <link href="http://coderthemes.com/highdmin/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="http://coderthemes.com/highdmin/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
        <link href="http://coderthemes.com/highdmin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">


          <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

        <!--Form Wizard-->
        <link rel="stylesheet" type="text/css" href="http://coderthemes.com/highdmin/plugins/jquery.steps/css/jquery.steps.css" />

        <!-- App css -->
        <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/icons.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/metismenu.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/style_dark.css'%}" rel="stylesheet" type="text/css" />

        <script src="{%static 'js/modernizr.min.js'%}"></script>


    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <div class="slimscroll-menu" id="remove-scroll">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <a href="index-2.html" class="logo">
                            <span>
                                <img src="{%static 'images/mlogo.png'%}" alt="" height="22">
                            </span>
                            <i>
                                <img src="{%static 'images/logo_sm.jpg'%}" alt="" height="28">
                            </i>
                        </a>
                    </div>

                    <!-- User box -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="{%static 'images/users/avatar-1.jpg'%}" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                        </div>
                        <h5><a href="#">Maxine Kennedy</a> </h5>
                        <p class="text-muted">Admin Head</p>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <!--<li class="menu-title">Navigation</li>-->

                            <li>
                                <a href="{% url 'dashboard'%}">
                                    <i class="fi-air-play"></i> <span>Submit Property</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'dashproperty'%}">
                                  <i class="fi-layers"></i><span>All Properties</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'usersubmittedproperty'%}">
                                    <i class="fi-command"></i><span>User Properties</span>
                                </a>
                            </li>


                            <li>
                                <a href="{% url 'logout'%}"><i class="fi-disc"></i> <span>Logout </span></a>

                            </li>


                        </ul>

                    </div>
                    <!-- Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <nav class="navbar-custom">

                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <li class="hide-phone app-search">
                                <form>
                                    <input type="text" placeholder="Search..." class="form-control">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </li>

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="{%static 'images/users/avatar-1.jpg'%}" alt="user" class="rounded-circle"> <span class="ml-1">Maxine K <i class="mdi mdi-chevron-down"></i> </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h6 class="text-overflow m-0">Welcome !</h6>
                                    </div>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="fi-head"></i> <span>My Account</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="fi-power"></i> <span>Logout</span>
                                    </a>

                                </div>
                            </li>

                        </ul>

                        <ul class="list-inline menu-left mb-0">
                            <li class="float-left">
                                <button class="button-menu-mobile open-left disable-btn">
                                    <i class="dripicons-menu"></i>
                                </button>
                            </li>
                            <li>
                                <div class="page-title-box">
                                    <h4 class="page-title">All Listed Properties </h4>
                                    <ol class="breadcrumb">

                                        <li class="breadcrumb-item active">Edit the Property</li>

                                    </ol>
                                </div>
                            </li>

                        </ul>

                    </nav>

                </div>
                <!-- Top Bar End -->



                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                      <div class="row">
                          <div class="col-lg-12">
                              <div class="card-box">
                                  <h4 class="header-title mb-3">All Properties</h4>

                                  <div class="">
                                      <table class="table table-hover table-centered m-0">

                                          <thead>
                                          <tr>
                                              <th>Name of Property</th>
                                              <th>Total Area</th>
                                              <th>Price/sq.ft.</th>
                                              <th>Name of Tenant</th>
                                              <th>Description of Tenant</th>
                                              <th>Action</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                            {% for obj in object%}

                                          <tr>

                                              <td>
                                                  <h5 class="m-0 font-weight-normal">{{obj.NameProperty}}</h5>
                                                  <p class="mb-0 text-muted"><small>{{obj.TypeProperty}}</small></p>
                                              </td>

                                              <td>
                                                   {{obj.TotalAreaProperty}} SF
                                              </td>

                                              <td>
                                                  &#8377;{{obj.Pricesqfeet}}
                                              </td>

                                              <td>
                                                  {{obj.NameofTenant}}
                                              </td>

                                              <td>
                                                  {{obj.DescofTenant}}
                                              </td>

                                              <td>
                                                  <a href="{{obj.get_absolute_edit_url}}" class="btn btn-primary waves-light waves-effect">Edit</a>
                                              </td>
                                          </tr>
                                          {% endfor %}


                                          </tbody>
                                      </table>
                                  </div>
                              </div>

                          </div>


                      </div>

                        <!-- End row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    2018 © Hostmud
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->



        <!-- jQuery  -->
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <script src="{%static 'js/popper.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script src="{%static 'js/metisMenu.min.js'%}"></script>
        <script src="{%static 'js/waves.js'%}"></script>
        <script src="{%static 'js/jquery.slimscroll.js'%}"></script>

        <!-- plugin js -->
        <script src="http://coderthemes.com/highdmin/plugins/moment/moment.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/bootstrap-timepicker/bootstrap-timepicker.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/clockpicker/js/bootstrap-clockpicker.min.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

        <!-- Init js -->
        <script src="{%static 'pages/jquery.form-pickers.init.js'%}"></script>



        <!--Form Wizard-->
        <script src="http://coderthemes.com/highdmin/plugins/jquery.steps/js/jquery.steps.min.js" type="text/javascript"></script>

        <!--wizard initialization-->
        <script src="{%static 'pages/jquery.wizard-init.js'%}" type="text/javascript"></script>
        <!-- Parsley js -->
        <script type="text/javascript" src="http://coderthemes.com/highdmin/plugins/parsleyjs/parsley.min.js"></script>

        <!-- App js -->
        <script src="{%static 'js/jquery.core.js'%}"></script>
        <script src="{%static 'js/jquery.app.js'%}"></script>



    </body>

</html>
