{%load crispy_forms_tags %}
{% load staticfiles%}

<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <title>Propshare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Hostmud" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static "images/favicon.jpg" %}">
        <!-- Plugins css -->
        <link href="http://coderthemes.com/highdmin/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
        <link href="http://coderthemes.com/highdmin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
        <link href="http://coderthemes.com/highdmin/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="http://coderthemes.com/highdmin/plugins/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
        <link href="http://coderthemes.com/highdmin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">


          <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>

        <!--Form Wizard-->
        <link rel="stylesheet" type="text/css" href="http://coderthemes.com/highdmin/plugins/jquery.steps/css/jquery.steps.css" />

        <!-- App css -->
        <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/icons.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/metismenu.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/style_dark.css'%}" rel="stylesheet" type="text/css" />

        <script src="{%static 'js/modernizr.min.js'%}"></script>


    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">

                <div class="slimscroll-menu" id="remove-scroll">

                    <!-- LOGO -->
                    <div class="topbar-left">
                        <a href="index-2.html" class="logo">
                            <span>
                                <img src="{%static 'images/mlogo.png'%}" alt="" height="22">
                            </span>
                            <i>
                                <img src="{%static 'images/logo_sm.jpg'%}" alt="" height="28">
                            </i>
                        </a>
                    </div>

                    <!-- User box -->
                    <div class="user-box">
                        <div class="user-img">
                            <img src="{%static 'images/users/avatar-1.jpg'%}" alt="user-img" title="Mat Helme" class="rounded-circle img-fluid">
                        </div>
                        <h5><a href="#">Maxine Kennedy</a> </h5>
                        <p class="text-muted">Admin Head</p>
                    </div>

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <!--<li class="menu-title">Navigation</li>-->

                            <li>
                                <a href="{% url 'dashboard'%}">
                                    <i class="fi-air-play"></i> <span>Submit Property</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'dashproperty'%}">
                                    <i class="fi-layers"></i><span>All Properties</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'usersubmittedproperty'%}">
                                    <i class="fi-command"></i><span>User Properties</span>
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'logout'%}"><i class="fi-disc"></i> <span>Logout </span></a>

                            </li>


                        </ul>

                    </div>
                    <!-- Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
            <!-- Left Sidebar End -->



            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

            <div class="content-page">

                <!-- Top Bar Start -->
                <div class="topbar">

                    <nav class="navbar-custom">

                        <ul class="list-unstyled topbar-right-menu float-right mb-0">

                            <li class="hide-phone app-search">
                                <form>
                                    <input type="text" placeholder="Search..." class="form-control">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </li>

                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <img src="{%static 'images/users/avatar-1.jpg'%}" alt="user" class="rounded-circle"> <span class="ml-1">Maxine K <i class="mdi mdi-chevron-down"></i> </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h6 class="text-overflow m-0">Welcome !</h6>
                                    </div>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="fi-head"></i> <span>My Account</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="fi-power"></i> <span>Logout</span>
                                    </a>

                                </div>
                            </li>

                        </ul>

                        <ul class="list-inline menu-left mb-0">
                            <li class="float-left">
                                <button class="button-menu-mobile open-left disable-btn">
                                    <i class="dripicons-menu"></i>
                                </button>
                            </li>
                            <li>
                                <div class="page-title-box">
                                    <h4 class="page-title">Property Listing Form </h4>
                                    <ol class="breadcrumb">

                                        <li class="breadcrumb-item active">List the Property</li>

                                    </ol>
                                </div>
                            </li>

                        </ul>

                    </nav>

                </div>
                <!-- Top Bar End -->



                <!-- Start Page content -->
                <div class="content">
                    <div class="container-fluid">

                      <div class="alert alert-danger" role="alert" id=aler style="position:  fixed;z-index:  1000;align-self:  right;top: 8%;right: 5%;display:  block;height: 12%;width: 24%;text-align:  center;padding-top: 2%;font-size: 21px;display:  none;">
          Please fill all the <strong>Details</strong> !
                        </div>

                        <div class="alert alert-success" role="alert" id=addsub style="position:  fixed;z-index:  1000;align-self:  right;top: 5%;right: 5%;display: block;height: 14%;width: 28%;text-align:  center;font-size: 18px;padding-top: 2.5%;display: none;">
            Property added succesfully <strong>Now</strong> add another property!
                          </div>


                      <!-- Vertical Steps Example -->
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="card-box">
                                  <h4 class="m-t-0 header-title" id=he1 ><b>Property Details</b></h4>

                                  <h4 class="m-t-0 header-title" id=he2 style="display:none"><b>Property Documents</b></h4>
                                  <h4 class="m-t-0 header-title" id=he3 style="display:none"><b>Property Pricing</b></h4>
                                  <h4 class="m-t-0 header-title" id=he4 style="display:none"><b>Property Topups</b></h4>
                                  <h4 class="m-t-0 header-title" id=he5 style="display:none"><b>Property Tenants</b></h4>
                                  <p class="text-muted m-b-30 font-13">All Fields with (*) are Mandatory


                                  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                    <div id=probasic>

                                        <div class="form-group">
                                            <label>Property Name *</label>
                                            <div>
                                                <input type="text" id=NameProperty name="NameProperty" class="form-control" value="{{instance.NameProperty}}"  />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Type of Property *</label>
                                            <div>
                                                <input type="text" id=TypeProperty name="TypeProperty" class="form-control" value="{{instance.TypeProperty}}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Total Area of Property *</label>
                                            <div>
                                              <input type="number" id=TotalAreaProperty name="TotalAreaProperty" class="form-control" value="{{instance.Total_Area_Property}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Price / sq.ft. *</label>
                                            <div>
                                              <input type="number" id=Pricesqfeet name="Pricesqfeet" class="form-control" value="{{pricesqft}}"  />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Funding Type *</label>
                                            <div>
                                              <input type="text" id=Fundtype name="Fundtype" class="form-control" value="{{instance.Fundtype}}" />
                                            </div>
                                        </div>

                                    </div>

                                    <div  id=prodocs style="display:none"><!-- property docs-->

                                        <div class="form-group">
                                            <label>Thumb Image</label>
                                            <div>
                                                <input type="file" id=ThumbImage name=ThumbImage class="form-control" value="{{instance.ThumbImage}}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Big Image</label>
                                            <div>
                                                <input type="file" id=BigImage name="BigImage" class="form-control" value="{{instance.BigImage}}"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Report File *</label>
                                            <div>
                                              <input type="file" id=ReportFile name=ReportFile class="form-control" value="{{instance.ReportFile}}"  />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Floor Plan *</label>
                                            <div>
                                              <input type="file" id=FloorPlan name="FloorPlan" class="form-control" value="{{instance.FloorPlan}}" />
                                            </div>
                                        </div>
                                    </div>

                                    <div  id=propricing style="display:none"><!-- property pricing-->

                                      <div class="form-group">
                                          <label>Car Fee</label>
                                          <div>
                                              <input type="number" id=Carfee name=Carfee class="form-control" value="{{carfee}}"   />
                                          </div>
                                      </div>

                                        <div class="form-group">
                                            <label>Stamp Duty Fee</label>
                                            <div>
                                                <input type="number" id=Stampfee name="Stampfee" class="form-control" value="{{sd}}"  />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Registration Fee *</label>
                                            <div>
                                              <input type="number" id=Registrationfee name="Registrationfee" class="form-control" value="{{reg}}"   />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Brokerage Fee *</label>
                                            <div>
                                              <input type="number" id=Brokeragefee name="Brokeragefee" class="form-control"  value="{{bf}}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Legal Fee *</label>
                                            <div>
                                              <input type="number" id=Legalfee name="Legalfee" class="form-control"  value="{{lf}}"  />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Reserve Fee *</label>
                                            <div>
                                              <input type="number" id=Reservationfee name="Reservationfee" class="form-control"  value="{{rf}}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Rent Guarantee Fee *</label>
                                            <div>
                                              <input type="number" id=RentGuaranteefee name="RentGuaranteefee" class="form-control"  value="{{rgf}}" />
                                            </div>
                                        </div>
                                    </div>

                                    <div  id=protop style="display:none"><!-- property Topups-->

                                        <div class="form-group">
                                            <label>Minimum Investment</label>
                                            <div>
                                                <input type="number" id=MinInvestment name="MinInvestment" class="form-control" value="{{mi}}"
                                                        />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Map Location</label>
                                            <div>
                                                <input type="text" id=Maplocation name="Maplocation" class="form-control" value="{{instance.Maplocation}}"
                                                      />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Listing Opened *</label>
                                            <div class="input-group">
                                                <input type="text" data-date-format="yyyy/mm/dd" placeholder="yyyy/mm/dd" id="datepicker-autoclose" name="datepicker-autoclose" class="form-control" value="{{instance.ListingOpen}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Listing Closed *</label>
                                            <div class="input-group">
                                                <input type="text" data-date-format="yyyy/mm/dd" placeholder="yyyy/mm/dd" id="date-range" name="date-range" class="form-control" value="{{instance.ListingClose}}">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Management percent *</label>
                                            <div>
                                              <input type="number" id=ManagementPercent name="ManagementPercent" class="form-control" value="{{instance.ManagementPercent}}" />

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Rental percent / Rental topup *</label>
                                            <div>
                                              <input type="number" id=RentalPercent name="RentalPercent" class="form-control" value="{{instance.RentalPercent}}"
                                                    />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Indexation *</label>
                                            <div>
                                              <input type="number" id=Indexation name="Indexation" class="form-control" value="{{instance.Indexation}}"
                                                    />
                                            </div>
                                        </div>
                                    </div>

                                    <div  id=protenant style="display:none"><!-- Tenant Details -->

                                        <div class="form-group">
                                            <label>Name of Tenant</label>
                                            <div>
                                                <input type="text" id=NameofTenant name="NameofTenant" class="form-control" value="{{instance.NameofTenant}}" required
                                                      />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Description of Tenant</label>
                                            <div>
                                                <input type="text" id=DescofTenant name="DescofTenant" class="form-control" value="{{instance.DescofTenant}}" required
                                                        />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Rent / sq.ft. *</label>
                                            <div>
                                                <input type="number" id=Rentsqfeet name="Rentsqfeet" class="form-control" value="{{instance.Rentsqfeet}}" required
                                                      />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Area on Rent *</label>
                                            <div>
                                              <input type="number" id=AreaonRent name="AreaonRent" class="form-control" value="{{instance.AreaonRent}}" required
                                                    />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label >Lease start Date *</label>
                                            <div class="input-group">
                                                <input type="text" data-date-format="yyyy/mm/dd" placeholder="yyyy/mm/dd" id="datepicker" value="{{instance.LeasestartDate}}" name="datepicker" class="required form-control">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label >Lease End Date *</label>
                                            <div class="input-group">
                                                <input type="text" data-date-format="yyyy/mm/dd" placeholder="yyyy/mm/dd" id="datepicker-inline"  value="{{instance.LeaseendDate}}" name="datepicker-inline" class="required form-control">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Escalation Percentage *</label>
                                            <div>
                                              <input type="number" id=EscalationPercentage name="EscalationPercentage" class="form-control" value="{{instance.EscalationPercentage}}" required
                                                    />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Escalation Time (yrs) *</label>
                                            <div>
                                              <input type="number" id=EscalationTime name="EscalationTime" class="form-control"  value="{{instance.EscalationTime}}" required
                                                    />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Lock in Period *</label>
                                            <div>
                                              <input type="number" id=LockPeriod name="LockPeriod" class="form-control"  value="{{instance.LockPeriod}}" required
                                                    />
                                            </div>
                                        </div>

                                    </div>




                                                <button type="button" id=b1 class="btn btn-custom waves-effect waves-light">
                                                    Next
                                                </button>


                                                  <div class="button-list" id=bl1 style="display:none">

                                                <button type="button" id=bb2  class="btn btn-custom waves-effect waves-light">
                                                  Back
                                                </button>

                                                <button type="button" id=b2  class="btn btn-custom waves-effect waves-light">
                                                    Next
                                                </button>
                                              </div>
                                                <div class="button-list" id=bl2 style="display:none">
                                                <button type="button" id=bb3  class="btn btn-custom waves-effect waves-light">
                                                  Back
                                                </button>

                                                <button type="button" id=b3  class="btn btn-custom waves-effect waves-light">
                                                    Next
                                                </button>
                                              </div>
                                                <div class="button-list" id=bl3 style="display:none">
                                                <button type="button" id=bb4  class="btn btn-custom waves-effect waves-light">
                                                  Back
                                                </button>

                                                <button type="button" id=b4  class="btn btn-custom waves-effect waves-light">
                                                    Next
                                                </button>
                                              </div>


                                    <div class="button-list" id=bl4 style="display:none">
                                        <button type="button" id=bbsubmit  class="btn btn-custom waves-effect waves-light">
                                          Back
                                        </button>

                                        <button type="submit" id=bsubmit  class="btn btn-custom waves-effect waves-light">
                                            Submit
                                        </button>
                                      </div>

                                  </form>
                                  <!-- End #wizard-vertical -->
                              </div>
                          </div>
                      </div><!-- End row -->

                        <!-- End row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                    2018 © Hostmud
                </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->



        <!-- jQuery  -->
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <script src="{%static 'js/popper.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script src="{%static 'js/metisMenu.min.js'%}"></script>
        <script src="{%static 'js/waves.js'%}"></script>
        <script src="{%static 'js/jquery.slimscroll.js'%}"></script>

        <!-- plugin js -->
        <script src="http://coderthemes.com/highdmin/plugins/moment/moment.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/bootstrap-timepicker/bootstrap-timepicker.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/clockpicker/js/bootstrap-clockpicker.min.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="http://coderthemes.com/highdmin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

        <!-- Init js -->
        <script src="{%static 'pages/jquery.form-pickers.init.js'%}"></script>



        <!--Form Wizard-->
        <script src="http://coderthemes.com/highdmin/plugins/jquery.steps/js/jquery.steps.min.js" type="text/javascript"></script>

        <!--wizard initialization-->
        <script src="{%static 'pages/jquery.wizard-init.js'%}" type="text/javascript"></script>
        <!-- Parsley js -->
        <script type="text/javascript" src="http://coderthemes.com/highdmin/plugins/parsleyjs/parsley.min.js"></script>

        <!-- App js -->
        <script src="{%static 'js/jquery.core.js'%}"></script>
        <script src="{%static 'js/jquery.app.js'%}"></script>
        <!-- <script type="text/javascript">
        $(function(){
          $('a[href="#finish"]').on('click',function(){

            });
          });
        </script> -->
        <script>
        if( {{submitted}} == 1){

            var y = document.getElementById("aler");

          y.style.display = "block";
          setTimeout(function(){  y.style.display = "none"; }, 6000);


        }
        else if( {{submitted}} == 2){

            var y = document.getElementById("addsub");

          y.style.display = "block";
          setTimeout(function(){  y.style.display = "none"; }, 6000);


        }

        </script>
        <script>
        $(function(){

          $('button[id="b1"]').on('click',function(){

              $('#b1').css('display','none');
                $('#probasic').css('display','none');
                  $('#prodocs').css('display','block');
                    $('#bl1').css('display','block');


                    $('#he1').css('display','none');
                      $('#he2').css('display','block');
          });
          $('button[id="b2"]').on('click',function(){

              $('#bl1').css('display','none');

                $('#prodocs').css('display','none');
                  $('#propricing').css('display','block');
                    $('#bl2').css('display','block');


                    $('#he2').css('display','none');
                      $('#he3').css('display','block');
          });
          $('button[id="b3"]').on('click',function(){

              $('#bl2').css('display','none');

                $('#propricing').css('display','none');
                  $('#protop').css('display','block');
                    $('#bl3').css('display','block');


                    $('#he3').css('display','none');
                      $('#he4').css('display','block');
          });
          $('button[id="b4"]').on('click',function(){

            $('#bl3').css('display','none');

            $('#bl4').css('display','block');

                $('#protop').css('display','none');
                  $('#protenant').css('display','block');


                    $('#he4').css('display','none');
                      $('#he5').css('display','block');
          });

          $('button[id="bb2"]').on('click',function(){

              $('#b1').css('display','block');
                $('#probasic').css('display','block');
                  $('#prodocs').css('display','none');
                    $('#bl1').css('display','none');


                    $('#he1').css('display','block');
                      $('#he2').css('display','none');
          });

          $('button[id="bb3"]').on('click',function(){

              $('#bl1').css('display','block');
                $('#prodocs').css('display','block');
                  $('#propricing').css('display','none');
                    $('#bl2').css('display','none');


                    $('#he2').css('display','block');
                      $('#he3').css('display','none');
          });

          $('button[id="bb4"]').on('click',function(){

            $('#bl2').css('display','block');
              $('#bl3').css('display','none');
                $('#protop').css('display','none');
                  $('#propricing').css('display','block');


                    $('#he4').css('display','none');
                      $('#he3').css('display','block');
          });

          $('button[id="bbsubmit"]').on('click',function(){
            $('#bl3').css('display','block');

                $('#protop').css('display','block');
                  $('#protenant').css('display','none');
                    $('#bl4').css('display','none');

                    $('#he4').css('display','block');
                      $('#he5').css('display','none');
          });


        });
        </script>


    </body>

</html>
