{% load staticfiles %}

<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="msvalidate.01" content="CE62852AD85E08A8AF201E0C275F649D" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How It Works - PropertyShare</title>
    <meta description ="Property Share">
    <meta keywords ="Fractional Property Ownership, Real Estate, Real Estate in India, Invest Online, Investment, Property Investment in India, Commercial Property Investment in India, Real Estate Investing Online, Investment Properties India, High Yield Returns, Commercial Property Yields">
    <link rel="shortcut icon" type="image/png" href="{%static 'assets/media/fav-1.png'%}">
    <script src="{%static 'themes/flatly/js/libs/vue.min.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/modernizr.js'%}"></script>

    <link media="all" type="text/css" rel="stylesheet" href="{% static 'themes/flatly/css/font.css'%}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/select2.min.css'%}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/bootstrap/dist/css/bootstrap.min.css'%}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css'%}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/font-awesome/css/font-awesome.min.css'%}">

    <link media="all" type="text/css" rel="stylesheet" href="{% static 'themes/flatly/css/maine545.css'%}">

    <script src="{%static 'themes/flatly/bower_components/jquery/dist/jquery.min.js'%}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{%static 'themes/flatly/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <script src="{%static 'themes/flatly/bower_components/underscore/underscore-min.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/ejs.js'}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAnhnTgs34fO2OTnq4Fg7DLEt5gjxln8"></script>
    <script src="{%static 'themes/flatly/js/libs/jquery.googlemap.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/jquery.animateNumber.min.js'%}"></script>

    <script src="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/carousel.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/bxslider.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/select2.min.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/piechart.min.js'%}"></script>

    <script src="{%static 'themes/flatly/js/intlTelInput.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/mmenu.min.js'%}"></script>

    <script src="{%static 'themes/flatly/js/libs/main632b.js'%}"></script>

    <script src="{%static 'modules/blog/js/socialShare.min.js'%}"></script>
</head>
<body ng-app="propertyshare">
    <div id="page-content-wrapper">
        <div class="container-fluid no-padding">
            <div class="webpage">
<header class="header white-brgd">
    <div class="header-content wrapper">
        <div class="container no-padding">
            <div class="logo header-child no-padding col-xs-8 col-lg-3 col-md-3 col-sm-2">
                <a class="display-block col-xs-12 col-lg-3 col-md-3 col-sm-3" href="{%url 'index'%}">
                    <img src="{%static 'assets/media/logo-blue.png'%}" alt="Property Share logo">
                </a>
            </div>
            <div class="links hidden-xs header-child no-padding col-xs-4 col-lg-6 col-md-6 col-sm-6">
                <div class="for-white-space">
                    <ul class="main-links-ul text-center">
                        <li class="main-links-li"><a class="white-text" href="{%url 'property-listing'%}">PROPERTIES</a></li>
                        <li class="main-links-li"><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                            <li class="dropdown main-links-li" style="cursor:pointer">
                                <a class="dropdown-toggle white-text" data-toggle="dropdown">RESOURCE CENTER
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="left: 0px;min-width: 182px;">
                                  <li><a href="{%url 'faq'%}"><span class="fa fa-question-circle" aria-hidden="true"></span>FAQs</a></li>
                                  <li><a href="{%url 'articles'%}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>ARTICLES</a></li>
                                  <li><a href="{% url 'investor-profile'%}"><span class="fa fa-users" aria-hidden="true"></span>INVESTOR PROFILE</a></li>
                                  <li><a href="{%url 'webinars'%}"><span class="fa fa-podcast" aria-hidden="true"></span>WEBINARS</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>

            <div class="links login-links hidden-xs header-child no-padding col-xs-4 col-lg-3 col-md-3 col-sm-4">
              <div class="for-white-space">
                <ul class="main-links-ul text-right">
                  {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'dashboard'%}>DASHBOARD</a></li>
                  {% endif %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'logout'%}>LOGOUT</a></li>
                  {% else %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'login'%}>LOGIN</a></li>
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn signup-modal-trigger" data-role="button" href={% url 'register'%}>SIGN UP</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>

            <a class="menu-mobile visible-xs" href="#menu"><span></span></a>
            <nav id="menu" class="visible-xs visibility-hidden">
                <ul>
                    <li class="cross"><span class="white-text">X</span></li>
                    <li><span class="main heading white-text-thirty">MAIN</span></li>
                    <li><a class="white-text" href="{%url 'index'%}">HOME</a></li>
                    <li><a class="white-text" href="{%url 'property-listing'%}">PROPERTIES</a></li>
                    <li><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                    <li><a class="white-text" href="{%url 'about-us'%}">ABOUT US</a></li>
                    <li><a class="white-text" href="{%url 'contact-us'%}">CONTACT US</a></li>
                    <li><a class="white-text" href="{% url 'login'%}">LOGIN</a></li>
                    <li><a class="white-text" href="{%url 'faq'%}">FAQs</a></li>
                    <li><a class="white-text" href="{%url 'articles'%}">ARTICLES</a></li>
                    <li><a class="white-text" href="{%url 'investor-profile'%}">INVESTOR PROFILE</a></li>
                    <li><a class="white-text" href="{%url 'webinars'%}">WEBINARS</a></li>
                    <li><span class="legal heading white-text-thirty">LEGAL</span></li>
                    <li><a class="white-text">TERMS &amp; CONDITIONS</a></li>
                    <li><a class="white-text">PRIVACY POLICY</a></li>
                    <li><span class="social heading white-text-thirty">SOCIAL</span></li>
                    <ul class="social">
                        <!-- <li class="icon-li"><a class="white-text"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                        <li class="icon-li"><a href="https://www.facebook.com/propertyshareindia/" class="white-text" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                </ul>
            </nav>
        </div>
    </div>
</header>

    <script type="text/javascript" src="../web.mxradon.com/t/Tracker.js"></script>
    <script type="text/javascript">
        pidTracker('13881');
    </script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFCV59J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 923832581;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/923832581/?guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript">
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFCV59J');
</script>

    <!-- signin model  -->
<div class="modal fade login-credentials" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="signinModalLabel">Welcome Back!</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                                        <label class="errMsg"></label>
                    <div id="activation_email_button_login" class="having_account text-center bottom-line" style="display: none">
                        <form name="resend-activation-email-form-login" action="https://www.propertyshare.in/api/resend-activation-email">
                            <input type="hidden" id="activation_email_link_login">
                        </form>
                        <span><a id="trigger_activation_email_login" data-role="button" data-email=''>Resend Activation Email</a></span>
                    </div>
                    <form name="signin" action="https://www.propertyshare.in/api/login">
          			   <div class="mat-div form-group ">
        					<label class="label mat-label">User Name</label>
        				    <input type="email" name="email" autocomplete="off" class="form-control mat-input user-icon" placeholder="">

          			    </div>
                        <div class="mat-div form-group ">
        					<label class="label mat-label">Password</label>
        				    <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">

                        </div>
                        <div class="forget-password form-group no-border-important">
                            <span class="cursor-pointer" data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#fp-popup">Forgot Password?</span>
                        </div>
                        <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_login">
                        <input type="hidden" name="city" class="user_city">
                        <input type="hidden" name="state" class="user_state">
                        <input type="hidden" name="country" class="user_country">
                        <input type="hidden" value="">
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Sign In">Sign In</i></button>
                        </div>
          		    </form>

          		    <div class="form-group text-center bottom-line">
          			   <span>Haven’t registered yet? <a data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#signup" class="cursor-pointer">Register</a></span>
          		    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signin model close -->

<!-- signup model -->
<div class="modal fade login-credentials" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <img src="https://www.propertyshare.in/assets/media/signup-back.png" alt="" class="pull-left back cursor-pointer" data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin"> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="signupModalLabel">Register Now!</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                    <label class="errMsg"></label>
                    <div id="activation_email_button_signup" class="having_account text-center bottom-line" style="display: none">
                        <form name="resend-activation-email-form-signup" action="https://www.propertyshare.in/api/resend-activation-email">
                            <input type="hidden" id="activation_email_link_signup">
                        </form>
                        <span><a id="trigger_activation_email_signup" data-role="button" data-email=''>Resend Activation Email</a></span>
                    </div>
                    <form name="signup" action="https://www.propertyshare.in/api/register">
                        <div class="mat-div form-group ">
                            <label class="label mat-label">Email</label>
                            <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">

                        </div>
                        <div class="mat-div form-group ">
                            <label class="label mat-label">Password</label>
                            <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">
                        </div>
                        <div class="mat-div form-group form-group overflow-hidden no-border-important">
                            <div class="form-group col-xs-6 no-padding ">
                                <label class="label mat-label">First Name</label>
                                <input type="name" name="first_name" autocomplete="off" class="form-control mat-input user-icon" placeholder="">
                            </div>
                            <div class="mat-div form-group col-xs-6 no-padding ">
                                <label class="label mat-label">Last Name</label>
                                <input type="name" name="last_name" autocomplete="off" class="form-control mat-input" placeholder="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="label">Phone</label>
                            <input type="text" name="phone_number" autocomplete="off" class="form-control onlyNumber user-phone" placeholder="">
                        </div>
                        <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_signup">
                        <input type="hidden" name="city" class="user_city">
                        <input type="hidden" name="state" class="user_state">
                        <input type="hidden" name="country" class="user_country">
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Register">Register</i></button>
                        </div>
                    </form>
                    <div class="having_account text-center bottom-line">
                        <span>Have an account? <a data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin">Sign In</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signup model close -->


<!-- forget password -->
<div class="modal fade login-credentials" id="fp-popup" tabindex="-1" role="dialog" aria-labelledby="fp-popup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="fp-popup-ModalLabel">Forgot Password?</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                    <div class="title text-center">
                       <span>Enter valid email id to reset your password</span>
                    </div>
                    <label class="errMsg"></label>
                    <form name="forgotPassword" action="https://www.propertyshare.in/api/resetPassword" style="padding-bottom: 25%;">
                        <div class="mat-div form-group">
                            <label class="label mat-label">Email</label>
                            <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">
                        </div>
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Submit">Submit</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forget password -->

<div class="static-page how-it-works">
	<div class="how-it-works-content">
		<div class="title static-title page-title text-center section-padding-static light-grey-brgd">
			<label>HOW IT WORKS</label>
		</div>
		<div class="video text-center light-grey-brgd">
			<div class="video-container">
				<!-- <video width="420" height="345" controls class="video">
					<source src="https://www.propertyshare.in/assets/media/video.mp4" type="video/mp4">
				</video> -->
				<iframe id="how_it_works_video" class="video" width="550" height="350"  allowfullscreen style="max-width: 100%;"></iframe>			</div>
		</div>
		<div class="light-grey-brgd section-padding">
			<div class="container">
				<div class="htw-list padding-five-top">
					<ul>
						<li class="col-lg-3 col-md-3 col-sm-3">
							<div class="image child">
								<img src="{%static 'assets/media/browse.png'%}" alt="">
							</div>
							<div class="number child">
								<span>01</span>
								<img src="{%static 'assets/media/circle-blue.png'%}" alt="">
							</div>
							<div class="list-title child">
								<h3>BROWSE</h3>
							</div>
							<div class="list-text child">
								<span>View our curated property offerings</span>
							</div>
						</li>
						<li class="col-lg-3 col-md-3 col-sm-3">
							<div class="image child">
								<img src="{%static 'assets/media/select.png'%}" alt="">
							</div>
							<div class="number child">
								<span>02</span>
								<img src="{%static 'assets/media/circle-blue.png'%}" alt="">
							</div>
							<div class="list-title child">
								<h3>SELECT</h3>
							</div>
							<div class="list-text child">
								<span>Select the property you like</span>
							</div>
						</li>
						<li class="col-lg-3 col-md-3 col-sm-3">
							<div class="image child">
								<img src="{%static 'assets/media/earn.png'%}" alt="">
							</div>
							<div class="number child">
								<span>03</span>
								<img src="{%static 'assets/media/circle-blue.png'%}" alt="">
							</div>
							<div class="list-title child">
								<h3>EARN</h3>
							</div>
							<div class="list-text child">
								<span>Start earning monthly rents</span>
							</div>
						</li>
						<li class="col-lg-3 col-md-3 col-sm-3">
							<div class="image child">
								<img src="{%static 'assets/media/sell.png'%}" alt="">
							</div>
							<div class="number child">
								<span>04</span>
								<img src="{%static 'assets/media/circle-blue.png'%}" alt="">
							</div>
							<div class="list-title child">
								<h3>SELL</h3>
							</div>
							<div class="list-text child">
								<span>Sell your fraction and realize gains</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="fractional-ownership section-padding sky-blue-brgd">
			<div class="container wrapper-sub">
				<div class="title static-title">
					<label>WHAT IS FRACTIONAL OWNERSHIP?</label>
				</div>
				<div class="full-image col-xs-12 padding-five-top">
					<img class="img-responsive margin-zeroAuto" src="{%static 'assets/media/fractional-ownership-full.png'%}" alt="">
				</div>
				<div class="text-btn">
					<ul>
						<li>
							<div class="watch-btn-div">
								<button id="watch_video_how_it_works" class="margin-zeroAuto watch-btn" data-toggle="modal" data-target="#home-watch-video"><i>WATCH VIDEO</i></button>
							</div>
						</li>
						<li>
							<div class="text">
								<span class="margin-zeroAuto">Own a specific FRACTION of a property while earning returns similar to purchasing the entire property.</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
	</div>
		<div class="what-earn section-padding">
			<div class="container wrapper-sub">
				<div class="title static-title">
					<label>WHAT WILL I EARN?</label>
				</div>
				<div class="earn-list list">
					<ul>
						<li class="col-xs-6">
							<div class="list-box">
								<img src="{%static 'assets/media/earn-rent.png'%}" alt="">
								<label>RENT</label>
								<span>Receive monthly rents for your fraction straight into your account.</span>
							</div>
						</li>
						<li class="col-xs-6">
							<div class="list-box">
								<img src="{%static 'assets/media/earn-capital.png'%}" alt="">
								<label>CAPITAL APPRECIATION</label>
								<span>Profit from increase in property value on sale.</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="how-exit section-padding sky-blue-brgd">
			<div class="container wrapper-sub">
				<div class="title static-title">
					<label>HOW DO I EXIT?</label>
				</div>
				<div class="exit-list list">
					<ul>
						<li class="col-xs-4">
							<div class="list-box">
								<img src="{%static 'assets/media/exit-hold.png'%}" alt="">
								<label>HOLD TILL EXIT</label>
								<span>Realise your gains when we sell the property between 3 and 5 years.</span>
							</div>
						</li>
						<li class="col-xs-4">
							<div class="list-box">
								<img src="{%static 'assets/media/exit-resale-new.png'%}" alt="">
								<label>SELL ON OUR RE-SALE PLATFORM</label>
								<span>Sell your share partly or fully at anytime on our resale platform.</span>
							</div>
						</li>
						<li class="col-xs-4">
							<div class="list-box">
								<img src="{%static 'assets/media/exit-offline.png'%}" alt="">
								<label>SELL OFFLINE TO ANYONE</label>
								<span>Sell your share offline to friends, family, colleagues.</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="prop-resg section-padding">
			<div class="container wrapper-sub">
				<div class="title static-title">
					<label>HOW ARE PROPERTIES REGISTERED?</label>
				</div>
				<div class="prop-resg list">
					<ul>
						<li class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
							<div class="list-box">
								<img src="{%static 'assets/media/prop-resg-residential.png'%}" alt="">
								<label>RESIDENTIAL</label>
								<div class="text-box">
									<i class="fa fa-check"></i>
									<span>Properties are registered in the name of a Limited Liability Partnership.</span>
								</div>
								<div class="text-box">
									<i class="fa fa-check"></i>
									<span>Each investor becomes a partner in the LLP.</span>
								</div>
							</div>
						</li>
						<li class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
							<div class="list-box">
								<img src="{%static 'assets/media/prop-resg-commercial-new.png'%}" alt="">
								<label>COMMERCIAL</label>
								<div class="text-box">
									<i class="fa fa-check"></i>
									<span>Properties are directly registered in the individuals names.</span>
								</div>
								<div class="text-box">
									<i class="fa fa-check"></i>
									<span>Investor’s names appear on the Sale Deed.</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="investor-testimonials section-padding text-center sky-blue-brgd">
			<div class="wrapper-sub">
				<div class="container">
					<div class="title static-title">
						<label>INVESTOR TESTIMONIALS</label>
					</div>
					<div class="investor-testimonials-list">
						<ul class="investor-testimonials-ul no-bxslider two col-lg-9 col-md-10">
	<li class="investor-testimonials-li col-xs-12 col-lg-3 col-md-3 col-md-3 col-sm-3" data-index="five">
		<div class="list-main">
			<div class="image">
				<img class="img-responsive text-center" src="{%static 'assets/media/sujan-murahari.jpg'%}"  alt="">
			</div>
			<div class="details-top">
				<div class="social-icons col-xs-4">
					<ul>
						<li class="col-xs-5">
							<a href="https://www.linkedin.com/in/sujanmurahari/" target="_blank">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="play-btn col-xs-4 pull-right no-padding text-right">
					<img id="sujan_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
				</div>
			</div>
			<div class="overlay"></div>
			<div class="details-bottom">
				<div class="name">
					<span style="font-size: 17px;">Mr. Sujan Murahari</span>
				</div>
				<div class="position-area">
					<span style="font-size: 11px;">Manager - Engineering at CISCO</span>
				</div>
			</div>
		</div>
	</li>
        <li class="investor-testimonials-li col-xs-12 col-lg-3 col-md-3 col-md-3 col-sm-3" data-index="four">
		<div class="list-main">
			<div class="image">
				<img class="img-responsive text-center" src="{%static 'assets/media/testimonial-4-1.jpg'%}"  alt="">
			</div>
			<div class="details-top">
				<div class="social-icons col-xs-4">
					<ul>
						<li class="col-xs-5">
							<a href="https://www.linkedin.com/in/krishnan-chatapuram-5b2239/" target="_blank">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="play-btn col-xs-4 pull-right no-padding text-right">
					<img id="krishnan_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
				</div>
			</div>
			<div class="overlay"></div>
			<div class="details-bottom">
				<div class="name">
					<span style="font-size: 17px;">Mr. K. Chatapuram</span>
				</div>
				<div class="position-area">
					<span style="font-size: 11px;">Sr Product Validation Mgr, California</span>
				</div>
			</div>
		</div>
	</li>

	<li class="investor-testimonials-li col-xs-12 col-lg-3 col-md-3 col-md-3 col-sm-3" data-index="three">
		<div class="list-main">
			<div class="image">
				<img class="img-responsive text-center" src="{%static 'assets/media/testimonial-3-1.jpg'%}"  alt="">
			</div>
			<div class="details-top">
				<div class="social-icons col-xs-4">
					<ul>
						<li class="col-xs-5">
							<a href="https://www.linkedin.com/in/gsivasub" target="_blank">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="play-btn col-xs-4 pull-right no-padding text-right">
<<<<<<< HEAD
					<img id="ganesh_testimonial" src="{%static 'assets/media/play.png' %}" alt="">
=======
					<img id="ganesh_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
>>>>>>> 021b292bb60ccbcd2a88165bf9f63b14f1a1c3bd
				</div>
			</div>
			<div class="overlay"></div>
			<div class="details-bottom">
				<div class="name">
					<span style="font-size: 17px;">Mr. Ganesh Siva</span>
				</div>
				<div class="position-area">
					<span style="font-size: 11px;">Director, Payments & Sales at Yahoo</span>
				</div>
			</div>
		</div>
	</li>

	<li class="investor-testimonials-li col-xs-12 col-lg-4 col-md-4 col-md-4 col-sm-4" data-index="one">
		<div class="list-main">
			<div class="image">
				<img class="img-responsive text-center" src="{%static 'assets/media/testimonial-1-1.png'%}"  alt="">
			</div>
			<div class="details-top">
				<div class="social-icons col-xs-4">
					<ul>
						<li class="col-xs-5">
							<a href="https://www.linkedin.com/in/agnelbankien" target="_blank">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="play-btn col-xs-4 pull-right no-padding text-right">
					<img id="agnel_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
				</div>
			</div>
			<div class="overlay"></div>
			<div class="details-bottom">
				<div class="name">
					<span style="font-size: 17px;">Mr. Agnel Bankien</span>
				</div>
				<div class="position-area">
					<span style="font-size: 11px;">Marketing Professional, Bangalore</span>
				</div>
			</div>
		</div>
	</li>

	<li class="investor-testimonials-li col-xs-12 col-lg-4 col-md-4 col-md-4 col-sm-4" data-index="two">
		<div class="list-main">
			<div class="image">
				<img class="img-responsive text-center" src="{%static 'assets/media/testimonial-2-1.png'%}"  alt="">
			</div>
			<div class="details-top">
				<div class="social-icons col-xs-4">
					<ul>
						<li class="col-xs-5">
							<a href="https://www.linkedin.com/in/aldentauro" target="_blank">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="play-btn col-xs-4 pull-right no-padding text-right">
					<img id="alden_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
				</div>
			</div>
			<div class="overlay"></div>
			<div class="details-bottom">
				<div class="name">
					<span style="font-size: 17px;">Mr. Alden Tauro</span>
				</div>
				<div class="position-area">
					<span style="font-size: 11px;">Retail Manager, Al Shaya, Kuwait</span>
				</div>
			</div>
		</div>
	</li>
</ul>

<div class="modal fade investor-testimonials-modal five" tabindex="-1" role="dialog" aria-labelledby="testimonials">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
            </div>
            <div class="modal-body">
                <iframe id="iframe_sujan_murahari" class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade investor-testimonials-modal one" tabindex="-1" role="dialog" aria-labelledby="testimonials">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
            </div>
            <div class="modal-body">
                <iframe id="iframe_agnel" class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade investor-testimonials-modal two" tabindex="-1" role="dialog" aria-labelledby="testimonials">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
            </div>
            <div class="modal-body">
                <iframe  id="iframe_alden"  class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade investor-testimonials-modal three" tabindex="-1" role="dialog" aria-labelledby="testimonials">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
            </div>
            <div class="modal-body">
                <iframe  id="iframe_ganesh" class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade investor-testimonials-modal four" tabindex="-1" role="dialog" aria-labelledby="testimonials">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
            </div>
            <div class="modal-body">
                <iframe  id="iframe_krishnan" class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
            </div>
        </div>
    </div>
</div>					</div>
					<div class="investor-testimonials-btns section-padding">
						<a href="{%url 'faq'%}">
							<button class="form-control white ">VIEW FAQs</button>
						</a>
						<a href="{%url 'property-listing'%}">
							<button class="form-control blue">START INVESTING</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="home-watch-video" tabindex="-1" role="dialog" aria-labelledby="watch-video">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center youtubeLinkModalLabel" id="youtubeLinkModalLabel">HOW IT WORKS</h4>
            </div>
            <div class="modal-body">
                <iframe id="how_it_works_video" class="video" width="550" height="350"  allowfullscreen style="max-width: 100%;"></iframe>            </div>
        </div>
    </div>
</div><!-- footer -->
<footer class="footer blue-brgd">
    <div class="wrapper-sub">
        <div class="wrapper section-padding foo">
            <div class="container">
                <div class="footer-main">
                    <div class="col-lg-4 col-md-4 col-sm-4 left text-center">
                        <div class="content">
                            <div class="logo">
                                <img src="{%static 'assets/media/logo-new-2.png'%}" alt="">
                            </div>
                            <!-- <div class="text visibility-hidden">
                                <span>Application of game elements and digital game design techniques to non-game problems, such as business and social impact challenges. This course will teach you the mechanisms of gamification, why </span>
                            </div> -->
                            <div class="social-icons hidden-xs">
                                <ul>
                                    <!-- <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                                        <a href="" target="_blank">
                                            <div class="icon linkedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </li> -->
                                    <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                                        <a href="https://www.facebook.com/propertyshareindia/" target="_blank">
                                            <div class="icon facebook">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 right text-center hidden-xs">
                        <div class="main col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="content">
                                <div class="title">
                                    <span>MAIN</span>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span>
                                                <a href="{%url 'property-listing'%}">properties</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'about-us'%}">about us</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'contact-us'%}">contact us</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'faq'%}">FAQs</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="legal col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="content">
                                <div class="title">
                                    <span>LEGAL</span>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span>
                                                <a>terms &amp; conditions</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a>privacy policy</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower text-center">
            <div class="wrapper wrapper-sub">
                <div class="container">
                        <div class="text">
                            <span>Investment in real estate involves a degree of risk and investors should not invest any funds unless they can afford to take the risk of losing their investment. For taking an investment decision, investors must rely on their own examination of the property including the risks involved.</span>
                        </div>
                    <div class="copy-right">
                        <span>Copyright © Property Share Online Platform Pvt. Ltd.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
            <!-- footer close -->
            </div>
        </div>
    </div>
    <div class="modal fade request-confirmation-modal" id="request-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="request-confirmation-modal" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <h4 class="modal-title text-center">CONFIRMATION</h4>
        </div>
        <div class="modal-body">
            <div class="cnfm-content">
                <div class="image text-center">
                    <img style="padding-top: 10px;width: 60px;" src="{%static 'assets/media/details-cal-confirm.png'%]" alt="">
                </div>
                <div class="cnfm-text" style="text-align: center;margin-top: 30px;">
                    <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">Thank you for your interest</span>
                  <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">We will get in touch with you shortly!</span>
                </div>
            </div>
        </div>
      </div>
    </div>
</div></body>

<!-- Mirrored from www.propertyshare.in/how-it-works by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Apr 2018 10:05:01 GMT -->
</html><script type="text/javascript">
	$('.video').attr('src', 'https://www.youtube.com/embed/oH5LJ6w_8ic');
	$('.video').attr('data-src', 'https://www.youtube.com/embed/oH5LJ6w_8ic');
</script>
