{%load staticfiles %}
<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="utf-8">
  <meta name="msvalidate.01" content="CE62852AD85E08A8AF201E0C275F649D" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Property Share | Real Estate | Commercial Property Investment</title>
  <meta description ="Real estate investment made easy. Property Share is an online market place that allows investors to co-own high quality, rent generating commercial properties.">
  <meta keywords ="Fractional Property Ownership, Real Estate, Real Estate in India, Invest Online, Investment, Property Investment in India, Commercial Property Investment in India, Real Estate Investing Online, Investment Properties India, High Yield Returns, Commercial Property Yields">
  <link rel="shortcut icon" type="image/png" href="{%static 'assets/media/fav-1.png' %}">
  <script src="{%static 'themes/flatly/js/libs/vue.min.js' %}"></script>

  <script src="{% static 'themes/flatly/js/libs/modernizr.js' %}"></script>

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/font.css' %}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/select2.min.css' %}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/font-awesome/css/font-awesome.min.css' %}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/maine545.css' %}">

  <script src="{%static 'themes/flatly/bower_components/jquery/dist/jquery.min.js' %}"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{%static 'themes/flatly/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  <script src="{%static 'themes/flatly/bower_components/underscore/underscore-min.js' %}"></script>

  <script src="{%static 'themes/flatly/js/libs/ejs.js' %}"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAnhnTgs34fO2OTnq4Fg7DLEt5gjxln8"></script>
  <script src="{%static 'themes/flatly/js/libs/jquery.googlemap.js' %}"></script>

  <script src="{%static 'themes/flatly/js/libs/jquery.animateNumber.min.js' %}"></script>

  <script src="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>

  <script src="{%static 'themes/flatly/js/libs/carousel.js' %}"></script>

  <script src="{%static 'themes/flatly/js/libs/bxslider.js' %}"></script>

  <script src="{%static 'themes/flatly/js/libs/select2.min.js' %}"></script>

  <script src="{%static 'themes/flatly/js/libs/piechart.min.js' %}"></script>

  <script src="{%static 'themes/flatly/js/intlTelInput.js' %}"></script>

  <script src="{%static 'themes/flatly/js/libs/mmenu.min.js' %}"></script>

  <script src="{%static 'themes/flatly/js/libs/main632b.js' %}"></script>

  <script src="{%static 'modules/blog/js/socialShare.min.js' %}"></script>
</head>
<body ng-app="propertyshare">
  <div id="page-content-wrapper">
    <div class="container-fluid no-padding">
      <div class="webpage">
        <header class="header blue-brgd">
          <div class="header-content wrapper">
            <div class="container no-padding" style="  margin: 0px;  width: -webkit-fill-available;  margin-top: 1%;">
              <div class="logo header-child no-padding col-xs-8 col-lg-3 col-md-3 col-sm-2">
                <a class="display-block col-xs-12 col-lg-3 col-md-3 col-sm-3" href="{%url 'index'%}">
                  <img src="{%static 'assets/media/logo-white.png' %}" alt="Property Share logo">
                </a>
              </div>
              <div class="links hidden-xs header-child no-padding col-xs-4 col-lg-6 col-md-6 col-sm-6">
                <div class="for-white-space">
                  <ul class="main-links-ul text-center">
                    <li class="main-links-li"><a class="white-text" href="{%url 'property-listing'%}">VIEW PROPERTIES</a></li>
                    <li class="main-links-li"><a class="white-text" href="{%url 'addproperty'%}">ADD PROPERTIES</a></li>
                    <li class="main-links-li"><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                    <li class="dropdown main-links-li" style="cursor:pointer">
                      <a class="dropdown-toggle white-text" data-toggle="dropdown">RESOURCE CENTER
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="left: 0px;min-width: 182px;">
                          <li><a href="{%url 'faq'%}"><span class="fa fa-question-circle" aria-hidden="true"></span>FAQs</a></li>
                          <li><a href="{%url 'articles'%}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>ARTICLES</a></li>
                          <li><a href="{%url 'investor-profile'%}"><span class="fa fa-users" aria-hidden="true"></span>INVESTOR PROFILE</a></li>
                          <li><a href="{%url 'webinars'%"><span class="fa fa-podcast" aria-hidden="true"></span>WEBINARS</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="links login-links hidden-xs header-child no-padding col-xs-4 col-lg-3 col-md-3 col-sm-4">
                  <div class="for-white-space">
                    <ul class="main-links-ul text-right">
                      {% if user.is_authenticated %}
                      {% if user.is_superuser %}
                      <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'dashboard'%}>DASHBOARD</a></li>
                      {% endif %}
                      <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'logout'%}>LOGOUT</a></li>
                        <!-- <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'sae'%}>sae</a></li> -->
                      {% else %}
                      <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'login'%}>LOGIN</a></li>
                      <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn signup-modal-trigger" data-role="button" href={% url 'register'%}>SIGN UP</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>

                <a class="menu-mobile visible-xs" href="#menu"><span></span></a>
                <nav id="menu" class="visible-xs visibility-hidden">
                  <ul>
                    <li class="cross"><span class="white-text">X</span></li>
                    <li><span class="main heading white-text-thirty">MAIN</span></li>
                    <li><a class="white-text" href="{%url 'index'%}">HOME</a></li>
                    <li><a class="white-text" href="{%url 'property-listing'%}">VIEW PROPERTIES</a></li>
                    <li><a class="white-text" href="{%url 'addproperty'%}">ADD PROPERTIES</a></li>
                    <li><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                    <li><a class="white-text" href="{%url 'about-us'%}">ABOUT US</a></li>
                    <li><a class="white-text" href="contact-us.html">CONTACT US</a></li>
                    <li><a class="white-text" onclick="mobileLogin()">LOGIN</a></li>
                    <li><a class="white-text" href="{%url 'faq'">FAQs</a></li>
                    <li><a class="white-text" href="{%url 'articles'%}">ARTICLES</a></li>
                    <li><a class="white-text" href="{%url 'investor-profile'%}">INVESTOR PROFILE</a></li>
                    <li><a class="white-text" href="{%url 'webinars'%}">WEBINARS</a></li>
                    <li><span class="legal heading white-text-thirty">LEGAL</span></li>
                    <li><a class="white-text">TERMS &amp; CONDITIONS</a></li>
                    <li><a class="white-text">PRIVACY POLICY</a></li>
                    <li><span class="social heading white-text-thirty">SOCIAL</span></li>
                    <ul class="social">
                      <li class="icon-li"><a class="white-text"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li class="icon-li"><a href="#" class="white-text" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                  </ul>
                </nav>
              </div>
            </div>
          </header>

          <script type="text/javascript" src="http://web.mxradon.com/t/Tracker.js"></script>




      <!-- signin model  -->
      <div class="modal fade login-credentials" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="login-title modal-title text-center" id="signinModalLabel">Welcome Back!</h4>
            </div>
            <div class="modal-body">
              <div class="credentials-content">
                <label class="errMsg"></label>
                <div id="activation_email_button_login" class="having_account text-center bottom-line" style="display: none">
                  <form name="resend-activation-email-form-login" action="https://www.propertyshare.in/api/resend-activation-email">
                    <input type="hidden" id="activation_email_link_login">
                  </form>
                  <span><a id="trigger_activation_email_login" data-role="button" data-email=''>Resend Activation Email</a></span>
                </div>
                <form name="signin" action="https://www.propertyshare.in/api/login">
                  <div class="mat-div form-group ">
                    <label class="label mat-label">User Name</label>
                    <input type="email" name="email" autocomplete="off" class="form-control mat-input user-icon" placeholder="">

                  </div>
                  <div class="mat-div form-group ">
                    <label class="label mat-label">Password</label>
                    <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">

                  </div>
                  <div class="forget-password form-group no-border-important">
                    <span class="cursor-pointer" data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#fp-popup">Forgot Password?</span>
                  </div>
                  <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_login">
                  <input type="hidden" name="city" class="user_city">
                  <input type="hidden" name="state" class="user_state">
                  <input type="hidden" name="country" class="user_country">
                  <input type="hidden" value="">
                  <div class="form-group no-border-important">
                    <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Sign In">Sign In</i></button>
                  </div>
                </form>

                <div class="form-group text-center bottom-line">
                  <span>Haven’t registered yet? <a data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#signup" class="cursor-pointer">Register</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- signin model close -->

      <!-- signup model -->
      <div class="modal fade login-credentials" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <!-- <img src="https://www.propertyshare.in/assets/media/signup-back.png" alt="" class="pull-left back cursor-pointer" data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin"> -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="login-title modal-title text-center" id="signupModalLabel">Register Now!</h4>
            </div>
            <div class="modal-body">
              <div class="credentials-content">
                <label class="errMsg"></label>
                <div id="activation_email_button_signup" class="having_account text-center bottom-line" style="display: none">
                  <form name="resend-activation-email-form-signup" action="https://www.propertyshare.in/api/resend-activation-email">
                    <input type="hidden" id="activation_email_link_signup">
                  </form>
                  <span><a id="trigger_activation_email_signup" data-role="button" data-email=''>Resend Activation Email</a></span>
                </div>
                <form name="signup" action="https://www.propertyshare.in/api/register">
                  <div class="mat-div form-group ">
                    <label class="label mat-label">Email</label>
                    <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">

                  </div>
                  <div class="mat-div form-group ">
                    <label class="label mat-label">Password</label>
                    <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">
                  </div>
                  <div class="mat-div form-group form-group overflow-hidden no-border-important">
                    <div class="form-group col-xs-6 no-padding ">
                      <label class="label mat-label">First Name</label>
                      <input type="name" name="first_name" autocomplete="off" class="form-control mat-input user-icon" placeholder="">
                    </div>
                    <div class="mat-div form-group col-xs-6 no-padding ">
                      <label class="label mat-label">Last Name</label>
                      <input type="name" name="last_name" autocomplete="off" class="form-control mat-input" placeholder="">
                    </div>
                  </div>
                  <div class="form-group ">
                    <label class="label">Phone</label>
                    <input type="text" name="phone_number" autocomplete="off" class="form-control onlyNumber user-phone" placeholder="">
                  </div>
                  <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_signup">
                  <input type="hidden" name="city" class="user_city">
                  <input type="hidden" name="state" class="user_state">
                  <input type="hidden" name="country" class="user_country">
                  <div class="form-group no-border-important">
                    <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Register">Register</i></button>
                  </div>
                </form>
                <div class="having_account text-center bottom-line">
                  <span>Have an account? <a data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin">Sign In</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- signup model close -->


      <!-- forget password -->
      <div class="modal fade login-credentials" id="fp-popup" tabindex="-1" role="dialog" aria-labelledby="fp-popup">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="login-title modal-title text-center" id="fp-popup-ModalLabel">Forgot Password?</h4>
            </div>
            <div class="modal-body">
              <div class="credentials-content">
                <div class="title text-center">
                  <span>Enter valid email id to reset your password</span>
                </div>
                <label class="errMsg"></label>
                <form name="forgotPassword" action="https://www.propertyshare.in/api/resetPassword" style="padding-bottom: 25%;">
                  <div class="mat-div form-group">
                    <label class="label mat-label">Email</label>
                    <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">
                  </div>
                  <div class="form-group no-border-important">
                    <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Submit">Submit</i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- forget password -->
      <script src="{% static 'themes/flatly/js/libs/home.js'%}"></script>


      <!-- landing section -->


      <script>
      var login = '';
      </script>

      <div class="landing blue-brgd visibility-hidden">
        <!-- <img src="assets/media/sky gif.gif" alt=""> -->
        <div class="wrapper">
          <div class="container">
            <div class="landing-main screen-cover-container">
              <div class="inn">
                <div class="landing-content">
                  <div class="wrapper-sub">
                    <div class="head">
                      <div class="title">
                        <h1 class="white-text">Get Access to Grade A Commercial Real Estate</h1>
                      </div>
                      <div class="title-sub">
                        <label class="white-text" style="font-size: 20px">Earn monthly rents and participate in capital appreciation</label>

                      </div>
                      <!-- <div class="get-started col-lg-3 col-md-3 col-sm-4 col-xs-8">
                        <img src="http://www.dranju.in/wp-content/uploads/2016/03/button_01a.png" data-appointlet-organization="hostmud"><script src="https://www.appointletcdn.com/loader/loader.min.js" async="" defer=""></script>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="outlines visible-lg visible-md">
                  <div class="outlines-content">
                    <ul class="overflow-hidden">
                      <li class="col-lg-4 col-md-4">
                        <div class="outlines-li-content">
                          <span class="white-text number">&#8377; <i class="number-animate-onload" data-number="27"></i>M</span>
                          <span class="white-text number-title">RENTS DISRIBUTED</span>
                          <span class="vertical-line"></span>
                          <div class="circle">
                            <img src="{%static 'assets/media/circle-white.png'%}" alt="">
                          </div>
                        </div>
                      </li>
                      <li class="col-lg-4 col-md-4">
                        <div class="outlines-li-content">
                          <span class="white-text number"><i class="number-animate-onload" data-number="300"></i>+</span>
                          <span class="white-text number-title">INVESTORS</span>
                          <span class="vertical-line"></span>
                          <div class="circle">
                            <img src="{%static 'assets/media/circle-white.png'%}" alt="">
                          </div>
                        </div>
                      </li>
                      <li class="col-lg-4 col-md-4">
                        <div class="outlines-li-content">
                          <span class="white-text number"><i class="number-animate-onload" data-number="30"></i>+</span>
                          <span class="white-text number-title">PROPERTIES FUNDED</span>
                          <span class="vertical-line"></span>
                          <div class="circle">
                            <img src="{%static 'assets/media/circle-white.png'%}" alt="">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- landing section close -->

      <!-- investor testimonials -->
      <div class="investor-testimonials unique-section section-padding text-center sky-blue-brgd">
        <div class="water-mark hidden-xs right">
          <span>PEOPLE SAY</span>
        </div>
        <div class="wrapper-sub">
          <div class="container">
            <div class="title">
              <h1>INVESTOR TESTIMONIALS</h1>
            </div>
            <div class="investor-testimonials-list">
              <ul class="investor-testimonials-ul no-bxslider two col-lg-9 col-md-10">
                <li class="investor-testimonials-li col-xs-12 col-lg-3 col-md-3 col-md-3 col-sm-3" data-index="five">
                  <div class="list-main">
                    <div class="image">
                      <img class="img-responsive text-center" src="{%static 'assets/media/sujan-murahari.jpg'%}"  alt="">
                    </div>
                    <div class="details-top">
                      <div class="social-icons col-xs-4">
                        <ul>
                          <li class="col-xs-5">
                            <a href="https://www.linkedin.com/in/sujanmurahari/" target="_blank">
                              <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="play-btn col-xs-4 pull-right no-padding text-right">
                        <img id="sujan_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="details-bottom">
                      <div class="name">
                        <span style="font-size: 17px;">Mr. Sujan Murahari</span>
                      </div>
                      <div class="position-area">
                        <span style="font-size: 11px;">Manager - Engineering at CISCO</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="investor-testimonials-li col-xs-12 col-lg-3 col-md-3 col-md-3 col-sm-3" data-index="four">
                  <div class="list-main">
                    <div class="image">
                      <img class="img-responsive text-center" src="{%static 'assets/media/testimonial-4-1.jpg'%}"  alt="">
                    </div>
                    <div class="details-top">
                      <div class="social-icons col-xs-4">
                        <ul>
                          <li class="col-xs-5">
                            <a href="https://www.linkedin.com/in/krishnan-chatapuram-5b2239/" target="_blank">
                              <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="play-btn col-xs-4 pull-right no-padding text-right">
                        <img id="krishnan_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="details-bottom">
                      <div class="name">
                        <span style="font-size: 17px;">Mr. K. Chatapuram</span>
                      </div>
                      <div class="position-area">
                        <span style="font-size: 11px;">Sr Product Validation Mgr, California</span>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="investor-testimonials-li col-xs-12 col-lg-3 col-md-3 col-md-3 col-sm-3" data-index="three">
                  <div class="list-main">
                    <div class="image">
                      <img class="img-responsive text-center" src="{%static 'assets/media/testimonial-3-1.jpg'%}"  alt="">
                    </div>
                    <div class="details-top">
                      <div class="social-icons col-xs-4">
                        <ul>
                          <li class="col-xs-5">
                            <a href="https://www.linkedin.com/in/gsivasub" target="_blank">
                              <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="play-btn col-xs-4 pull-right no-padding text-right">
                        <img id="ganesh_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="details-bottom">
                      <div class="name">
                        <span style="font-size: 17px;">Mr. Ganesh Siva</span>
                      </div>
                      <div class="position-area">
                        <span style="font-size: 11px;">Director, Payments & Sales at Yahoo</span>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="investor-testimonials-li col-xs-12 col-lg-4 col-md-4 col-md-4 col-sm-4" data-index="one">
                  <div class="list-main">
                    <div class="image">
                      <img class="img-responsive text-center" src="{%static 'assets/media/testimonial-1-1.png'%}"  alt="">
                    </div>
                    <div class="details-top">
                      <div class="social-icons col-xs-4">
                        <ul>
                          <li class="col-xs-5">
                            <a href="https://www.linkedin.com/in/agnelbankien" target="_blank">
                              <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="play-btn col-xs-4 pull-right no-padding text-right">
                        <img id="agnel_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="details-bottom">
                      <div class="name">
                        <span style="font-size: 17px;">Mr. Agnel Bankien</span>
                      </div>
                      <div class="position-area">
                        <span style="font-size: 11px;">Marketing Professional, Bangalore</span>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="investor-testimonials-li col-xs-12 col-lg-4 col-md-4 col-md-4 col-sm-4" data-index="two">
                  <div class="list-main">
                    <div class="image">
                      <img class="img-responsive text-center" src="{%static 'assets/media/testimonial-2-1.png'%}"  alt="">
                    </div>
                    <div class="details-top">
                      <div class="social-icons col-xs-4">
                        <ul>
                          <li class="col-xs-5">
                            <a href="https://www.linkedin.com/in/aldentauro" target="_blank">
                              <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="play-btn col-xs-4 pull-right no-padding text-right">
                        <img id="alden_testimonial" src="{%static 'assets/media/play.png'%}" alt="">
                      </div>
                    </div>
                    <div class="overlay"></div>
                    <div class="details-bottom">
                      <div class="name">
                        <span style="font-size: 17px;">Mr. Alden Tauro</span>
                      </div>
                      <div class="position-area">
                        <span style="font-size: 11px;">Retail Manager, Al Shaya, Kuwait</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

              <div class="modal fade investor-testimonials-modal five" tabindex="-1" role="dialog" aria-labelledby="testimonials">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                      <iframe id="iframe_sujan_murahari" class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade investor-testimonials-modal one" tabindex="-1" role="dialog" aria-labelledby="testimonials">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                      <iframe id="iframe_agnel" class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade investor-testimonials-modal two" tabindex="-1" role="dialog" aria-labelledby="testimonials">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                      <iframe  id="iframe_alden"  class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade investor-testimonials-modal three" tabindex="-1" role="dialog" aria-labelledby="testimonials">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                      <iframe  id="iframe_ganesh" class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade investor-testimonials-modal four" tabindex="-1" role="dialog" aria-labelledby="testimonials">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title text-center" id="youtubeLinkModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                      <iframe  id="iframe_krishnan" class="video" width="100%" height="307" allowfullscreen style="max-width: 100%;"></iframe>
                    </div>
                  </div>
                </div>
              </div>			</div>
              <div class="property-profile-navigation" style="margin-top: 5%;">
                <a href="{%url 'investor-profile'%}">
                  <button class="getStartBtn"><i>VIEW MORE</i></button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- investor testimonials close-->

        <!-- How it works section -->
        <div class="how-it-works unique-section section-padding">
          <div class="container wrapper-sub">
            <div class="title">
              <h1 class="">HOW IT WORKS</h1>
            </div>
            <div class="htw-list padding-five-top">
              <ul>
                <li class="col-lg-3 col-md-3 col-sm-3">
                  <div class="image child">
                    <img src="{%static 'assets/media/browse.png'%}" alt="">
                  </div>
                  <div class="number child">
                    <span>01</span>
                    <img src="{%static 'assets/media/circle-blue.png'%}" alt="">
                  </div>
                  <div class="list-title child">
                    <h3>BROWSE</h3>
                  </div>
                  <div class="list-text child">
                    <span>View our curated property offerings</span>
                  </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-3">
                  <div class="image child">
                    <img src="{%static 'assets/media/select.png'%}" alt="">
                  </div>
                  <div class="number child">
                    <span>02</span>
                    <img src="{%static 'assets/media/circle-blue.png'%}" alt="">
                  </div>
                  <div class="list-title child">
                    <h3>SELECT</h3>
                  </div>
                  <div class="list-text child">
                    <span>Select the property you like</span>
                  </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-3">
                  <div class="image child">
                    <img src="{%static 'assets/media/earn.png'%}" alt="">
                  </div>
                  <div class="number child">
                    <span>03</span>
                    <img src="{%static 'assets/media/circle-blue.png'%}" alt="">
                  </div>
                  <div class="list-title child">
                    <h3>EARN</h3>
                  </div>
                  <div class="list-text child">
                    <span>Start earning monthly rents</span>
                  </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-3">
                  <div class="image child">
                    <img src="{%static 'assets/media/sell.png'%}" alt="">
                  </div>
                  <div class="number child">
                    <span>04</span>
                    <img src="{%static 'assets/media/circle-blue.png'%}" alt="">
                  </div>
                  <div class="list-title child">
                    <h3>SELL</h3>
                  </div>
                  <div class="list-text child">
                    <span>Sell your fraction and realize gains</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- How it works section close -->

        <!-- Fractional Ownership section -->
        <div class="fractional-ownership unique-section section-padding sky-blue-brgd">
          <div class="container wrapper-sub">
            <div class="title">
              <h1>WHAT IS FRACTIONAL OWNERSHIP?</h1>
            </div>
            <div class="full-image col-xs-12 padding-five-top">
              <img class="img-responsive margin-zeroAuto no-padding" src="{%static 'assets/media/fractional-ownership-full-1.png'%}" alt="">
            </div>
            <div class="text-btn">
              <ul>
                <li>
                  <div class="watch-btn-div">
                    <button id="watch_video_home" class="margin-zeroAuto watch-btn getStartBtn" data-toggle="modal" data-target="#home-watch-video"><i>WATCH VIDEO</i></button>
                  </div>
                </li>
                <li>
                  <div class="text">
                    <span class="margin-zeroAuto">Own a specific FRACTION of a property while earning returns similar to purchasing the entire property.</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Fractional Ownership section close -->
        <!-- highlights -->
        <div class="highlights unique-section section-padding-semi blue-brgd">
          <div class="wrapper wrapper-sub">
            <div class="container">
              <div class="list">
                <ul>
                  <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding">
                    <span class="white-text display-block text-center number">&#8377; <i class="number-animate" data-number="27"></i>M</span>
                    <span class="white-text display-block text-center number-text">RENTS DISTRIBUTED</span>
                  </li>
                  <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding">
                    <span class="white-text display-block text-center number"><i class="number-animate" data-number="300"></i>+</span>
                    <span class="white-text display-block text-center number-text">INVESTORS</span>
                  </li>
                  <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding">
                    <span class="white-text display-block text-center number"><i class="number-animate" data-number="30"></i>+</span>
                    <span class="white-text display-block text-center number-text">PROPERTIES FUNDED</span>
                  </li>
                  <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding">
                    <span class="white-text display-block text-center number">&#8377; <i class="number-animate" data-number="80"></i>Cr</span>
                    <span class="white-text display-block text-center number-text">PROPERTIES MANAGED</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- highlights close -->
        <!-- property share -->
        <div class="property-share unique-section section-padding sky-blue-brgd">
          <div class="container wrapper-sub">
            <div class="title">
              <h1>WHY PROPERTY SHARE?</h1>
            </div>
            <div class="image-container">
              <div class="building margin-zeroAuto">
                <img class="img-responsive margin-zeroAuto" src="{%static 'assets/media/buildings.png'%}" alt="">
              </div>
              <div class="big-triangle">
                <img class="img-responsive hidden-xs margin-zeroAuto tri-big" src="{%static 'assets/media/ps-share-text-new.png'%}" alt="">
                <img class="img-responsive visible-xs margin-zeroAuto tri-big" src="{%static 'assets/media/mobile-ps-share.png'%}" alt="">
              </div>
            </div>
            <!-- <div class="triangle-content">
            <div class="building">
            <img class="img-responsive margin-zeroAuto" src="assets/media/buildings.png" alt="">
          </div>
          <div class="triangle-container">
          <div class="triangle-image margin-zeroAuto">
          <div class="image">
          <img src="assets/media/triangle.png" alt="" class="img-responsive margin-zeroAuto float-none">
        </div>
        <div class="tri-details">
        <ul class="margin-zeroAuto">
        <li>
        <div class="trapizium">
        <div class="text">
        <div class="details text-right">
        <img src="assets/media/circle-blue.png" alt="">
        <div class="line"></div>
      </div>
      <div class="percentage">
      <span><i class="number-animate" data-number="100"></i>%</span>
      <span class="small">PROJECTS</span>
    </div>
  </div>
</div>
<div class="trapizium-text">
<span class="number display-block">01</span>
<span class="title-trapizium hidden-xs">Stringent Selection Criteria</span>
<span class="desc hidden-xs">We handpick properties based on location, rental return, liquidity and capital appreciation</span>
</div>
</li>
<li>
<div class="trapizium">
<div class="text">
<div class="percentage text-right">
<span><i class="number-animate" data-number="50"></i>%</span>
</div>
<div class="details text-right">
<div class="line"></div>
<img src="assets/media/circle-blue.png" alt="">
</div>
</div>
</div>
<div class="trapizium-text">
<span class="number display-block">02</span>
<span class="title-trapizium hidden-xs">Rigorous Due-Diligence</span>
<span class="desc hidden-xs">We do a deep-dive on project analysis,demand/supply dynamics and legal standing</span>
</div>
</li>
<li>
<div class="trapizium">
<div class="text">
<div class="details text-right">
<img src="assets/media/circle-blue.png" alt="">
<div class="line"></div>
</div>
<div class="percentage">
<span><i class="number-animate" data-number="25"></i>%</span>
</div>
</div>
</div>
<div class="trapizium-text">
<span class="number display-block">03</span>
<span class="title-trapizium hidden-xs">Financial Projection</span>
<span class="desc hidden-xs">We project financials for the next 4 years in orderto accurately estimate profitability and returns</span>
</div>
</li>
<li>
<div class="trapizium">
<div class="text">
<div class="percentage">
<span><i class="number-animate" data-number="5"></i>%</span>
</div>
<div class="details text-right">
<div class="line"></div>
<img src="assets/media/circle-blue.png" alt="">
</div>
</div>
</div>
<div class="trapizium-text">
<span class="number display-block">04</span>
<span class="title-trapizium hidden-xs">Listing</span>
<span class="desc hidden-xs">Less than 5% of properties analyzed meet our stringent investment criteria</span>
</div>
</li>
</ul>
</div>
</div>
</div>
</div> -->
</div>
</div>
<!-- property share close -->
<!-- management experience -->
<div class="management-experience blue-brgd unique-section section-padding-semi">
  <div class="wrapper wrapper-sub">
    <div class="container">
      <div class="title text-center">
        <h1>OUR INVESTMENT EXPERIENCE</h1>
      </div>
      <div class="management-list">
        <ul>
          <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="list-details text-center">
              <span class="number">15 YRS</span>
              <!-- <span class="number"><i class="number-animate" data-number="15"></i> YRS</span> -->
              <span class="desc">EXPERIENCE IN INVESTING</span>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="list-details text-center">
              <!-- <span class="number">&#36; <i class="number-animate" data-number="1"></i> BILLION</span> -->
              <span class="number">&#36; 1 BILLION</span>
              <span class="desc">INVESTED IN REAL ESTATE</span>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="list-details text-center">
              <!-- <span class="number"><i class="number-animate" data-number="30"></i> MILLION</span> -->
              <span class="number">30 MILLION</span>
              <span class="desc">SQFT MANAGED</span>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="list-details text-center">
              <span class="number">IIT / IIM</span>
              <span class="desc">PEDIGREE</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- management experience close -->
<!-- people behind us -->
<div class="people-behind unique-section section-padding sky-blue-brgd">
  <div class="container wrapper-sub">
    <div class="title text-center">
      <h1>PEOPLE BEHIND US</h1>
    </div>
    <div class="people-details">
      <div class="images">
        <img class="img-circle active kunal" data-duration="1" data-keyframe="right" data-name="kunal" src="#" alt="">
        <img class="img-circle hashim" data-duration="1" data-keyframe="left" data-name="hashim" src="#" alt="">
      </div>
      <div class="kunal founders-details active">
        <div class="about-people">
          <p>Kunal has over 8 years of experience of which more than 7 years have been at Blackstone Real Estate Partners, the world’s largest real estate fund with $93 billion of assets under management.</p>
        </div>
        <div class="founder">
          <span><b>Kunal Moktan</b> <small>Founder and CEO</small></span>
          <span class="qulification">MBA (IIM Ahmedabad)</span>
        </div>
      </div>
      <div class="hashim founders-details">
        <div class="about-people">
          <p>Hashim has over 13 years of experience working in various IT roles - Development, Project Management, Business Solutions and General Management.</p>
        </div>
        <div class="founder">
          <span><b>Hashim Khan</b> <small>Founder and CTO</small></span>
          <span class="qulification">IIT (Kanpur), IIM (Ahmedabad)</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- people behind us close -->
<!-- venture backing -->
<div class="venture unique-section section-padding text-center">
  <div class="water-mark hidden-xs left">
    <span>VENTURE</span>
  </div>
  <div class="wrapper-sub">
    <div class="container">
      <div class="title">
        <h1>BACKING THE VENTURE</h1>
      </div>
      <div class="venture-details">
        <div class="para">
          <p>Property Share is backed by three of the most marquee names in venture capital investing and asset management.</p>
        </div>
        <div class="venture-list">
          <ul>
            <li class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="list-title beenext">
                <!-- <img src="assets/media/beenext.png" alt=""> -->
                <a href="http://www.beenext.com/" target="_blank"><label>Beenext</label></a>
              </div>
              <div class="list-desc">
                <span>Singapore based VC firm investing in India, Southeast Asia, Japan and U.S</span>
              </div>
            </li>
            <li class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="list-title mamoru">
                <a href="http://www.asuka-asset.com/en/member.html" target="_blank"><label>Mamoru Taniya</label></a>
              </div>
              <div class="list-desc">
                <span>Chairman, Asuka Asset Management Ltd, Japan</span>
              </div>
            </li>
            <li class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="list-title pravega">
                <a href="http://www.pravegavc.com/" target="_blank"><label>Pravega Ventures</label></a>
              </div>
              <div class="list-desc">
                <span>India-focused early-stage VC fund</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- venture backing close -->
<!-- featured deals
<div class="featured-deals unique-section section-padding text-center">

  <div class="wrapper-sub">
    <div class="container">
      <div class="title">
        <h1>FEATURED PROPERTIES</h1>
      </div>
      <div class="fearures-details carousel hidden-xs hidden-sm">
        <ul class="carousel-wrapper">
          <li class="col-xs-4 col-lg-4 col-md-4 col-sm-4 carousel-box no-padding">
            <div class="card">
              <a href="properties/residentialproperties/39/view.html">
                <div class="image">
                  <div class="img">
                    <img src="{%static 'assets/media/raindrops525-thumbnail.jpg'%}" alt="">
                  </div>
             <div class="exp green">
                  <span>EXP: 12DAYS</span>
                </div>
                <div class="pricing">
                  <span class="price">&#8377; 8,940</span>
                  <span class="sqft">PER SQUARE FEET</span>
                </div>
              </div>
              <div class="details">
                <div class="desc">
                  <div class="desc-text col-xs-8 col-lg-8 col-md-8 col-sm-8">
                    <span class="name">Total Environment Raindrops 525</span>
                    <span class="bhk">1,622 SF</span>
                  </div>
                  <div class="city-locator col-xs-4 col-lg-4 col-md-4 col-sm-4">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>Bangalore</span>
                  </div>
                </div>
                <div class="invest">
                  <span class="psf">RENTAL YIELD: 3.9%</span>
                  <button>VIEW PROPERTY</button>
                </div>
              </div>
            </a>
          </div>
        </li>
        <li class="col-xs-4 col-lg-4 col-md-4 col-sm-4 carousel-box no-padding">
          <div class="card">
            <a href="properties/commercialproperties/64/view.html">
              <div class="image">
                <div class="img">
                  <img src="{%static 'assets/webinars/seawoods-thumbnail_1.jpg'%}" alt="">
                </div>
             <div class="exp green">
                <span>EXP: 12DAYS</span>
              </div>
              <div class="pricing">
                <span class="price">&#8377; 13,563</span>
                <span class="sqft">PER SQUARE FEET</span>
              </div>
            </div>
            <div class="details">
              <div class="desc">
                <div class="desc-text col-xs-8 col-lg-8 col-md-8 col-sm-8">
                  <span class="name">Seawoods Grand Central II</span>
                  <span class="bhk">10,988 SF</span>
                </div>
                <div class="city-locator col-xs-4 col-lg-4 col-md-4 col-sm-4">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>Mumbai</span>
                </div>
              </div>
              <div class="invest">
                <span class="psf">RENTAL YIELD: 9%</span>
                <button>VIEW PROPERTY</button>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li class="col-xs-4 col-lg-4 col-md-4 col-sm-4 carousel-box no-padding">
        <div class="card">
          <a href="properties/commercialproperties/62/view.html">
            <div class="image">
              <div class="img">
                <img src="{%static 'assets/media/bkc-main.jpg'%}" alt="">
              </div>
         <div class="exp green">
              <span>EXP: 12DAYS</span>
            </div>
            <div class="pricing">
              <span class="price">&#8377; 36,949</span>
              <span class="sqft">PER SQUARE FEET</span>
            </div>
          </div>
          <div class="details">
            <div class="desc">
              <div class="desc-text col-xs-8 col-lg-8 col-md-8 col-sm-8">
                <span class="name">The Capital</span>
                <span class="bhk">5,107 SF</span>
              </div>
              <div class="city-locator col-xs-4 col-lg-4 col-md-4 col-sm-4">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Mumbai</span>
              </div>
            </div>
            <div class="invest">
              <span class="psf">RENTAL YIELD: 8%</span>
              <button>VIEW PROPERTY</button>
            </div>
          </div>
        </a>
      </div>
    </li>

  </ul>
</div>
<div class="fearures-details mobile visible-xs visible-sm">
  <ul class="bxslider">
    <li class="col-xs-12 no-padding">
      <div class="card">
        <a href="properties/residentialproperties/39/view.html">
          <div class="image">
            <div class="img">
              <img src="{%static 'assets/media/raindrops525-thumbnail.jpg'%}" alt="">
            </div>
             <div class="exp green">
            <span>EXP: 12DAYS</span>
          </div>
          <div class="pricing">
            <span class="price">&#8377; 8,940</span>
            <span class="sqft">PER SQUARE FEET</span>
          </div>
        </div>
        <div class="details">
          <div class="desc">
            <div class="desc-text col-xs-6">
              <span class="name">Total Environment Raindrops 525</span>
              <span class="bhk">1,622 SF</span>
            </div>
            <div class="city-locator col-xs-6">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>Bangalore</span>
            </div>
          </div>
          <div class="invest">
            <span class="psf">RENTAL YIELD: 3.9%</span>
            <button>VIEW PROPERTY</button>
          </div>
        </div>
      </a>
    </div>
  </li>
  <li class="col-xs-12 no-padding">
    <div class="card">
      <a href="properties/commercialproperties/64/view.html">
        <div class="image">
          <div class="img">
            <img src="{%static 'assets/webinars/seawoods-thumbnail_1.jpg'%}" alt="">
          </div>
         <div class="exp green">
          <span>EXP: 12DAYS</span>
        </div>
        <div class="pricing">
          <span class="price">&#8377; 13,563</span>
          <span class="sqft">PER SQUARE FEET</span>
        </div>
      </div>
      <div class="details">
        <div class="desc">
          <div class="desc-text col-xs-6">
            <span class="name">Seawoods Grand Central II</span>
            <span class="bhk">10,988 SF</span>
          </div>
          <div class="city-locator col-xs-6">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Mumbai</span>
          </div>
        </div>
        <div class="invest">
          <span class="psf">RENTAL YIELD: 9%</span>
          <button>VIEW PROPERTY</button>
        </div>
      </div>
    </a>
  </div>
</li>
<li class="col-xs-12 no-padding">
  <div class="card">
    <a href="properties/commercialproperties/62/view.html">
      <div class="image">
        <div class="img">
          <img src="{%static 'assets/media/bkc-main.jpg'%}" alt="">
        </div>
 <div class="exp green">
        <span>EXP: 12DAYS</span>
      </div>
      <div class="pricing">
        <span class="price">&#8377; 36,949</span>
        <span class="sqft">PER SQUARE FEET</span>
      </div>
    </div>
    <div class="details">
      <div class="desc">
        <div class="desc-text col-xs-6">
          <span class="name">The Capital</span>
          <span class="bhk">5,107 SF</span>
        </div>
        <div class="city-locator col-xs-6">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>Mumbai</span>
        </div>
      </div>
      <div class="invest">
        <span class="psf">RENTAL YIELD: 8%</span>
        <button>VIEW PROPERTY</button>
      </div>
    </div>
  </a>
</div>
</li>

</ul>
</div>
<div class="get-started">
  <button class="openLogin getStartBtn"><i>GET STARTED</i></button>
</div>
</div>
</div>
</div>
<!-- featured deals close -->
<!-- fee structure -->
<div class="fee-structure unique-section section-padding sky-blue-brgd text-center">
  <div class="water-mark hidden-xs right">
    <span>OUR FEE</span>
  </div>
  <div class="wrapper-sub">
    <div class="wrapper">
      <div class="title">
        <h1>OUR FEE STRUCTURE</h1>
      </div>
      <div class="fee-details">
        <ul>
          <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
            <div class="structure text-center">
              <span class="title">ASSET MANAGEMENT FEE</span>
              <span class="number">1.5%</span>
              <span class="text">OF INVESTED CAPITAL YEARLY</span>
            </div>
          </li>
          <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
            <div class="structure text-center">
              <span class="title">PERFORMANCE FEE <i class="query display-inline-block-imp" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Property Share gets paid 20% of any profits after the investor makes 8% annual return. For e.g if an investment of Rs. 100 returns Rs. 115 after a year, we will make 20% of Rs. 7 i.e. Rs. 1.4."></i></span>
              <span class="number">20%</span>
              <span class="text">AT THE TIME OF SALE</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="bottom-text">
        <span>Simple and result-driven fee structure. No extras.</span>
      </div>
    </div>
  </div>
</div>
<!-- fee structure close -->
<!-- in the news -->
<div class="news unique-section section-padding text-center">
  <div class="water-mark hidden-xs left">
    <span>IN THE NEWS</span>
  </div>
  <div class="wrapper-sub">
    <div class="wrapper">
      <div class="title">
        <h1>IN THE NEWS</h1>
      </div>
      <div id="news-carousel" class="all-news carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#news-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#news-carousel" data-slide-to="1"></li>
          <li data-target="#news-carousel" data-slide-to="2"></li>
          <li data-target="#news-carousel" data-slide-to="3"></li>
          <li data-target="#news-carousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="news-content item col-xs-12 active">
            <div class="image">
              <a href="https://www.forbes.com/sites/sindhujabalaji/2018/01/24/fractional-ownership-and-blockchain-make-buying-prime-property-in-india-easier-than-ever" target="_blank">
                <img src="{%static 'assets/media/forbes.png'%}" alt="">
              </a>
            </div>
            <div class="text">
              <span>"Startups such as PropertyShare.in are popularizing fractional ownership in India by enabling small ticket investments in high grade developments in metros such as Bangalore, New Delhi and Mumbai."</span>
            </div>
          </div>
          <div class="news-content item col-xs-12">
            <div class="image">
              <a href="http://articles.economictimes.indiatimes.com/2015-06-24/news/63782834_1_rental-yields-fractional-ownership-commercial-space" target="_blank">
                <img src="{%static 'assets/media/times.png'%}" alt="">
              </a>
            </div>
            <div class="text">
              <span>"The investment platform allows you to invest directly in real estate with other investors."<br>&nbsp;</span>
            </div>
          </div>
          <div class="news-content item col-xs-12">
            <div class="image">
              <a href="http://www.livemint.com/Companies/NDDSx8ReolNtSoDqTLkErL/Startups-aim-to-redefine-the-real-estate-experience.html" target="_blank">
                <img src="{%static 'assets/media/mint_1.png'%}" alt="">
              </a>
            </div>
            <div class="text">
              <span>"The start-up uses the idea of fractional ownership where many owners invest in a single property and benefit when sold at a premium later."</span>
            </div>
          </div>
          <div class="news-content item col-xs-12">
            <div class="image">
              <a href="http://www.99acres.com/articles/cant-afford-to-own-a-home-now-buy-a-part-of-it.html" target="_blank">
                <img src="{%static 'assets/media/99acres_1.png'%}" alt="">
              </a>
            </div>
            <div class="text">
              <span>"Start-ups like Bengaluru-based PropertyShare.in are making fractional ownership more organised."<br>&nbsp;</span>
            </div>
          </div>
          <div class="news-content item col-xs-12">
            <div class="image">
              <a href="http://yourstory.com/2015/07/property-ownership-sharing/" target="_blank">
                <img src="{%static 'assets/media/your-story.png'%}" alt="">
              </a>
            </div>
            <div class="text">
              <span>"Property Share is a platform that allows multiple buyers to come together and purchase fractional ownership stakes in a residential property."</span>
            </div>
          </div>
        </div>
      </div>
      <ul class="new-list container">
        <li class="channel">
          <img src="{%static 'assets/media/forbes.png'%}" alt="">
        </li>
        <li class="channel">
          <img src="{%static 'assets/media/times.png'%}" alt="">
        </li>
        <li class="channel">
          <img src="{%static 'assets/media/mint_1.png'%}" alt="">
        </li>
        <li class="channel">
          <img src="{%static 'assets/media/99acres_1.png'%}" alt="">
        </li>
        <li class="channel">
          <img src="{%static 'assets/media/your-story.png'%}" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- in the news close-->
<!-- invest today -->
<div class="invest-today unique-section section-padding-bottom text-center">
  <div class="wrapper-sub">
    <div class="wrapper">
      <!-- <div class="title">
      <h1>START YOUR INVESMENT TODAY ! .. EXPLORE OUR PROPERTIES</h1>
    </div>
    <div class="sub-text">
    <span>Own rent-generating properties with as little as Rs. 500,000</span>
  </div> -->
  <div class="start">
    <button class="openLogin getStartBtn"><i>GET STARTED</i></button>
  </div>
</div>
</div>
</div>
<!-- invest today close -->
<div class="modal fade" id="home-watch-video" tabindex="-1" role="dialog" aria-labelledby="watch-video">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center youtubeLinkModalLabel" id="youtubeLinkModalLabel">HOW IT WORKS</h4>
      </div>
      <div class="modal-body">
        <iframe id="how_it_works_video" class="video" width="550" height="350"  allowfullscreen style="max-width: 100%;"></iframe>            </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <footer class="footer blue-brgd">
    <div class="wrapper-sub">
      <div class="wrapper section-padding foo">
        <div class="container">
          <div class="footer-main">
            <div class="col-lg-4 col-md-4 col-sm-4 left text-center">
              <div class="content">
                <div class="logo">
                  <img src="{%static 'assets/media/logo-new-2.png'%}" alt="">
                </div>
                <!-- <div class="text visibility-hidden">
                <span>Application of game elements and digital game design techniques to non-game problems, such as business and social impact challenges. This course will teach you the mechanisms of gamification, why </span>
              </div> -->
              <div class="social-icons hidden-xs">
                <ul>
                  <!-- <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                  <a href="" target="_blank">
                  <div class="icon linkedin">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
              </a>
            </li> -->
            <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
              <a href="https://www.facebook.com/propertyshareindia/" target="_blank">
                <div class="icon facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 right text-center hidden-xs">
      <div class="main col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="content">
          <div class="title">
            <span>MAIN</span>
          </div>
          <div class="list">
            <ul>
              <li>
                <span>
                  <a href="{%url 'property-listing'%}">properties</a>
                </span>
              </li>
              <li>
                <span>
                  <a href="{%url 'about-us'%}">about us</a>
                </span>
              </li>
              <li>
                <span>
                  <a href="{%url 'contact-us'%}">contact us</a>
                </span>
              </li>
              <li>
                <span>
                  <a href="{% url 'faq'%}">FAQs</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="legal col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="content">
          <div class="title">
            <span>LEGAL</span>
          </div>
          <div class="list">
            <ul>
              <li>
                <span>
                  <a>terms &amp; conditions</a>
                </span>
              </li>
              <li>
                <span>
                  <a>privacy policy</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="footer-lower text-center">
  <div class="wrapper wrapper-sub">
    <div class="container">
      <div class="text">
        <span>Investment in real estate involves a degree of risk and investors should not invest any funds unless they can afford to take the risk of losing their investment. For taking an investment decision, investors must rely on their own examination of the property including the risks involved.</span>
      </div>
      <div class="copy-right">
        <span>Copyright © Hostmud</span>
      </div>
    </div>
  </div>
</div>
</div>
</footer>
<!-- footer close -->
</div>
</div>
</div>
<div class="modal fade request-confirmation-modal" id="request-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="request-confirmation-modal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title text-center">CONFIRMATION</h4>
      </div>
      <div class="modal-body">
        <div class="cnfm-content">
          <div class="image text-center">
            <img style="padding-top: 10px;width: 60px;" src="{%static 'assets/media/details-cal-confirm.png' %}" alt="">
          </div>
          <div class="cnfm-text" style="text-align: center;margin-top: 30px;">
            <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">Thank you for your interest</span>
            <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">We will get in touch with you shortly!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></body>
</html>
