
{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <title>Prop Share</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Hostmud" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{%static 'images/favicon.jpg'%}">

        <!-- App css -->
        <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/icons.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/metismenu.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" />

        <script src="{%static 'js/modernizr.min.js'%}"></script>

    </head>


    <body class="account-pages">

        <!-- Begin page -->
        <div class="accountbg" style="background: url({% static 'images/bg-1.jpg' %});background-size: cover;"></div>

        <div class="wrapper-page account-page-full">
            <div class="card">
                <div class="card-block">

                    <div class="account-box">
                        <div class="card-box p-5">
                            <h2 class="text-uppercase text-center pb-4">
                                <a href="{% url 'index' %}" class="text-success">
                                    <span><img src="{%static 'images/blogo.png'%}" alt="" height="26"></span>
                                </a>
                            </h2>

                            <form class="" method="post" action=""> {% csrf_token %}

                              {{form|crispy}}
                                <div class="form-group row text-center m-t-10">
                                    <div class="col-12">
                                        <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Sign In</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p class="account-copyright">2018 © Hostmud</p>
            </div>

        </div>



        <!-- jQuery  -->
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <script src="{%static 'js/popper.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script src="{%static 'js/metisMenu.min.js'%}"></script>
        <script src="{%static 'js/waves.js'%}"></script>
        <script src="{%static 'js/jquery.slimscroll.js'%}"></script>

        <!-- App js -->
        <script src="{%static 'js/jquery.core.js'%}"></script>
        <script src="{%static 'js/jquery.app.js'%}"></script>

    </body>

</html>
