{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <title>Propshare</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Hostmud" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{%static 'images/favicon.jpg'%}">

        <!-- App css -->
        <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/icons.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/metismenu.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{%static 'css/style.css'%}" rel="stylesheet" type="text/css" />

        <script src="assets/js/modernizr.min.js"></script>

    </head>


    <body class="account-pages">

        <!-- Begin page -->
        <div class="accountbg" style="background: url('images/bg-1.jpg');background-size: cover;"></div>

        <div class="wrapper-page account-page-full">

            <div class="card">
                <div class="card-block">

                    <div class="account-box">

                        <div class="card-box p-5">
                            <h2 class="text-uppercase text-center pb-4">
                                <a href="{% url 'index'%}" class="text-success">
                                    <span><img src="{%static 'images/blogo.png'%}" alt="" height="26"></span>
                                </a>
                            </h2>

                            <div class="text-center m-b-20">
                                <div class="m-b-20">
                                    <div class="checkmark">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
                                                    <path class="path" fill="none" stroke="#32c861" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
                                                        c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
                                                        c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
                                                    <circle class="path" fill="none" stroke="#32c861" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
                                                    <polyline class="path" fill="none" stroke="#32c861" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8
                                                        74.1,108.4 48.2,86.4 "/>

                                                    <circle class="spin" fill="none" stroke="#32c861" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>

                                                </svg>

                                    </div>
                                </div>

                                <h4>See You Again !</h4>

                                <p class="text-muted font-14 m-t-10"> You are now successfully sign out. Back to <a href="{% url 'login' %}" class="text-dark m-r-5"><b>Sign In</b></a></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p class="account-copyright">2018 © Hostmud</p>
            </div>

        </div>



        <!-- jQuery  -->
        <script src="{%static 'js/jquery.min.js'%}"></script>
        <script src="{%static 'js/popper.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script src="{%static 'js/metisMenu.min.js'%}"></script>
        <script src="{%static 'js/waves.js'%}"></script>
        <script src="{%static 'js/jquery.slimscroll.js'%}"></script>

        <!-- App js -->
        <script src="{%static 'js/jquery.core.js'%}"></script>
        <script src="{%static 'js/jquery.app.js'%}"></script>

    </body>

</html>
