{% load staticfiles %}

<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="utf-8">
  <meta name="msvalidate.01" content="CE62852AD85E08A8AF201E0C275F649D" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{obj.NameProperty}} - Property Share</title>
  <meta description ="Property Share">
  <meta keywords ="Fractional Property Ownership, Real Estate, Real Estate in India, Invest Online, Investment, Property Investment in India, Commercial Property Investment in India, Real Estate Investing Online, Investment Properties India, High Yield Returns, Commercial Property Yields">
  <link rel="shortcut icon" type="image/png" href="{%static 'images/favicon.jpg'%}">
  <script src="{%static 'themes/flatly/js/libs/vue.min.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/modernizr.js'%}"></script>

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/font.css'%}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/select2.min.css'%}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/bootstrap/dist/css/bootstrap.min.css'%}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css'%}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/font-awesome/css/font-awesome.min.css'%}">

  <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/maine545.css'%}">

  <script src="{%static 'themes/flatly/bower_components/jquery/dist/jquery.min.js'%}"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{%static 'themes/flatly/bower_components/bootstrap/dist/js/bootstrap.min.js'%}"></script>

  <script src="{%static 'themes/flatly/bower_components/underscore/underscore-min.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/ejs.js'%}"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAnhnTgs34fO2OTnq4Fg7DLEt5gjxln8"></script>
  <script src="{%static 'themes/flatly/js/libs/jquery.googlemap.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/jquery.animateNumber.min.js'%}"></script>

  <script src="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/carousel.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/bxslider.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/select2.min.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/piechart.min.js'%}"></script>

  <script src="{%static 'themes/flatly/js/intlTelInput.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/mmenu.min.js'%}"></script>

  <script src="{%static 'themes/flatly/js/libs/main632b.js'%}"></script>

  <script src="{%static 'modules/blog/js/socialShare.min.js'%}"></script>
</head>
<body ng-app="propertyshare">
  <div id="page-content-wrapper">
    <div class="container-fluid no-padding">
      <div class="webpage">
        <header class="header white-brgd">
          <div class="header-content wrapper">
            <div class="container no-padding">
              <div class="logo header-child no-padding col-xs-8 col-lg-3 col-md-3 col-sm-2">
                <a class="display-block col-xs-12 col-lg-3 col-md-3 col-sm-3" href="#">
                  <img src="{%static 'assets/media/logo-blue.png'%}" alt="Property Share logo">
                </a>
              </div>
              <div class="links hidden-xs header-child no-padding col-xs-4 col-lg-6 col-md-6 col-sm-6">
                <div class="for-white-space">
                  <ul class="main-links-ul text-center">
                    <li class="main-links-li"><a class="white-text" href="#">PROPERTIES</a></li>
                    <li class="main-links-li"><a class="white-text" href="#">HOW IT WORKS</a></li>
                    <li class="dropdown main-links-li" style="cursor:pointer">
                      <a class="dropdown-toggle white-text" data-toggle="dropdown">RESOURCE CENTER
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="left: 0px;min-width: 182px;">
                          <li><a href="{%url 'faq'%}"><span class="fa fa-question-circle" aria-hidden="true"></span>FAQs</a></li>
                          <li><a href="{%url 'articles'%}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>ARTICLES</a></li>
                          <li><a href="{%url 'investor-profile'%}"><span class="fa fa-users" aria-hidden="true"></span>INVESTOR PROFILE</a></li>
                          <li><a href="{%url 'webinars'%}"><span class="fa fa-podcast" aria-hidden="true"></span>WEBINARS</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="links login-links hidden-xs header-child no-padding col-xs-4 col-lg-3 col-md-3 col-sm-4">
                  <div class="for-white-space">
                    <ul class="main-links-ul text-right">

                      <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" data-toggle="modal" data-target="#signin">LOGIN</a></li>
                      <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn signup-modal-trigger" data-role="button" data-toggle="modal" data-target="#signup">SIGN UP</a></li>
                    </ul>
                  </div>
                </div>

                <a class="menu-mobile visible-xs" href="#menu"><span></span></a>
                <nav id="menu" class="visible-xs visibility-hidden">
                  <ul>
                    <li class="cross"><span class="white-text">X</span></li>
                    <li><span class="main heading white-text-thirty">MAIN</span></li>
                    <li><a class="white-text" href="#">HOME</a></li>
                    <li><a class="white-text" href="#">PROPERTIES</a></li>
                    <li><a class="white-text" href="#">HOW IT WORKS</a></li>
                    <li><a class="white-text" href="#">ABOUT US</a></li>
                    <li><a class="white-text" href="#">CONTACT US</a></li>
                    <li><a class="white-text" onclick="#">LOGIN</a></li>
                    <li><a class="white-text" href="#">FAQs</a></li>
                    <li><a class="white-text" href="#">ARTICLES</a></li>
                    <li><a class="white-text" href="#">INVESTOR PROFILE</a></li>
                    <li><a class="white-text" href="#">WEBINARS</a></li>
                    <li><span class="legal heading white-text-thirty">LEGAL</span></li>
                    <li><a class="white-text">TERMS &amp; CONDITIONS</a></li>
                    <li><a class="white-text">PRIVACY POLICY</a></li>
                    <li><span class="social heading white-text-thirty">SOCIAL</span></li>
                    <ul class="social">
                      <!-- <li class="icon-li"><a class="white-text"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                      <li class="icon-li"><a href="https://www.facebook.com/propertyshareindia/" class="white-text" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                  </ul>
                </nav>
              </div>
            </div>
          </header>

          <script type="text/javascript" src="http://web.mxradon.com/t/Tracker.js"></script>



      <style type="text/css">
      .select2-results__option {
        color: #2b2b2b !important;
        border: none !important;
        font-size: 15px !important;
        font-family: 'proxi-regular'
      }
      .select2-results__option--highlighted {
        background-color: #ccc !important;
      }
      .visible-xs {
        display: none!important;
      }

      .invest-offer-strip{
        position: absolute;
        display: block;
        color: #fff;
        background-color: #F5A12A;
        padding: 10px;
        width: 100%;
        top: 0px;
      }

      .invest-offer-strip-mobile{
        display: none;
      }

      @media  screen and (max-width: 768px) and (min-width: 300px) {
        .invest-offer-strip{
          display: none;
        }

        .invest-offer-strip-mobile{
          display: block;
          color: #fff;
          background-color: #F5A12A;
          font-size: 12px;
          padding: 9px;
          width: 99.8%;
          top: 0px;
        }
      }
    </style>

  <div class="property-details">
    <div class="wrapper">
      <div class="container">
        <div class="details-top-section" >
          <div class="invest-offer-strip-mobile">
            Pre-book offer: 1% rent top-up; 5 months’ rent guaranteed
          </div>
          <div class="top-main">
            <div class="image-section left col-xs-12 col-lg-8 col-md-8 col-sm-12">
              <div class="image-main">
                <div class="slider-main">
                  <ul class="bxslider">
                    <li>
                      <img src="{{obj.BigImage.url}}" alt="">

                  </ul>
                </div>
                <div class="invest-offer-strip">
                  Pre-book offer: 1% rent top-up; 5 months’ rent guaranteed
                </div>
                <div class="invest-now">

                  <button data-role="button" data-toggle="modal" data-target="#investNow-modal">INVEST NOW</button>
                </div>
                <div class="overlay"></div>
                <div class="image-bottom">
                  <div class="image-bottom-content">
                    <div class="wrapper-sub">
                      <div class="image-bottom-left child col-xs-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="price">
                          <label>&#8377; {{obj.Pricesqfeet}}</label>
                          <span> PER SQUARE FEET</span>
                        </div>
                        <div class="desc">
                          <ul>
                            <li>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="image-bottom-right child text-right col-xs-6 col-lg-6 col-md-6 col-sm-6">
                        <ul>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="details-section right col-xs-12 col-lg-4 col-md-4 col-sm-12 no-padding">
              <div class="wrapper-sub">
                <div class="tittle">
                  <div class="heading">
                    <label>{{obj.NameProperty}}</label>
                    <span>{{obj.TotalAreaProperty}} SF</span>
                  </div>
                  <div class="location">
                    <i class="fa fa-map-marker"></i>
                    <span>{{Location}}</span>
                  </div>
                </div>
                <div class="non-bars-section">
                  <div class="details-list">
                    <ul>
                      <li class="col-xs-6 col-lg-6 col-md-6 col-sm-6 no-padding">
                        <div class="detail-box">
                          <img src="{%static 'assets/media/minimum-investment-black.png'%}" alt="" class="child">
                          <span class="child">MIN INVESTMENT</span>
                          <label class="child">&#8377; {{obj.MinInvestment}}</label>
                        </div>
                      </li>
                      <li class="col-xs-6 col-lg-6 col-md-6 col-sm-6 no-padding">
                        <div class="detail-box">
                          <img src="{%static 'assets/media/group-detail-new-2.png'%}" alt="" class="child">
                          <span class="child">NO OF INVESTORS</span>
                          <label class="child">32</label>
                        </div>
                      </li>
                    </ul>
                    <ul>
                      <li class="col-xs-6 col-lg-6 col-md-6 col-sm-6 no-padding">
                        <div class="detail-box">
                          <img src="{%static 'assets/media/rental-yield-black.png'%}" alt="" class="child">
                          <span class="child">RENTAL YIELD </span>
                          <label class="child blue">{{obj.NetYield}}%</label>
                        </div>
                      </li>
                      <li class="col-xs-6 col-lg-6 col-md-6 col-sm-6 no-padding">
                        <div class="detail-box">
                          <img src="{%static 'assets/media/return-target-black.png'%}" alt="" class="child">
                          <span class="child">RETURN TARGET</span>
                          <label class="child green">{{obj.Irr}}%</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="slider">
                    <div class="slider-content">
                      <input class="card-slider" disabled data-slider-class='card-slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step=".01" data-slider-value="44.9"/>
                    </div>
                  </div>
                  <div class="funding-details">
                    <div class="funding-list">
                      <ul>
                        <li class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
                          <div class="funding-box">
                            <span>44.9%</span>
                            <label>FUNDED</label>
                          </div>
                        </li>
                        <li class="col-xs-4 col-lg-4 col-md-4 col-sm-4">
                          <div class="funding-box">
                            <span id={{obj.id}}></span>
                            <p id=d{{obj.id}}  style="display:none" >{{obj.ListingClose}}</p>

                            <script>
                              var d = new Date();
                            var dy = document.getElementById('d{{obj.id}}').innerHTML;

                            var ty = new Date(dy)
                             var timeDiff = Math.abs(ty.getTime() - d.getTime());
                             var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
                             document.getElementById('{{obj.id}}').innerHTML = diffDays;
                            </script>
                            <label>DAYS TO GO</label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="property-value">
                  <div class="image-meter child col-xs-2 col-lg-2 col-md-2 col-sm-2">
                    <img src="{%static 'assets/media/meter-black.png'%}" alt="">
                  </div>
                  <div class="property-desc child col-xs-10 col-lg-10 col-md-10 col-sm-10">
                    <label>&#8377; 7,90,00,000</label>
                    <span>Of &#8377; {{obj.Allinprice}} Property Value</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs-section" ng-controller="mapController">
          <div class="tabs-content">
            <div class="wrapper-sub">
              <div class="tabs-head">
                <ul id="tabs" class="tabs-list" data-tabs="tabs">
                  <li class="tab-item active">
                    <a href="#overview" data-toggle="tab" aria-expanded="true">
                      <img src="{%static 'assets/media/overview.png'%}" alt="">
                      <span>OVERVIEW</span>
                    </a>
                  </li>
                  <li class="tab-item">
                    <a href="#location" data-toggle="tab" aria-expanded="true" onclick="mapDetails(this)" data-icon="https://www.propertyshare.in/assets/media/google-marker.png" data-latitude = 19.0215 data-longitude = 73.016>
                      <img src="{%static 'assets/media/location.png'%}" alt="">
                      <span>LOCATION</span>
                    </a>
                  </li>
                  <li class="tab-item">
                    <a href="#floor-plan" data-toggle="tab" aria-expanded="true">
                      <img src="{%static 'assets/media/floor-plan.png'%}" alt="">
                      <span>FLOOR PLAN</span>
                    </a>
                  </li>
                  <li class="tab-item">
                    <a href="#pricing" data-toggle="tab" aria-expanded="true" onclick="pricingPie(this)">
                      <img src="{%static 'assets/media/pricing.png'%}" alt="">
                      <span>PRICING</span>
                    </a>
                  </li>
                  <li class="tab-item">
                    <a href="#tenancy" data-toggle="tab" aria-expanded="true">
                      <img src="{%static 'assets/media/tenancy.png'%}" alt="">
                      <span>TENANCY</span>
                    </a>
                  </li>
                  <li class="tab-item">
                    <a href="#highlights" data-toggle="tab" aria-expanded="true">
                      <img src="{%static 'assets/media/highlights.png'%}" alt="">
                      <span>HIGHLIGHTS</span>
                    </a>
                  </li>
                  <li class="tab-item">
                    <a  href="#models" data-toggle="tab" aria-expanded="true" >
                      <img src="{%static 'assets/media/models.png'%}" alt="">
                      <span>MODELS</span>
                    </a>
                  </li>
                  <li class="tab-item">
                  <a href="#reports" data-toggle="tab" aria-expanded="true">
                      <img src="{%static 'assets/media/reports.png'%}" alt="">
                      <span>REPORTS</span>
                    </a>
                  </li>
                  <li class="tab-item">
                    <a href="#updates" data-toggle="tab" aria-expanded="true">
                      <img src="{%static 'assets/media/updates.png'%}" alt="">
                      <span>UPDATES</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div id="my-tab-content" class="tab-content">
                <div class="tab-pane overview-section active" id="overview">
                  <div class="overview-container">
                    <div class="overview-list">
                      <ul class="list-main eq-ht-ul">
                        <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 main eq-ht-li overview-desc-li">
                          <div class="overview-box white-brgd">
                            <div class="">
                              <div class="title unique-title">
                                <label style="padding-left: 0px;">INVESTMENT CASE VIDEO</label>
                              </div>
                              <div class="box-content description">
                                <div class="video-container">
                                  <iframe id="how_it_works_video" class="video" width="550" height="350"  allowfullscreen style="max-width: 100%;"></iframe>
                                </div>
                                <p>
                                  Seawoods Grand Central is India’s first and largest Transit-Oriented Development (TOD) in Navi Mumbai.

                                  Spread across 40 acres, Seawoods Grand Central is a unique combination of Commercial, Retail and Hospitality. It offers spacious, well-planned and completely customizable office spaces.
                                </p>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 main eq-ht-li">
                          <div class="overview-box white-brgd">
                            <div class="">
                              <div class="title unique-title">
                                <label>INVESTMENT HIGHLIGHTS</label>
                              </div>
                              <div class="box-content investment">
                                <ul>
                                  <li class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="box">
                                      <img class="img-responsive" src="{%static 'assets/dashboardHighlight/yield.png'%}" alt="">
                                      <span class="title-name">HIGH RENTAL YIELD</span>
                                      <label class="blue">{{obj.NetYield}}%</label>
                                      <span class="title-highlight">on All-in Price</span>
                                    </div>
                                  </li>
                                  <li class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="box">
                                      <img class="img-responsive" src="{%static 'assets/dashboardHighlight/high-interest_1.png'%}" alt="">
                                      <span class="title-name">HIGH RETURNS</span>
                                      <label class="green">{{obj.Irr}}%</label>
                                      <span class="title-highlight">IRR</span>
                                    </div>
                                  </li>
                                  <li class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="box">
                                      <img class="img-responsive" src="{%static 'assets/dashboardHighlight/attractive-price_2.png'%}" alt="">
                                      <span class="title-name">ATTRACTIVE PRICE</span>
                                      <label class="">&#8377; {{obj.Pricesqfeet}}</label>
                                      <span class="title-highlight">Per square foot</span>
                                    </div>
                                  </li>
                                  <li class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="box">
                                      <img class="img-responsive" src="{%static 'assets/dashboardHighlight/high-quality-real-estate_1.png'%}" alt="">
                                      <span class="title-name">MNC TENANT</span>
                                      <label class="">{{obj.NameofTenant}}</label>
                                      <span class="title-highlight">{{obj.DescofTenant}}</span>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <ul class="list-main eq-ht-ul">
                        <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 main eq-ht-li">
                          <div class="overview-box no-padding white-brgd">
                            <div class="">
                              <div class="title unique-title">
                                <label>DESCRIPTION</label>
                              </div>
                              <div class="box-content description" style="overflow: auto !important; max-height: 400px;">
                                <p>
                                  <p>There is an opportunity to purchase a <strong>{{obj.Pricesqfeet}}</strong> square feet commercial office space (<strong>40%</strong> leased)&nbsp; in L&amp;{{obj.NameProperty}}- India&rsquo;s first and largest Transit Oriented Development - located in {{obj.Maplocation}}, for an all-in cost of <strong>{{obj.Allinprice}}</strong> (<strong>Rs. {{obj.Pricesqfeet}} per sf)</strong>&nbsp;which implies a {{obj.NetYield}} yield and a 10% discount to market price.</p>

                                  <p>The listing is a combination of 2 units in Tower 2:</p>

                                  <p>1. 7th Floor Unit measuring 4,240 sf leased to <u><strong>{{obj.NameofTenant}} a {{obj.DescofTenant}}</strong></u></p>

                                  <p>2. 6th Floor Unit measuring 6,748 sf currently vacant but under discussion with multiple potential tenants</p>

                                  <p>The listing is a combination of both units meaning investors will get a share of both the {{obj.NameofTenant}} lease and the vacant area totally measuring {{obj.TotalAreaProperty}} sf.&nbsp;</p>

                                  <p>Developed by L&amp;T, the retail mall and one office tower has been bought by global PE fund Blackstone. PropertyShare&rsquo;s units are located on the 6th floor and 7th floor of Wing D and Wing F respectively and enjoy unobstructed views of the Arabian sea. Property Share has leveraged its relationship with Blackstone and L&amp;T to get a phenomenal purchase price of Rs. {{obj.Pricesqfeet}} psf which is a&nbsp;10% discount&nbsp;to what L&amp;T sells lower floors for in the property.</p>

                                  <p>{{obj.NameProperty}} is a LEED Gold certified high-end mixed-use development with a 1 mn sf mall, 2 mn sf office and&nbsp; an upcoming hotel built on top of the centrally connected Seawoods Railway Station.</p>

                                  <p>The integrated development has a 1 mn sf operational mall which has been purchased by global real estate PE fund Blackstone and houses marquee tenants like H&amp;M, Lacoste among others.The office tower has been recently leased to $18 bn co-working start-up WeWork.</p>

                                  <p>Spread across 40 acres, {{obj.NameProperty}} is an integrated Commercial, Retail and Hospitality development above the Seawoods railway station.</p>

                                  <p>&nbsp;</p>

                                </p>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 main eq-ht-li">
                          <div class="overview-box no-padding white-brgd">
                            <div class="">
                              <div class="title unique-title">
                                <label>LOCATION</label>
                              </div>
                              <div class="box-content description" style="max-height: 400px;">
                              <iframe src="  https://www.google.com/maps/embed/v1/place?key=AIzaSyBeZ29CBHBwew7fFlVkQBz53Zvt4SYE_zk&q={{obj.Maplocation}}" style="height: -webkit-fill-available;width: 100%;"></iframe>
                            </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <ul class="list-main eq-ht-ul charts">
                        <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 main eq-ht-li financial">
                          <div class="overview-box position-relative white-brgd">
                            <div class="">
                              <div class="title unique-title">
                                <label>FINANCIAL MODEL</label>
                              </div>
                              <div class="overview-financial">
                                <div class="bar-graph-container">
                                  <div class="bar-graph" data-bargraph='{&quot;investment&quot;:{&quot;number&quot;:175800000,&quot;percent&quot;:100,&quot;color&quot;:&quot;#3ec5f3&quot;,&quot;text&quot;:&quot;INVESTMENT&quot;,&quot;name&quot;:&quot;AMOUNT&quot;},&quot;rents&quot;:{&quot;number&quot;:72890680,&quot;percent&quot;:{{rentpt}},&quot;color&quot;:&quot;#465766&quot;,&quot;name&quot;:&quot;RENTS&quot;},&quot;interest&quot;:{&quot;number&quot;:2432235,&quot;percent&quot;:{{iodpt}},&quot;color&quot;:&quot;#ff615f&quot;,&quot;text&quot;:&quot;INTEREST ON&quot;,&quot;name&quot;:&quot;DEPOSIT&quot;},&quot;profit&quot;:{&quot;number&quot;:106361352,&quot;percent&quot;:{{profitpt}},&quot;color&quot;:&quot;#40ec9a&quot;,&quot;name&quot;:&quot;PROFIT&quot;},&quot;total&quot;:{&quot;number&quot;:357484267,&quot;percent&quot;:{{totalptg}},&quot;color&quot;:&quot;#848afe&quot;,&quot;name&quot;:&quot;TOTAL&quot;}}'>
                                    <ul>
                                      <li class="nt-gross">
                                        <div class="content">
                                          <div class="bar-box" data-key="investment" style="background-color: #3ec5f3">
                                            <span>
                                              100%
                                            </span>
                                          </div>
                                          <div class="name">
                                            <i>INVESTMENT</i>

                                            <span>AMOUNT</span>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="nt-gross">
                                        <div class="content">
                                          <div class="bar-box" data-key="rents" style="background-color: #465766">
                                            <span>
                                              {{rentpt}}%
                                            </span>
                                          </div>
                                          <div class="name">

                                            <span>RENTS</span>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="nt-gross">
                                        <div class="content">
                                          <div class="bar-box" data-key="interest" style="background-color: #ff615f">
                                            <span>
                                              {{iodpt}}%
                                            </span>
                                          </div>
                                          <div class="name">
                                            <i>INTEREST ON</i>

                                            <span>DEPOSIT</span>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="nt-gross">
                                        <div class="content">
                                          <div class="bar-box" data-key="profit" style="background-color: #40ec9a">
                                            <span>
                                              {{profitpt}}%
                                            </span>
                                          </div>
                                          <div class="name">

                                            <span>PROFIT</span>
                                          </div>
                                        </div>
                                      </li>
                                      <li class="gross">
                                        <div class="content">
                                          <div class="bar-box" style="background-color: #848afe">
                                            <span>
                                              {{totalptg}}%
                                            </span>
                                          </div>
                                          <div class="name">
                                            <span>TOTAL</span>
                                          </div>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class="yield-icon left">
                                    <img src="{%static 'assets/media/rental-yield-green.png'%}" alt="">
                                    <span>Return Target : {{obj.Irr}}%</span>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 main eq-ht-li pricing">
                          <div class="overview-box white-brgd">
                            <div class="">
                              <div class="title unique-title">
                                <label>PRICING</label>
                                <img class="pull-right cursor-pointer pricing-toggle-img" src="{%static 'assets/media/pricing-toggle.png'%}" alt="">
                              </div>
                              <div class="overview-price-box toggle-price price-box-pie">
                                <div class="content">
                                  <div class="framework-container">
                                    <div class="pie-chart" data-piechart='{&quot;purchase_price&quot;:{&quot;number&quot;:{{pps}},&quot;color&quot;:&quot;#6495eb&quot;},&quot;car_park&quot;:{&quot;number&quot;:{{carfee}},&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;stamp_duty&quot;:{&quot;number&quot;:{{sd}},&quot;color&quot;:&quot;#ff615f&quot;},&quot;registration&quot;:{&quot;number&quot;:{{reg}},&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;brokerage&quot;:{&quot;number&quot;:{{bf}},&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;legal_fee&quot;:{&quot;number&quot;:{{lf}},&quot;color&quot;:&quot;#40ec9a&quot;},&quot;reserve&quot;:{&quot;number&quot;:{{rf}},&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;rent_guarantee&quot;:{&quot;number&quot;:{{rgf}},&quot;color&quot;:&quot;#40ec9a&quot;},&quot;additional_expenses&quot;:{&quot;number&quot;:2565425,&quot;color&quot;:&quot;#40ec9a&quot;}}'></div>
                                  </div>
                                  <div class="totalPrice">
                                    <span>&#8377; {{obj.Allinprice}}</span>
                                  </div>
                                </div>
                                <div class="pie-list">
                                  <ul class="overflow-hidden">
                                    <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                                      <i class="color-define" style="background-color: #6495eb"></i>
                                      <span>PURCHASE PRICE</span>
                                    </li>
                                    <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                                      <i class="color-define" style="background-color: #3ec5f3"></i>
                                      <span>CAR PARK</span>
                                    </li>
                                    <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                                      <i class="color-define" style="background-color: #ff615f"></i>
                                      <span>STAMP DUTY</span>
                                    </li>
                                    <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                                      <i class="color-define" style="background-color: #3ec5f3"></i>
                                      <span>REGISTRATION</span>
                                    </li>
                                    <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                                      <i class="color-define" style="background-color: #3ec5f3"></i>
                                      <span>BROKERAGE</span>
                                    </li>
                                    <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                                      <i class="color-define" style="background-color: #40ec9a"></i>
                                      <span>LEGAL FEE</span>
                                    </li>
                                    <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                                      <i class="color-define" style="background-color: #3ec5f3"></i>
                                      <span>RESERVE</span>
                                    </li>
                                    <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                                      <i class="color-define" style="background-color: #40ec9a"></i>
                                      <span>RENT GUARANTEE</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="price-box toggle-price hide white-brgd " style="overflow: auto !important; max-height: 400px;">

                                <div class="price-list unique">
                                  <ul>

                                    <li>
                                      <div class="list-box">
                                        <span>purchase price</span>
                                        <label class="green">&#8377; {{obj.Purchaseprice}}</label>
                                      </div>
                                    </li>

                                    <li>
                                      <div class="list-box">
                                        <span>car park</span>
                                        <label class=""> {{obj.Carfee}}</label>
                                      </div>
                                    </li>

                                    <li>
                                      <div class="list-box">
                                        <span>stamp duty</span>
                                        <label class="">{{obj.Stampfee}}</label>
                                      </div>
                                    </li>

                                    <li>
                                      <div class="list-box">
                                        <span>registration</span>
                                        <label class="">{{obj.Registrationfee}}</label>
                                      </div>
                                    </li>

                                    <li>
                                      <div class="list-box">
                                        <span>brokerage</span>
                                        <label class="">{{obj.Brokeragefee}}</label>
                                      </div>
                                    </li>

                                    <li>
                                      <div class="list-box">
                                        <span>legal fee</span>
                                        <label class="">{{obj.Legalfee}}</label>
                                      </div>
                                    </li>

                                    <li>
                                      <div class="list-box">
                                        <span>reserve</span>
                                        <label class="">{{obj.Reservationfee}}</label>
                                      </div>
                                    </li>

                                    <li>
                                      <div class="list-box">
                                        <span>rent guarantee</span>
                                        <label class="">{{obj.RentGuaranteefee}}</label>
                                      </div>
                                    </li>
                                  </ul>
                                  <div class="all-price">
                                    <span>All in price</span>
                                    <label>&#8377; {{obj.Allinprice}}</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane location-section" id="location">
                  <div class="location-container">
                    <div class="wrapper-sub">
                      <div class="location-details overflow-hidden white-brgd">
                        <div class="map col-xs-12 col-lg-8 col-md-8 col-sm-8 no-padding">
                          <iframe src="  https://www.google.com/maps/embed/v1/place?key=AIzaSyBeZ29CBHBwew7fFlVkQBz53Zvt4SYE_zk&q={{obj.Maplocation}}" style="height: -webkit-fill-available;width: 100%;"></iframe>
</div>

                        <div class="location-highlights highlights-pane col-xs-12 col-lg-4 col-md-4 col-sm-4">
                          <div class="title unique-title">
                            <h3>
                              <label>LOCATION HIGHLIGHTS</label>
                            </h3>
                          </div>
                          <div class="text">
                            <p><p>{{obj.NameProperty}} is located above the Seawoods railway station in {{Location}}.</p>

                            <p>Seawoods station connects commuters to Panvel in the south, Thane in the north and Dadar/CST in central and south Mumbai making the property one of the best located developments in the city. The new Navi Mumbai airport was inaugurated by PM Narendra Modi in February &#39;18 and is expected to start operations for the first phase by early 2020 which should lead to significant upside in the property.</p>

                            <p>A Transharbour link connecting Navi Mumbai to central Mumbai is also being constructed by L&amp;T along with metro connectivity making this property very attractive from an investment standpoint.</p>
                          </p>
                          <!-- <p>
                          Whitefield is also home to Bangalore’s largest mall (Phoenix market city), India’s best International school (TISB), five star hotels (The Taj / Marriott), hospitals (ColumbiaAsia, Vydehi) and a number of bars and restaurants, making it one of the most sought-after residential neighbourhoods.
                        </p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane floorPlan-section" id="floor-plan">
              <div class="floorPlan-container">
                <div class="wrapper-sub">
                  <div class="floorPlan-details overflow-hidden white-brgd">
                    <div class="floorPlan-image col-xs-12 col-lg-8 col-md-8 col-sm-8 no-padding">
                      <img src="{{obj.FloorPlan.url}}" alt="" class="img-responsive">
                    </div>
                    <div class="floorPlan-highlights highlights-pane col-xs-12 col-lg-4 col-md-4 col-sm-4">
                      <div class="title unique-title">
                        <h3><label>FLOOR PLAN HIGHLIGHTS</label></h3>
                      </div>
                      <div class="text">
                        <p><p>PropertyShare&rsquo;s unit is located on the 6th floor and 7th floor of Wing D and Wing F respectively and enjoys views of the Arabian sea with light on 3 sides.</p>

                        <p>This is the most premium unit in the building which has been exclusively sold to Property Share.</p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane pricing-section" id="pricing">
            <div class="pricing-content">
              <div class="wrapper-sub">
                <div class="pricing-list">
                  <ul class="overflow-hidden eq-ht-ul">
                    <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6 pie-chart-container eq-ht-li no-padding-mbl">
                      <div class="price-box price-box-pie white-brgd ">
                        <div class="title unique-title">
                          <label>ALL-IN PRICE</label>
                        </div>
                        <div class="content">
                          <div class="framework-container">
                            <div class="pie-chart" data-piechart='{&quot;purchase_price&quot;:{&quot;number&quot;:{{pps}},&quot;color&quot;:&quot;#6495eb&quot;},&quot;car_park&quot;:{&quot;number&quot;:{{carfee}},&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;stamp_duty&quot;:{&quot;number&quot;:{{sd}},&quot;color&quot;:&quot;#ff615f&quot;},&quot;registration&quot;:{&quot;number&quot;:{{reg}},&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;brokerage&quot;:{&quot;number&quot;:{{bf}},&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;legal_fee&quot;:{&quot;number&quot;:{{lf}},&quot;color&quot;:&quot;#40ec9a&quot;},&quot;reserve&quot;:{&quot;number&quot;:{{rf}},&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;rent_guarantee&quot;:{&quot;number&quot;:{{rgf}},&quot;color&quot;:&quot;#40ec9a&quot;},&quot;additional_expenses&quot;:{&quot;number&quot;:2565425,&quot;color&quot;:&quot;#40ec9a&quot;}}'></div>
                          </div>
                          <div class="totalPrice">
                            <span>&#8377;{{obj.Allinprice}}</span>
                          </div>
                        </div>
                        <div class="pie-list">
                          <ul class="overflow-hidden">
                            <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                              <i class="color-define" style="background-color: #6495eb"></i>
                              <span>{{obj.Purchaseprice}}</span>
                            </li>
                            <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                              <i class="color-define" style="background-color: #3ec5f3"></i>
                              <span>{{obj.Carfee}}</span>
                            </li>
                            <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                              <i class="color-define" style="background-color: #ff615f"></i>
                              <span>{{obj.Stampfee}}</span>
                            </li>
                            <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                              <i class="color-define" style="background-color: #3ec5f3"></i>
                              <span>{{obj.Registrationfee}}</span>
                            </li>
                            <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                              <i class="color-define" style="background-color: #3ec5f3"></i>
                              <span>{{obj.Brokeragefee}}</span>
                            </li>
                            <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                              <i class="color-define" style="background-color: #40ec9a"></i>
                              <span>{{obj.Legalfee}}</span>
                            </li>
                            <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                              <i class="color-define" style="background-color: #3ec5f3"></i>
                              <span>{{obj.Reservationfee}}</span>
                            </li>
                            <li class="col-xs-6 col-lg-4 col-md-4 col-sm-6">
                              <i class="color-define" style="background-color: #40ec9a"></i>
                              <span>{{obj.RentGuaranteefee}}</span>
                            </li>

                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="col-xs-12 eq-ht-li pricing col-lg-6 col-md-6 col-sm-6 no-padding-mbl">
                      <div class="price-box white-brgd" style="height: 100%">
                        <div class="title unique-title">
                          <label>ALL-IN PRICE</label>
                        </div>
                        <div class="price-list unique">
                          <ul>

                            <li>
                              <div class="list-box">
                                <span>purchase price</span>
                                <label class="green">&#8377;{{obj.Purchaseprice}}</label>
                              </div>
                            </li>

                            <li>
                              <div class="list-box">
                                <span>car park</span>
                                <label class="">{{obj.Carfee}}</label>
                              </div>
                            </li>

                            <li>
                              <div class="list-box">
                                <span>stamp duty</span>
                                <label class="">{{obj.Stampfee}}</label>
                              </div>
                            </li>

                            <li>
                              <div class="list-box">
                                <span>registration</span>
                                <label class="">{{obj.Registrationfee}}</label>
                              </div>
                            </li>

                            <li>
                              <div class="list-box">
                                <span>brokerage</span>
                                <label class="">{{obj.Brokeragefee}}</label>
                              </div>
                            </li>

                            <li>
                              <div class="list-box">
                                <span>legal fee</span>
                                <label class="">{{obj.Legalfee}}</label>
                              </div>
                            </li>

                            <li>
                              <div class="list-box">
                                <span>reserve</span>
                                <label class="">{{obj.Reservationfee}}</label>
                              </div>
                            </li>

                            <li>
                              <div class="list-box">
                                <span>rent guarantee</span>
                                <label class="">{{obj.RentGuaranteefee}}</label>
                              </div>
                            </li>


                          </ul>
                          <div class="all-price">
                            <span>All in price</span>
                            <label>&#8377;{{obj.Allinprice}}</label>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="rental-container no-padding-mbl-imp">
                  <div class="yield white-brgd">
                    <div class="title unique-title">
                      <label>MONTHLY RENT DISTRIBUTION</label>
                    </div>
                    <div class="bar-graph-container">
                      <div class="bar-graph" data-bargraph='{&quot;gross_rent&quot;:{&quot;number&quot;:{{Grossrent}},&quot;percent&quot;:100,&quot;color&quot;:&quot;#3ec5f3&quot;},&quot;property_management_fee&quot;:{&quot;number&quot;:{{obj.ManagementFee}},&quot;percent&quot;:{{mfp}},&quot;color&quot;:&quot;#848afe&quot;},&quot;net_rent&quot;:{&quot;number&quot;:{{Netrent}},&quot;percent&quot;:{{nrp}},&quot;color&quot;:&quot;#ff7472&quot;}}'>
                        <ul>
                          <li class="gross">
                            <div class="content">
                              <div class="bar-box" style="background-color: #3ec5f3">
                                <span class="rent_distribution">&#8377;{{obj.Grossrent}}</span>
                              </div>
                              <div class="name">
                                <span>GROSS RENT</span>
                              </div>
                            </div>
                          </li>
                          <li class="nt-gross">
                            <div class="content">
                              <div class="bar-box" data-key="property_management_fee" style="background-color: #848afe">
                                <span class="rent_distribution">&#8377;{{ManagementFeeTotal}}</span>
                              </div>
                              <div class="name">
                                <span>property management fee</span>
                              </div>
                            </div>
                          </li>
                          <li class="nt-gross">
                            <div class="content">
                              <div class="bar-box" data-key="net_rent" style="background-color: #ff7472">
                                <span class="rent_distribution">&#8377;{{obj.Netrent}}</span>
                              </div>
                              <div class="name">
                                <span>net rent</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="yield-icon">
                        <img src="{%static 'assets/media/rental-yield-green.png'%}" alt="">
                        <span>Annual Yield : {{obj.NetYield}}%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane tenancy-section" id="tenancy">
            <div class="tenancy-container white-brgd">
              <div class="wrapper wrapper-sub">
                <div class="tenancy-details">
                  <div class="title unique-title">
                    <label>TENANT OVERVIEW</label>
                  </div>
                  <div class="tenancy-content">
                    <div class="tenancy-list">
                      <ul class="overflow-hidden main">
                        <li class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center">
                          <div class="box">
                            <img src="{%static 'assets/media/lease-start.png'%}" alt="">
                            <label class="name">LEASE START DATE</label>
                            <span class="tenant-text">{{obj.LeasestartDate}}</span>
                          </div>
                        </li>
                        <li class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center">
                          <div class="box">
                            <img src="{%static 'assets/media/locking-peroid.png'%}" alt="">
                            <label class="name">LOCK-IN PERIOD <i class="query display-inline-block-imp" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Duration till which the tenant is legally mandated to stay"></i></label>
                            <span class="tenant-text blue">{{obj.LockPeriod}}</span>
                          </div>
                        </li>
                        <li class="col-xs-4 col-md-4 col-lg-4 col-sm-4 text-center">
                          <div class="box">
                            <img src="{%static 'assets/media/lease-end.png'%}" alt="">
                            <label class="name">LEASE END DATE</label>
                            <span class="tenant-text">{{obj.LeaseendDate}}</span>
                          </div>
                        </li>
                      </ul>
                      <div class="tenancy-slider-content">
                        <div class="tenancy-slider-div">
                          <input class="tenancy-slider" disable data-slider-class='card-slider' type="text" data-slider-min="0" data-slider-max="9" data-slider-step="1" data-slider-value="3"/>
                        </div>
                        <div class="custom-end-points">
                          <img class="left" src="{%static 'assets/media/circle-blue.png'%}" alt="">
                          <img class="right" src="{%static 'assets/media/circle-blue.png'%}" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="tenancy-block">
                      <div class="block-content overflow-hidden">
                        <div class="block-list col-xs-12 col-lg-6 col-md-6 col-sm-6">
                          <ul class="overflow-hidden">
                            <li class="col-xs-6">
                              <div class="box">
                                <img src="{%static 'assets/media/total-area.png'%}" alt="">
                                <label>TOTAL AREA</label>
                                <span>{{obj.TotalAreaProperty}} SF</span>
                              </div>
                            </li>
                            <li class="col-xs-6">
                              <div class="box">
                                <img src="{%static 'assets/media/rent-per-sf.png'%}" alt="">
                                <label>RENT PER SF</label>
                                <span>&#8377;{{obj.Rentsqfeet}}</span>
                              </div>
                            </li>
                          </ul>
                          <ul class="overflow-hidden">
                            <li class="col-xs-6">
                              <div class="box">
                                <img src="{%static 'assets/media/lease-period.png'%}" alt="">
                                <label>LEASE PERIOD</label>

                                <span id=y{{obj.id}}></span>
                                <p id=dls{{obj.id}}  style="display:none" >{{obj.LeasestartDate}}</p>
                                  <p id=dle{{obj.id}}  style="display:none" >{{obj.LeaseendDate}}</p>

                              </div>
                              <script>
                                var dls = document.getElementById('dls{{obj.id}}').innerHTML;
                              var dle = document.getElementById('dle{{obj.id}}').innerHTML;
                              var tle = new Date(dle);
                              var tls = new Date(dls);
                               var timeDiff = Math.abs(tle.getTime() - tls.getTime());
                               var diffYears = Math.ceil(timeDiff / (1000 * 3600 * 24));
                               if (diffYears > 365){
                                 var diffYears = Math.floor(diffYears/365);
                               document.getElementById('y{{obj.id}}').innerHTML = diffYears + "days";

                               }
                               else{
                               document.getElementById('y{{obj.id}}').innerHTML = diffYears + "days";
                               }
                              </script>
                            </li>
                            <li class="col-xs-6">
                              <div class="box">
                                <img src="{%static 'assets/media/escalation.png'%}" alt="">
                                <label>ESCALATION</label>
                                <span>{{obj.EscalationPercentage}}%</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="block-desc col-xs-12 col-lg-6 col-md-6 col-sm-6">
                          <h3>TENANT DETAILS</h3>
                          <p>{{obj.DescofTenant}}  </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane highlights-section" id="highlights">
          <div class="highlights-container white-brgd">
            <div class="wrapper wrapper-sub">
              <div class="highlights-details">
                <div class="title unique-title">
                  <label>HIGHLIGHTS</label>
                </div>
                <div class="panel-section-highlights">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="highlight-1-id">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#highlight-1" aria-expanded="true" aria-controls="highlights_-1">
                            <img src="{%static 'assets/highlight/yield_1.png'%}" alt="">
                            <span>HIGH YIELD</span>
                          </a>
                          <i class="indicator glyphicon collapsed glyphicon-minus" data-toggle="collapse" data-parent="#accordion" href="#highlight-1" aria-expanded="false" aria-controls="highlight-1"></i>
                        </h4>
                      </div>
                      <div id="highlight-1" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" aria-labelledby="highlight-1-id">
                        <div class="list" style="margin: 30px;">
                          <ul>
                            <li>{{obj.NetYield}} going-in Rental Yield</li>
                          </ul>

                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="highlight-2-id">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#highlight-2" aria-expanded="true" aria-controls="highlights_-2">
                            <img src="{%static 'assets/highlight/high-interest_2.png'%}" alt="">
                            <span>HIGH RETURNS</span>
                          </a>
                          <i class="indicator glyphicon collapsed glyphicon-plus" data-toggle="collapse" data-parent="#accordion" href="#highlight-2" aria-expanded="false" aria-controls="highlight-2"></i>
                        </h4>
                      </div>
                      <div id="highlight-2" class="panel-collapse collapse " role="tabpanel" aria-expanded="true" aria-labelledby="highlight-2-id">
                        <div class="list" style="margin: 30px;">
                          <ul>
                            <li>{{obj.Irr}}% IRR</li>
                            <li>{{obj.Moic}}x Profit</li>
                          </ul>

                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="highlight-3-id">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#highlight-3" aria-expanded="true" aria-controls="highlights_-3">
                            <img src="{%static 'assets/highlight/high-quality-real-estate.png'%}" alt="">
                            <span>PLATINUM GRADE BUILDING</span>
                          </a>
                          <i class="indicator glyphicon collapsed glyphicon-plus" data-toggle="collapse" data-parent="#accordion" href="#highlight-3" aria-expanded="false" aria-controls="highlight-3"></i>
                        </h4>
                      </div>
                      <div id="highlight-3" class="panel-collapse collapse " role="tabpanel" aria-expanded="true" aria-labelledby="highlight-3-id">
                        <div class="list" style="margin: 30px;">
                          <ul>
                            <li>Gold LEED certified building</li>
                            <li>High-end 1 mn sf operational mall</li>
                            <li>Access controlled entry with triple height lobby</li>
                          </ul>

                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="highlight-4-id">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#highlight-4" aria-expanded="true" aria-controls="highlights_-4">
                            <img src="{%static 'assets/highlight/location_2.png'%}" alt="">
                            <span>CONNECTIVITY</span>
                          </a>
                          <i class="indicator glyphicon collapsed glyphicon-plus" data-toggle="collapse" data-parent="#accordion" href="#highlight-4" aria-expanded="false" aria-controls="highlight-4"></i>
                        </h4>
                      </div>
                      <div id="highlight-4" class="panel-collapse collapse " role="tabpanel" aria-expanded="true" aria-labelledby="highlight-4-id">
                        <div class="list" style="margin: 30px;">
                          <ul>
                            <li>Located above the Seawoods railway station connecting to south, north and central Mumbai</li>
                            <li>New international airport operational by 2020</li>
                            <li>Close to Transharbour Link connecting Navi Mumbai to central Mumbai</li>
                          </ul>

                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="highlight-5-id">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#highlight-5" aria-expanded="true" aria-controls="highlights_-5">
                            <img src="{%static 'assets/highlight/grade-a-tenant_1.png'%}" alt="">
                            <span>BLUE CHIP TENANT</span>
                          </a>
                          <i class="indicator glyphicon collapsed glyphicon-plus" data-toggle="collapse" data-parent="#accordion" href="#highlight-5" aria-expanded="false" aria-controls="highlight-5"></i>
                        </h4>
                      </div>
                      <div id="highlight-5" class="panel-collapse collapse " role="tabpanel" aria-expanded="true" aria-labelledby="highlight-5-id">
                        <div class="list" style="margin: 30px;">
                          <ul>
                            <li>{{obj.DescofTenant}}</li>
                            <li>9 year lease</li>
                            <li>{{obj.LockPeriod}} year lock-in</li>
                          </ul>

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane model-section" id="models">
          <div class="model-container">
            <div class="wrapper-sub" style="padding: 0 15px;">
              <div class="model-details">
                <div class="part part-one white-brgd">
                  <div class="title unique-title">
                    <label>RETURNS</label>
                  </div>
                  <div class="model-content">
                    <div class="content-title">
                      <label>Annual Capital Appreciation</label>
                    </div>
                    <div class="slider">
                      <div class="slider-content">
                        <input class="model-slider" id=modelcal onchange="myFunctionmodel()" disabled data-slider-class='card-slider' type="text" data-slider-min="5" data-slider-max="15" data-slider-step=".5" data-slider-value="10"/>
                      </div>
                      <div class="custom-end-points">
                        <div class="left">5%</div>
                        <div class="right">15%</div>
                        <img class="left" src="{%static 'assets/media/circle-dot.png'%}" alt="">
                        <img class="right" src="{%static 'assets/media/circle-dot.png'%}" alt="">
                      </div>
                    </div>

                    <script>
                    function myFunctionmodel() {
                          var x = document.getElementById('modelcal').value
                          var y = 1;

                          $.ajax({
                            type: 'POST',
                            url: '/property/{{obj.NameProperty}}/',
                            dataType : 'json',
                            data: {'EscalationPercentage':x ,'chk':y, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                            success: function (data, textStatus) {
                               document.getElementById("pamount").innerHTML =" &#8377;"+ data[0]+"%";
                               document.getElementById("salepsft").innerHTML = " &#8377;"+data[3]+"%";
                               document.getElementById("moical").innerHTML = data[2]+"x";
                               document.getElementById("irrcal").innerHTML = data[1]+"%";
                               document.getElementById("salepricecal").innerHTML = data[4];
                               document.getElementById("Totallast").innerHTML = data[5];
                            },
                            error: function(xhr, status, e) {
                              alert(status, e);
                            }
                          });
                      }
                    </script>

                    <div class="model-list">
                      <ul class="model-list-ul" data-slidevalues="">
                        <li class="col-xs-3 col-lg-3 col-md-3 col-sm-3 profit-amount">
                          <div class="box">
                            <img src="{%static 'assets/media/model-profit.png'%}" alt="">
                            <span>PROFIT AMOUNT</span>
                            <label class="value" id=pamount> &#8377; {{ProfitAmount}} </label>
                          </div>
                        </li>
                        <li class="col-xs-3 col-lg-3 col-md-3 col-sm-3 sale-price">
                          <div class="box">
                            <img src="{%static 'assets/media/model-sale.png' %}" alt="">
                            <span>SALE PRICE PSF</span>
                            <label class="value" id=salepsft> &#8377; {{Salepricepersf}} </label>
                          </div>
                        </li>
                        <li class="col-xs-3 col-lg-3 col-md-3 col-sm-3 moic">
                          <div class="box">
                            <img src="{%static 'assets/media/model-moic.png'%}" alt="">
                            <span class="display-inline-block-imp">MOIC</span>
                            <i class="query display-inline-block-imp" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Multiple of Invested Capital"></i>
                            <label class="value" id=moical> {{moic}}x </label>
                          </div>
                        </li>
                        <li class="col-xs-3 col-lg-3 col-md-3 col-sm-3 irr">
                          <div class="box">
                            <img src="{%static 'assets/media/model-irr.png'%}" alt="">
                            <span class="display-inline-block-imp">IRR</span>
                            <i class="query display-inline-block-imp" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Internal Rate of Return (annual compounded return)"></i>
                            <label class="value" id=irrcal> {{irr}}% </label>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="part part-two white-brgd">
                  <div class="title unique-title">
                    <label>FINANCIAL MODEL</label>
                  </div>
                  <div class="table-content table-responsive" style="overflow-x: auto; white-space: nowrap;">
                    <table class="table">
                      <thead>
                        <tr>
                          <th></th>
                          <th>DAY 0</th>
                          <th>Year 1</th>
                          <th>Year 2</th>
                          <th>Year 3</th>
                          <th>Year 4</th>
                          <th>Year 5</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <span>investment</span>
                          </td>
                          <td><span>( &#8377; {{obj.Allinprice}} )</span></td>

                        </tr>
                        <tr>
                          <td>
                            <span>rents</span>
                            <i class="query display-inline-block-imp" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Actuals as per rent agreement"></i>
                          </td>
                          <td><span></span></td>
                          {% for hi in rentalincome%}
                            <td><span>{{hi}}</span></td>
                          {% endfor %}

                        </tr>
                        <tr>
                          <td>
                            <span>interest on deposit</span>
                            <i class="query display-inline-block-imp" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Assuming 6% on 8 months deposit"></i>
                          </td>
                          <td><span></span></td>
                          {% for hi in rentalincome%}
                            <td><span>{{iod}}</span></td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td>
                            <span>sale value</span>
                            <i class="query display-inline-block-imp" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Assuming 10% annual appreciation"></i>
                          </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="sales-value"><span class="value" id=salepricecal>{{saleprice}}</span></td>
                        </tr>
                        <tr class="total">
                          <td><span>TOTAL</span></td>
                          <td><span>( &#8377; {{obj.Allinprice}} )</span></td>
                          {% for to in Total%}
                            <td><span>&#8377;{{to}}</span></td>
                          {% endfor %}
                            <td><span id=Totallast>&#8377;{{Totallast}}</span></td>
                      </tr>

      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="tab-pane reports-section" id="reports">
  <div class="reports-container">
    <div class="wrapper-sub">
      <div class="reports-details overflow-hidden">
        <div class="reports-list white-brgd">
          <ul>
            <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
              <div class="report-box">
                <div class="title unique-title">
                  <label class="text-uppercase">Investment Note</label>
                </div>
                <div class="image">
                  <img src="{%static 'assets/report/legal-title-report.png'%}" alt="">
                </div>
                <div class="text">
                  <p>A detailed investment note on the property by our Investment Team</p>

                  <p>&nbsp;</p>

                </div>
                <div class="download">
                  <a href="{{obj.ReportFile.url}}" download={{obj.NameProperty}}>Download</a>
                </div>
              </div>
            </li>
            <li class="col-xs-12 col-lg-6 col-md-6 col-sm-6">
              <div class="report-box">
                <div class="title unique-title">
                  <label class="text-uppercase">Legal Due Diligence Report</label>
                </div>
                <div class="image">
                  <img src="{%static 'assets/report/investment-note.png'%}" alt="">
                </div>
                <div class="text">
                  <p>A detailed report on the title by our {{user.username}}</p>

                  <p>&nbsp;</p>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tab-pane updates-section" id="updates">
  <div class="updates-container">
    <div class="wrapper-sub">
      <div class="updates-details overflow-hidden white-brgd">
        <div class="title unique-title">
          <label>KEY UPDATES</label>
        </div>
        <div class="papers-review">
          <div class="review-content">
            <div class="text-content">
              <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block">
                  <div class="cd-timeline-img cd-picture">
                    <img src="{%static 'assets/media/circle-grey-update.png'%}" alt="Picture">
                  </div> <!-- cd-timeline-img -->

                  <div class="cd-timeline-content">
                    <p>Agreement signed with L&amp;T</p>
                    <span class="cd-date">{{obj.ListingOpen}}</span>
                  </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
                <div class="cd-timeline-block">
                  <div class="cd-timeline-img cd-picture">
                    <img src="{%static 'assets/media/circle-grey-update.png'%}" alt="Picture">
                  </div> <!-- cd-timeline-img -->

                  <div class="cd-timeline-content">
                    <p>Listing opened</p>
                    <span class="cd-date">{{obj.ListingOpen}}</span>
                  </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
              </section> <!-- cd-timeline -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade investNow-popup" id="investNow-modal" tabindex="-1" role="dialog" aria-labelledby="investNow-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="investNow-modalLabel">How Much Do You Want To Invest ?</h4>
      </div>
      <div class="modal-body">
        <div class="invest-now-container">
          <div class="input-div text-center">
            <input type="hidden" id="rental_yield_percentage" value="9">
            <div class="number-box col-xs-6 col-lg-3 col-md-3 col-sm-3">
              <span>&#8377;</span>
              <input type="text" id="bid_now_input_box" class="onlyNumber" data-sliderstep="100000" data-errmin="Amount cannot be less than minimum investment" data-errmax="Amount should be less than total funding required" data-errtext="Amount should be in multiple of lakhs" data-value="2000000" value="20,00,000">
            </div>
          </div>
          <label class="validation"></label>
          <div class="invest-slider-wrapper">

            <div class="slider-container pre_book">
              <div class="hide" id="slider-data-content" data-status="invest_now" data-type="equity" data-total="{{Allinprice}}" data-allinprice="{{Allinprice}}" data-minimum="2000000" data-active="{{Allinprice}}" data-disabled="0" data-monthlyrent="1142752"></div>
              <div class="slider-detail init">
                <div class="slider-content">
                  <input class="detail-slider" data-slider-class='detail-slider' type="text" data-slider-min="0" data-slider-max="2000000" data-slider-step="100000" data-slider-value="2000000" data-slider-enabled="false"/>
                  <!-- <img src="https://www.propertyshare.in/assets/media/circle-dot-blue.png" alt="" class="dot right"> -->
                </div>
              </div>
              <div class="slider-detail invest_now active">
                <div class="slider-content">
                  <input class="detail-slider" id="uftt" onchange="myFunction()" disabled data-slider-class='detail-slider' type="text" data-slider-min="2000000" data-slider-max="{{Allinprice}}" data-slider-step="100000" data-slider-value="2000000" />
                </div>
                <img src="{%static 'assets/media/circle-dot.png'%}" alt="" class="dot left">
                <img src="{%static 'assets/media/circle-dot.png'%}" alt="" class="dot right">
                <span class="text-label top-left">{{obj.MinInvestment}}L</span>
                <span class="text-label bottom-left">Min Investment</span>
                <span class="text-label top-right">{{obj.Allinprice}}Cr</span>
                <span class="text-label bottom-right">Property Value</span>

              </div>
              <div class="slider-detail disabled">
                <div class="slider-content">
                  <input class="detail-slider" disabled  data-slider-class='detail-slider' type="text" data-slider-min="0" data-slider-max="79000000" data-slider-step="100000" data-slider-value="79000000" data-slider-enabled="false"/>

                  <script>
                  function myFunction() {
                        var x = document.getElementById('uftt').value
                        var y = 2;
                        $.ajax({
                          type: 'POST',
                          url: '/property/{{obj.NameProperty}}/',
                          dataType : 'json',
                          data: {'mininvest':x ,'chk':y, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                          success: function (data, textStatus) {
                             document.getElementById("ownership").innerHTML = data[0]+"%";
                             document.getElementById("rentpm").innerHTML = "&#8377;"+data[1];
                          },
                          error: function(xhr, status, e) {
                            alert(status, e);
                          }
                        });
                    }
                  </script>
                </div>
                <img src="{%static 'assets/media/circle-dot-blue.png'%}" alt="" class="dot right">
              </div>
            </div>
            <div class="wish-buy">

            </div>
          </div>
          <div class="slider-result">
            <div class="list">
              <ul>
                <li class="col-xs-4 col-lg-4 col-md-4 col-sm-4 slider-result-yield  ps-p-l-0 ps-p-r-0">
                  <div class="result-box">
                    <img class="child" src="{%static 'assets/media/rental-yield-black.png'%}" alt="">

                    <label class="child">Rental Yield <sup><i class="query display-inline-block-imp" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="The average yield over 5 years is 8.6%" style="z-index: 1060;"></i></sup></label>
                    <span class="child value">{{obj.NetYield}}%</span>
                  </div>
                </li>
                <li class="col-xs-4 col-lg-4 col-md-4 col-sm-4 ps-p-l-0 ps-p-r-0">
                  <div class="result-box">
                    <img class="child" src="{%static 'assets/media/interest-rate-black.png'%}" alt="">
                    <label class="child">Rent/<i>Per Month</i>
                    </label>

                    <span class="child current_monthly_rent_text" id=rentpm>&#8377;{{rentpm}}</span>
                  </div>
                </li>
                <li class="col-xs-4 col-lg-4 col-md-4 col-sm-4 ps-p-l-0 ps-p-r-0">
                  <div class="result-box">
                    <img class="child" src="{%static 'assets/media/ownership-new.png'%}" alt="">
                    <label class="child">Ownership</label>
                    <span id=ownership>{{Ownership}}%</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="cnfm-invest">
              <button data-role="button" data-toggle="modal" data-dismiss="modal" data-target="#investNow-modal-cnfm">CONFIRM INVESTMENT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade investNow-popup-cnfm" id="investNow-modal-cnfm" tabindex="-1" role="dialog" aria-labelledby="investNow-modal-cnfm" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="investNow-modalLabel">INVESTMENT CONFIRMATION</h4>
      </div>
      <div class="modal-body">
        <div id="save-details-error" style="display: none;">
          <span> There was some error processing your request. Please contact info@propertyshare.in to book an appointment </span>
        </div>
        <div class="cnfm-content">
          <div class="image text-center">
            <img src="{%static 'assets/media/details-cal-confirm.png'%}" alt="">
          </div>
          <div class="cnfm-text">
            <span class="investment-success-message">Thank you for your interest</span>
            <span class="investment-success-message">Book Now</span>
            <span class="investment-success-message">Our investment team will get in touch with you shortly!</span>

            <img src="http://www.globe-motor.co.uk/wp-content/uploads/2017/09/Book-Now-Button-PNG-Image.png" style="cursor: pointer;width: 48%;margin-left:  auto;margin-right:  auto;display: block;" data-appointlet-organization="hostmud"><script src="https://www.appointletcdn.com/loader/loader.min.js" async="" defer=""></script>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
.popover{
  z-index: 199999 !important;
}
.ps-p-l-0{
  padding-left: 0;
}
.ps-p-r-0{
  padding-right: 0;
}
</style>
<!-- footer -->
<footer class="footer blue-brgd">
  <div class="wrapper-sub">
    <div class="wrapper section-padding foo">
      <div class="container">
        <div class="footer-main">
          <div class="col-lg-4 col-md-4 col-sm-4 left text-center">
            <div class="content">
              <div class="logo">
                <img src="{%static 'assets/media/logo-new-2.png'%}" alt="">
              </div>
              <!-- <div class="text visibility-hidden">
              <span>Application of game elements and digital game design techniques to non-game problems, such as business and social impact challenges. This course will teach you the mechanisms of gamification, why </span>
            </div> -->
            <div class="social-icons hidden-xs">
              <ul>
                <!-- <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                <a href="" target="_blank">
                <div class="icon linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </div>
            </a>
          </li> -->
          <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
            <a href="https://www.facebook.com/propertyshareindia/" target="_blank">
              <div class="icon facebook">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 right text-center hidden-xs">
    <div class="main col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="content">
        <div class="title">
          <span>MAIN</span>
        </div>
        <div class="list">
          <ul>
            <li>
              <span>
                <a href="#">properties</a>
              </span>
            </li>
            <li>
              <span>
                <a href="#">about us</a>
              </span>
            </li>
            <li>
              <span>
                <a href="#">contact us</a>
              </span>
            </li>
            <li>
              <span>
                <a href="#">FAQs</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="legal col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="content">
        <div class="title">
          <span>LEGAL</span>
        </div>
        <div class="list">
          <ul>
            <li>
              <span>
                <a>terms &amp; conditions</a>
              </span>
            </li>
            <li>
              <span>
                <a>privacy policy</a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="footer-lower text-center">
  <div class="wrapper wrapper-sub">
    <div class="container">
      <div class="text">
        <span>Investment in real estate involves a degree of risk and investors should not invest any funds unless they can afford to take the risk of losing their investment. For taking an investment decision, investors must rely on their own examination of the property including the risks involved.</span>
      </div>
      <div class="copy-right">
        <span>Copyright © Property Share Online Platform Pvt. Ltd.</span>
      </div>
    </div>
  </div>
</div>
</div>
</footer>
<!-- footer close -->
</div>
</div>
</div>
<div class="modal fade request-confirmation-modal" id="request-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="request-confirmation-modal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title text-center">CONFIRMATION</h4>
      </div>
      <div class="modal-body">
        <div class="cnfm-content">
          <div class="image text-center">
            <img style="padding-top: 10px;width: 60px;" src="{%static 'assets/media/details-cal-confirm.png'%}" alt="">
          </div>
          <div class="cnfm-text" style="text-align: center;margin-top: 30px;">
            <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">Thank you for your interest</span>
            <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">We will get in touch with you shortly!</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
$(document).ready(function() {
  if($(".invest-offer-strip").css('display') !== 'none' && typeof $(".invest-offer-strip").css('display') !== 'undefined'){
    $(".invest-now").css("top","53px");
  }
});
</script>
