{%load staticfiles %}
<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta name="msvalidate.01" content="CE62852AD85E08A8AF201E0C275F649D" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webinars - PropertyShare</title>
    <meta description ="Property Share">
    <meta keywords ="Fractional Property Ownership, Real Estate, Real Estate in India, Invest Online, Investment, Property Investment in India, Commercial Property Investment in India, Real Estate Investing Online, Investment Properties India, High Yield Returns, Commercial Property Yields">
    <link rel="shortcut icon" type="image/png" href="{%static 'assets/media/fav-1.png' %}">
    <script src="{%static 'themes/flatly/js/libs/vue.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/modernizr.js' %}"></script>

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/font.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/select2.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/bower_components/font-awesome/css/font-awesome.min.css' %}">

    <link media="all" type="text/css" rel="stylesheet" href="{%static 'themes/flatly/css/maine545.css' %}">

    <script src="{%static 'themes/flatly/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{%static 'themes/flatly/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{%static 'themes/flatly/bower_components/underscore/underscore-min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/ejs.js' %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAnhnTgs34fO2OTnq4Fg7DLEt5gjxln8"></script>
    <script src="{%static 'themes/flatly/js/libs/jquery.googlemap.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/jquery.animateNumber.min.js' %}"></script>

    <script src="{%static 'themes/flatly/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/carousel.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/bxslider.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/select2.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/piechart.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/intlTelInput.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/mmenu.min.js' %}"></script>

    <script src="{%static 'themes/flatly/js/libs/main632b.js' %}"></script>

    <script src="{%static 'modules/blog/js/socialShare.min.js' %}"></script>
</head>
<body ng-app="propertyshare">
    <div id="page-content-wrapper">
        <div class="container-fluid no-padding">
            <div class="webpage">
<header class="header white-brgd">
    <div class="header-content wrapper">
        <div class="container no-padding">
            <div class="logo header-child no-padding col-xs-8 col-lg-3 col-md-3 col-sm-2">
                <a class="display-block col-xs-12 col-lg-3 col-md-3 col-sm-3" href="{%url 'index'%}">
                    <img src="{%static 'assets/media/logo-blue.png'%}" alt="Property Share logo">
                </a>
            </div>
            <div class="links hidden-xs header-child no-padding col-xs-4 col-lg-6 col-md-6 col-sm-6">
                <div class="for-white-space">
                    <ul class="main-links-ul text-center">
                        <li class="main-links-li"><a class="white-text" href="{%url 'property-listing'%}">PROPERTIES</a></li>
                        <li class="main-links-li"><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                            <li class="dropdown main-links-li" style="cursor:pointer">
                                <a class="dropdown-toggle white-text" data-toggle="dropdown">RESOURCE CENTER
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="left: 0px;min-width: 182px;">
                                  <li><a href="{%url 'faq'%}"><span class="fa fa-question-circle" aria-hidden="true"></span>FAQs</a></li>
                                  <li><a href="{%url 'articles'%}"><span class="fa fa-pencil-square-o" aria-hidden="true"></span>ARTICLES</a></li>
                                  <li><a href="{%url 'investor-profile'%}"><span class="fa fa-users" aria-hidden="true"></span>INVESTOR PROFILE</a></li>
                                  <li><a href="{%url 'webinars'%}"><span class="fa fa-podcast" aria-hidden="true"></span>WEBINARS</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>

            <div class="links login-links hidden-xs header-child no-padding col-xs-4 col-lg-3 col-md-3 col-sm-4">
              <div class="for-white-space">
                <ul class="main-links-ul text-right">
                  {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'dashboard'%}>DASHBOARD</a></li>
                  {% endif %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'logout'%}>LOGOUT</a></li>
                  {% else %}
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn transparent" data-role="button" href={% url 'login'%}>LOGIN</a></li>
                  <li class="main-links-li"><a class="white-text cursor-pointer link-popup-btn signup-modal-trigger" data-role="button" href={% url 'register'%}>SIGN UP</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>

            <a class="menu-mobile visible-xs" href="#menu"><span></span></a>
            <nav id="menu" class="visible-xs visibility-hidden">
                <ul>
                    <li class="cross"><span class="white-text">X</span></li>
                    <li><span class="main heading white-text-thirty">MAIN</span></li>
                    <li><a class="white-text" href="{%url 'index'%}">HOME</a></li>
                    <li><a class="white-text" href="{%url 'property-listing'%}">PROPERTIES</a></li>
                    <li><a class="white-text" href="{%url 'how-it-works'%}">HOW IT WORKS</a></li>
                    <li><a class="white-text" href="{%url 'about-us'%}">ABOUT US</a></li>
                    <li><a class="white-text" href="{%url 'contact-us'%}">CONTACT US</a></li>
                                            <li><a class="white-text" onclick="mobileLogin()">LOGIN</a></li>
                                        <li><a class="white-text" href="{%url 'faq'%}">FAQs</a></li>
                    <li><a class="white-text" href="{%url 'articles'%}">ARTICLES</a></li>
                    <li><a class="white-text" href="{%url 'investor-profile'%}">INVESTOR PROFILE</a></li>
                    <li><a class="white-text" href="{%url 'webinars'%}">WEBINARS</a></li>
                    <li><span class="legal heading white-text-thirty">LEGAL</span></li>
                    <li><a class="white-text">TERMS &amp; CONDITIONS</a></li>
                    <li><a class="white-text">PRIVACY POLICY</a></li>
                    <li><span class="social heading white-text-thirty">SOCIAL</span></li>
                    <ul class="social">
                        <!-- <li class="icon-li"><a class="white-text"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->
                        <li class="icon-li"><a href="https://www.facebook.com/propertyshareindia/" class="white-text" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                </ul>
            </nav>
        </div>
    </div>
</header>

    <script type="text/javascript" src="../web.mxradon.com/t/Tracker.js"></script>
    <script type="text/javascript">
        pidTracker('13881');
    </script>


<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFCV59J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 923832581;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="{http://googleads.g.doubleclick.net/pagead/viewthroughconversion/923832581/?guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript">
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WFCV59J');
</script>

    <!-- signin model  -->
<div class="modal fade login-credentials" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="signinModalLabel">Welcome Back!</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                                        <label class="errMsg"></label>
                    <div id="activation_email_button_login" class="having_account text-center bottom-line" style="display: none">
                        <form name="resend-activation-email-form-login" action="https://www.propertyshare.in/api/resend-activation-email">
                            <input type="hidden" id="activation_email_link_login">
                        </form>
                        <span><a id="trigger_activation_email_login" data-role="button" data-email=''>Resend Activation Email</a></span>
                    </div>
                    <form name="signin" action="https://www.propertyshare.in/api/login">
          			   <div class="mat-div form-group ">
        					<label class="label mat-label">User Name</label>
        				    <input type="email" name="email" autocomplete="off" class="form-control mat-input user-icon" placeholder="">

          			    </div>
                        <div class="mat-div form-group ">
        					<label class="label mat-label">Password</label>
        				    <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">

                        </div>
                        <div class="forget-password form-group no-border-important">
                            <span class="cursor-pointer" data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#fp-popup">Forgot Password?</span>
                        </div>
                        <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_login">
                        <input type="hidden" name="city" class="user_city">
                        <input type="hidden" name="state" class="user_state">
                        <input type="hidden" name="country" class="user_country">
                        <input type="hidden" value="">
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Sign In">Sign In</i></button>
                        </div>
          		    </form>

          		    <div class="form-group text-center bottom-line">
          			   <span>Haven’t registered yet? <a data-role="button" data-dismiss="modal" data-toggle="modal" data-target="#signup" class="cursor-pointer">Register</a></span>
          		    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signin model close -->

<!-- signup model -->
<div class="modal fade login-credentials" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <img src="https://www.propertyshare.in/assets/media/signup-back.png" alt="" class="pull-left back cursor-pointer" data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin"> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="signupModalLabel">Register Now!</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                    <label class="errMsg"></label>
                    <div id="activation_email_button_signup" class="having_account text-center bottom-line" style="display: none">
                        <form name="resend-activation-email-form-signup" action="https://www.propertyshare.in/api/resend-activation-email">
                            <input type="hidden" id="activation_email_link_signup">
                        </form>
                        <span><a id="trigger_activation_email_signup" data-role="button" data-email=''>Resend Activation Email</a></span>
                    </div>
                    <form name="signup" action="https://www.propertyshare.in/api/register">
                        <div class="mat-div form-group ">
                            <label class="label mat-label">Email</label>
                            <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">

                        </div>
                        <div class="mat-div form-group ">
                            <label class="label mat-label">Password</label>
                            <input type="password" name="password" autocomplete="off" class="form-control mat-input password-icon" placeholder="">
                        </div>
                        <div class="mat-div form-group form-group overflow-hidden no-border-important">
                            <div class="form-group col-xs-6 no-padding ">
                                <label class="label mat-label">First Name</label>
                                <input type="name" name="first_name" autocomplete="off" class="form-control mat-input user-icon" placeholder="">
                            </div>
                            <div class="mat-div form-group col-xs-6 no-padding ">
                                <label class="label mat-label">Last Name</label>
                                <input type="name" name="last_name" autocomplete="off" class="form-control mat-input" placeholder="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="label">Phone</label>
                            <input type="text" name="phone_number" autocomplete="off" class="form-control onlyNumber user-phone" placeholder="">
                        </div>
                        <input type="hidden" name="leadsquared_cookie" id="leadsquared_cookie_signup">
                        <input type="hidden" name="city" class="user_city">
                        <input type="hidden" name="state" class="user_state">
                        <input type="hidden" name="country" class="user_country">
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Register">Register</i></button>
                        </div>
                    </form>
                    <div class="having_account text-center bottom-line">
                        <span>Have an account? <a data-dismiss="modal" data-role="button" data-toggle="modal" data-target="#signin">Sign In</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signup model close -->


<!-- forget password -->
<div class="modal fade login-credentials" id="fp-popup" tabindex="-1" role="dialog" aria-labelledby="fp-popup">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="login-title modal-title text-center" id="fp-popup-ModalLabel">Forgot Password?</h4>
            </div>
            <div class="modal-body">
                <div class="credentials-content">
                    <div class="title text-center">
                       <span>Enter valid email id to reset your password</span>
                    </div>
                    <label class="errMsg"></label>
                    <form name="forgotPassword" action="https://www.propertyshare.in/api/resetPassword" style="padding-bottom: 25%;">
                        <div class="mat-div form-group">
                            <label class="label mat-label">Email</label>
                            <input type="email" name="email" autocomplete="off" class="form-control mat-input user-email" placeholder="">
                        </div>
                        <div class="form-group no-border-important">
                            <button type="submit" class="form-control submit"> <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <i data-text="Submit">Submit</i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forget password -->
<style>
    .blog-index-container .blog-title-preview {
        font-size: 22px;
    }
    .blog-index-container .read-more-btn button {
        width: 132%;
    }
    .blog-index-container .blog-content-preview {
        line-height: 1.5;
    }

    @media  only screen and (min-width: 320px) and (max-width: 480px) {
        .blog-index-container .read-more-blog-btn {
            width: 282% !important;
        }
        .section-padding {
            padding: 28% 0 !important;
        }
        .blog-index-container .blog-section-head {
            font-size: 20px !important;
        }
    }
    @media  only screen and (min-width: 240px) and (max-width: 319px) {
        .blog-index-container .read-more-blog-btn {
            width: 400% !important;
        }
        .section-padding {
            padding: 55% 0 !important;
        }
        .blog-index-container .blog-section-head {
            font-size: 18px !important;
        }
    }
</style>
<div class="static-page">
    <div class="wrapper-sub">
        <div class="blogs-container static-checks-box section-padding-semi">
            <div class="title-heading">
                <h1>WEBINARS</h1>
            </div>
        </div>
    </div>
</div>

<div class="light-grey-brgd blog-index-container">
    <div class="container">
                            <div class="row">
                <div class="col-lg-12">
                    <h1 class="blog-section-head"> COMPLETED WEBINARS</h1>
                </div>
                                <div class="col-lg-12">
                    <hr>
                    <div class="go-bottom-30">
                        <div class="blog-image-preview col-lg-4">
                                                            <img class="image-responsive blog-image" src="{%static 'assets/webinars/seawoods-thumbnail_1.jpg'%}">
                                                    </div>
                        <div class="col-lg-8 no-padding-mobile">
                            <div class="blog-preview-section">
                                <h2 class="blog-title-preview"> LIVE Webinar: Seawoods Grand Central - 9.0% Yield and 17.1% IRR</h2>
                                <h2 class="blog-details-preview">Kunal Moktan</h2>
                                <h2 class="blog-details-preview">Date & Time : 30 Mar 2018 @ 11:30 - 12:15 (IST)</h2>
                                <p class="blog-content-preview" align="justify"> Property Share will be holding a webinar for potential investors interested in the Seawoods Grand Central transaction. We will discuss the investment opportunity in great detail, covering the overall strategy, the various attributes of the property, as well as the financials behind the investment.
</p>
                            </div>
                                                    </div>
                    </div>
                </div>
                                <div class="col-lg-12">
                    <hr>
                    <div class="go-bottom-30">
                        <div class="blog-image-preview col-lg-4">
                                                            <img class="image-responsive blog-image" src="{%static 'assets/webinars/seawoods-thumbnail_1.jpg'%}">
                                                    </div>
                        <div class="col-lg-8 no-padding-mobile">
                            <div class="blog-preview-section">
                                <h2 class="blog-title-preview"> Webinar[10th Mar 2018] Seawoods Grand Central - 9.02% Yield and 17.0% IRR</h2>
                                <h2 class="blog-details-preview">Kunal Moktan</h2>
                                <h2 class="blog-details-preview">Date & Time : 10 Mar 2018 @ 11:30 - 12:15 (IST)</h2>
                                <p class="blog-content-preview" align="justify"> Property Share will be holding a webinar for potential investors interested in the Seawoods Grand Central transaction. We will discuss the investment opportunity in great detail, covering the overall strategy, the various attributes of the property, as well as the financials behind the investment.
</p>
                            </div>
                                                        <div class="read-more-btn section-padding">
                                <a href="javascript:;">
                                    <button id="webinar-recording-1860877639724098305" data-role="button" data-title="Webinar[10th Mar 2018] Seawoods Grand Central - 9.02% Yield and 17.0% IRR" data-recordingurl="https://www.youtube.com/embed/zqSut4y6c_U" data-toggle="modal" data-target="#webinar-recording-modal" class="form-control blue read-more-blog-btn webinarRecordingModalBtn">Watch Recording</button>
                                </a>
                            </div>
                                                    </div>
                    </div>
                </div>
                                <div class="col-lg-12">
                    <hr>
                    <div class="go-bottom-30">
                        <div class="blog-image-preview col-lg-4">
                                                            <img class="image-responsive blog-image" src="{%static 'assets/webinars/bkc-daytime_1.jpg'%}">
                                                    </div>
                        <div class="col-lg-8 no-padding-mobile">
                            <div class="blog-preview-section">
                                <h2 class="blog-title-preview"> Webinar[13th Jan 2018] The Capital - Q&amp;A session</h2>
                                <h2 class="blog-details-preview">Kunal Moktan</h2>
                                <h2 class="blog-details-preview">Date & Time : 13 Jan 2018 @ 12:00 - 12:30 (IST)</h2>
                                <p class="blog-content-preview" align="justify"> Property Share will be holding a webinar for potential investors interested in the The Capital transaction. This will be an open Q&amp;A session where registered users can ask questions related to the property, the investment model or general questions about Property Share.
</p>
                            </div>
                                                    </div>
                    </div>
                </div>
                                <div class="col-lg-12">
                    <hr>
                    <div class="go-bottom-30">
                        <div class="blog-image-preview col-lg-4">
                                                            <img class="image-responsive blog-image" src="{%static 'assets/webinars/bkc-main_1.jpg'%}">
                                                    </div>
                        <div class="col-lg-8 no-padding-mobile">
                            <div class="blog-preview-section">
                                <h2 class="blog-title-preview"> Webinar[24th Dec 2017] The Capital, BKC - 8.75% Yield and 17.6% IRR</h2>
                                <h2 class="blog-details-preview">Kunal Moktan</h2>
                                <h2 class="blog-details-preview">Date & Time : 24 Dec 2017 @ 12:00 - 12:30 (IST)</h2>
                                <p class="blog-content-preview" align="justify"> Property Share will be holding a webinar for potential investors interested in the The Capital, BKC listing. We will discuss the investment opportunity in great detail, covering the overall strategy, the various attributes of the property, as well as the financials behind the investment.
</p>
                            </div>
                                                        <div class="read-more-btn section-padding">
                                <a href="javascript:;">
                                    <button id="webinar-recording-8698782232601871107" data-role="button" data-title="Webinar[24th Dec 2017] The Capital, BKC - 8.75% Yield and 17.6% IRR" data-recordingurl="https://www.youtube.com/embed/CowuB_fXSu4" data-toggle="modal" data-target="#webinar-recording-modal" class="form-control blue read-more-blog-btn webinarRecordingModalBtn">Watch Recording</button>
                                </a>
                            </div>
                                                    </div>
                    </div>
                </div>
                                <div class="col-lg-12">
                    <hr>
                    <div class="go-bottom-30">
                        <div class="blog-image-preview col-lg-4">
                                                            <img class="image-responsive blog-image" src="{%static 'assets/webinars/debt-1_1.jpg'%}">
                                                    </div>
                        <div class="col-lg-8 no-padding-mobile">
                            <div class="blog-preview-section">
                                <h2 class="blog-title-preview"> Webinar[17th Nov 2017] How Debt Affects Investment Returns</h2>
                                <h2 class="blog-details-preview">Kunal Moktan</h2>
                                <h2 class="blog-details-preview">Date & Time : 17 Nov 2017 @ 12:00 - 12:45 (IST)</h2>
                                <p class="blog-content-preview" align="justify"> Join us on 17th November to know about an important aspect in any form of investing - Debt also called Leverage, Gearing or simply a Loan.
</p>
                            </div>
                                                        <div class="read-more-btn section-padding">
                                <a href="javascript:;">
                                    <button id="webinar-recording-3608748182049601794" data-role="button" data-title="Webinar[17th Nov 2017] How Debt Affects Investment Returns" data-recordingurl="https://www.youtube.com/embed/G2RwfZLWBuk" data-toggle="modal" data-target="#webinar-recording-modal" class="form-control blue read-more-blog-btn webinarRecordingModalBtn">Watch Recording</button>
                                </a>
                            </div>
                                                    </div>
                    </div>
                </div>
                                <div class="col-lg-12">
                    <hr>
                    <div class="go-bottom-30">
                        <div class="blog-image-preview col-lg-4">
                                                            <img class="image-responsive blog-image" src="{%static 'assets/webinars/ets-webinar.jpg'%}">
                                                    </div>
                        <div class="col-lg-8 no-padding-mobile">
                            <div class="blog-preview-section">
                                <h2 class="blog-title-preview"> Webinar [27th Oct 2017] Embassy Tech Square - 7.6% Yield and 18.4% IRR</h2>
                                <h2 class="blog-details-preview">Kunal Moktan</h2>
                                <h2 class="blog-details-preview">Date & Time : 27 Oct 2017 @ 12:00 - 12:45 (IST)</h2>
                                <p class="blog-content-preview" align="justify"> Property Share will be holding a webinar for potential investors interested in the Embassy Tech Park transaction. We will discuss the investment opportunity in great detail, covering the overall strategy, the various attributes of the property, as well as the financials behind the investment.
</p>
                            </div>
                                                        <div class="read-more-btn section-padding">
                                <a href="javascript:;">
                                    <button id="webinar-recording-1813872415207273473" data-role="button" data-title="Webinar [27th Oct 2017] Embassy Tech Square - 7.6% Yield and 18.4% IRR" data-recordingurl="https://www.youtube.com/embed/6Frc15nonzs" data-toggle="modal" data-target="#webinar-recording-modal" class="form-control blue read-more-blog-btn webinarRecordingModalBtn">Watch Recording</button>
                                </a>
                            </div>
                                                    </div>
                    </div>
                </div>
                            </div>
                    </div>
</div>
<div class="modal fade" id="webinar-recording-modal" tabindex="-1" role="dialog" aria-labelledby="webinarRecordingModalLable">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center youtubeLinkModalLabel" id="youtubeLinkModalLabel"></h4>
            </div>
            <div class="modal-body">
                <iframe id="webinarRecordingModalIframe" src="#" data-src="" class="video" width="550" height="350"  allowfullscreen style="max-width: 100%;"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="modal fade request-confirmation-modal" id="webinar-registration-success-modal" tabindex="-1" role="dialog" aria-labelledby="webinar-registration-success-modal" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-center">CONFIRMATION</h4>
        </div>
        <div class="modal-body">
            <div class="cnfm-content">
                <div class="image text-center">
                    <img style="padding-top: 10px;width: 60px;" src="{%static 'assets/media/details-cal-confirm.png'%}" alt="">
                </div>
                <div class="cnfm-text" style="text-align: center;margin-top: 30px;">
                    <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">Successfully registered for webinar</span>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<script>
var currentUser = '';
var source = 'website';
var webinarKeyQueryParam = '';
var action = '';

function onClickWebinarRegistration(webinarKey){
    var userLogin = currentUser ? true : false;

    if(typeof webinarKey !== 'undefined' && webinarKey){
        localStorage.setItem('webinarKey', webinarKey);
        localStorage.setItem('webinarreg', true);
        if(!userLogin){
            localStorage.setItem('loginthroughpage', true);
           $('#signin').modal('toggle');
        }
        else{
            registerToWebinar(webinarKey,source);
        }
    }
}

var recordingBtn = "";
$('.webinarRecordingModalBtn').on('click',function(){
    recordingBtn = $(this);
});
$('#webinar-recording-modal').on('show.bs.modal', function() {
    var modal = $(this).get(0);
    var button = recordingBtn;
    var recordingurl = button.data('recordingurl') + '?autoplay=1';
    var title = button.data('title');
    $(modal).find('h4').text(title);
    $(modal).find('iframe').attr('src', recordingurl);
});
$('#webinar-recording-modal').on('hidden.bs.modal', function () {
    var modal = $(this).get(0);
    var youtubeLink = $(modal).find('iframe').data('src');
    $(modal).find('iframe').attr('src', '');
});

$(document).ready(function(){
    if(action == 'reg'){
        var userLogin = typeof currentUser !== 'undefined' && currentUser ? true : false;
        var webinarreg = localStorage.getItem('webinarreg');
        var userLoginFromPage = localStorage.getItem('loginfrompage');

        if((userLogin === true)){
            if((typeof userLoginFromPage == 'undefined' || userLoginFromPage == '' || !userLoginFromPage) && typeof webinarKeyQueryParam !== 'undefined' && webinarKeyQueryParam){
                registerToWebinar(webinarKeyQueryParam,source);
            }
            else if(typeof webinarreg != 'undefined'){
                if((webinarreg === 'true')){
                    var webinarKey = localStorage.getItem('webinarKey');
                    registerToWebinar(webinarKey,source);
                }
            }
        }
    }
    else if(action == 'recording'){
        $('#webinar-recording-'+webinarKeyQueryParam).trigger( "click" );
    }

});

// webinar registration code start
function registerToWebinar(webinarKey,source){

    localStorage.removeItem('webinarKey');
    localStorage.setItem('webinarreg', false);
    ga('send', 'event', 'WEBINARREGISTRATION', 'Submit');
    $.ajax({
        url: 'webinar/register',
        method: "POST",
        data:{webinarKey:webinarKey,source:source},
        success: function(response){
        },
        error: function(err){
        }
    });
    $('#webinar-registration-success-modal').modal('toggle');
}
// webinar registration code end
</script>
<!-- footer -->
<footer class="footer blue-brgd">
    <div class="wrapper-sub">
        <div class="wrapper section-padding foo">
            <div class="container">
                <div class="footer-main">
                    <div class="col-lg-4 col-md-4 col-sm-4 left text-center">
                        <div class="content">
                            <div class="logo">
                                <img src="{%static 'assets/media/logo-new-2.png'%}" alt="">
                            </div>
                            <!-- <div class="text visibility-hidden">
                                <span>Application of game elements and digital game design techniques to non-game problems, such as business and social impact challenges. This course will teach you the mechanisms of gamification, why </span>
                            </div> -->
                            <div class="social-icons hidden-xs">
                                <ul>
                                    <!-- <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                                        <a href="" target="_blank">
                                            <div class="icon linkedin">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </li> -->
                                    <li class="col-xs-2 col-lg-2 col-md-2 col-sm-3">
                                        <a href="https://www.facebook.com/propertyshareindia/" target="_blank">
                                            <div class="icon facebook">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 right text-center hidden-xs">
                        <div class="main col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="content">
                                <div class="title">
                                    <span>MAIN</span>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span>
                                                <a href="{%url 'property-listing'%}">properties</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'about-us'%}">about us</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'contact-us'%}">contact us</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a href="{%url 'faq'%}">FAQs</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="legal col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="content">
                                <div class="title">
                                    <span>LEGAL</span>
                                </div>
                                <div class="list">
                                    <ul>
                                        <li>
                                            <span>
                                                <a>terms &amp; conditions</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span>
                                                <a>privacy policy</a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-lower text-center">
            <div class="wrapper wrapper-sub">
                <div class="container">
                        <div class="text">
                            <span>Investment in real estate involves a degree of risk and investors should not invest any funds unless they can afford to take the risk of losing their investment. For taking an investment decision, investors must rely on their own examination of the property including the risks involved.</span>
                        </div>
                    <div class="copy-right">
                        <span>Copyright © Hostmud</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
            <!-- footer close -->
            </div>
        </div>
    </div>
    <div class="modal fade request-confirmation-modal" id="request-confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="request-confirmation-modal" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <h4 class="modal-title text-center">CONFIRMATION</h4>
        </div>
        <div class="modal-body">
            <div class="cnfm-content">
                <div class="image text-center">
                    <img style="padding-top: 10px;width: 60px;" src="{%static 'assets/media/details-cal-confirm.png'%}" alt="">
                </div>
                <div class="cnfm-text" style="text-align: center;margin-top: 30px;">
                    <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">Thank you for your interest</span>
                  <span style="font-size: 16px;font-family: 'proxi-thin';color: #2b2b2b;display: block;padding-bottom: 20px;">We will get in touch with you shortly!</span>
                </div>
            </div>
        </div>
      </div>
    </div>
</div></body>

</html>
